<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="utf-8">

		<title>Ritobroto Maitra</title>

		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<link rel="icon" href="img/favicon.ico" type="image/x-icon" />
		<link rel="stylesheet" href="css/style.css">

		<!--[if lt IE 9]>
			<script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
		<![endif]-->
	</head>

	<body>
		<div class="avatar">
			<img src="img/me2.jpg" alt="Avatar">
		</div>

		<div class="content">
			<h1 class="title">jethroFloyd<br></h1><h4>alternatively:<br> {rito, ritobroto} x {&#949;, maitra}
<br><br></h4>
			<p>
				Hello!<br>
				I have listed some stuff that I like or do or just have an opinion about. Feel free to browse around.<br><br>
				<a href="#"><img src="img/github.png" alt="Avatar"></a>
				<a href="#"><img src="img/mail.png" alt="Avatar"></a>
				<a href="#"><img src="img/twitter.png" alt="Avatar"></a><br><br>        
				&nbsp; <img src="img/marker.png" alt="Avatar"><br>Paris [FR] <br>previous locations (non-repeated chronological order): <br>Kolkata [IN], New Delhi [IN], Patna [IN], London [UK], Toulouse [FR], Edinburgh [UK], Leicester [UK], Cambridge [UK], Saint-Étienne [FR] 
<br>
			</p>
			<p>	Click to know more:<br>
				some technical stuff <br>
				some business stuff <br>
				some fun stuff <br>

			</p>

			<p><a href="mailto: ritobroto[at]ritobrotom[dot]com">get in touch.</a></p>

			A couple of links:<br><br>
			<p>
				[favourites] <br><br>
				[old] I have recently turned towards minimalism and precision. My old (and embarrassingly garish) page can be found <a href="#">here</a>.<br><br>
				[blog] Some of my ideas and opinions <a href="#">here</a>. These have been labelled dangerous, stupid, wrong (and all possible combinations thereof). UPDATE: Link Not Working Yet.<br><br>
			</p>
		</div>
	</body>
</html>