<?xml version="1.0" encoding="ISO-8859-1"?>
<config>
  <parameter name="language" value="en" />
  <parameter name="copyPrefix" value="copyOf" />
  <parameter name="numActionsEqualGroups" value="1" />
  <parameter name="validationRequired" value="true" />
  <parameter name="warningMessage" value="false" />
  <parameter name="welcomewindow" value="false" />
  <parameter name="urlUpdates" value="http://www.justinmind.com/updates/EVC" />
</config>

