#t-a8aec9a1-253f-439c-9ba8-f308737cccb9 #t-Rectangle_2 {
-ms-transform: rotate(0.0deg);
}
#t-a8aec9a1-253f-439c-9ba8-f308737cccb9 #t-Image_1 {
-ms-transform: rotate(0.0deg);
}
#t-a8aec9a1-253f-439c-9ba8-f308737cccb9 #t-Label_8 {
-ms-transform: rotate(0.0deg);
}
#t-a8aec9a1-253f-439c-9ba8-f308737cccb9 #t-Rich_text_2 {
-ms-transform: rotate(0.0deg);
}
#t-a8aec9a1-253f-439c-9ba8-f308737cccb9 #t-Button_1 {
border-top-width: 2px;
border-top-style: solid;
border-top-color: #CCCCCC;
border-right-width: 2px;
border-right-style: solid;
border-right-color: #CCCCCC;
border-bottom-width: 2px;
border-bottom-style: solid;
border-bottom-color: #CCCCCC;
border-left-width: 2px;
border-left-style: solid;
border-left-color: #CCCCCC;
-ms-transform: rotate(0.0deg);
}
#t-a8aec9a1-253f-439c-9ba8-f308737cccb9 #t-Image_2 {
-ms-transform: rotate(0.0deg);
}
#t-a8aec9a1-253f-439c-9ba8-f308737cccb9 #t-Label_3 {
-ms-transform: rotate(0.0deg);
}
#t-a8aec9a1-253f-439c-9ba8-f308737cccb9 #t-Label_4 {
-ms-transform: rotate(0.0deg);
}
#t-a8aec9a1-253f-439c-9ba8-f308737cccb9 #t-Label_5 {
-ms-transform: rotate(0.0deg);
}
#t-a8aec9a1-253f-439c-9ba8-f308737cccb9 #t-Label_6 {
-ms-transform: rotate(0.0deg);
}
#t-a8aec9a1-253f-439c-9ba8-f308737cccb9 #t-Label_9 {
-ms-transform: rotate(0.0deg);
}
#t-a8aec9a1-253f-439c-9ba8-f308737cccb9 #t-Label_10 {
-ms-transform: rotate(0.0deg);
}
#t-a8aec9a1-253f-439c-9ba8-f308737cccb9 #t-Label_11 {
-ms-transform: rotate(0.0deg);
}
#t-a8aec9a1-253f-439c-9ba8-f308737cccb9 #t-Label_12 {
-ms-transform: rotate(0.0deg);
}
#t-a8aec9a1-253f-439c-9ba8-f308737cccb9 #t-Label_13 {
-ms-transform: rotate(0.0deg);
}
#t-a8aec9a1-253f-439c-9ba8-f308737cccb9 > #loadMark {
width: 1px;
visibility: hidden;
display: none;
}