.jtwt { list-style: none;
    margin-left: 0;
}
.jtwt li { margin-bottom: 10px;
    background: url("../../img/single_post/twitter.png") no-repeat scroll left 0 transparent;
    padding-left: 24px;
}
.jtwt li:last-child { margin-bottom: 0px;

}
.jtwt_loader { font-weight: bold; }
.jtwt_picture { float: left; margin-right: 10px;
    display: none;
}
p.jtwt_tweet_text { text-align: justify;
    color: #9d9d9d;
}
a.jtwt_date { font-size: 12px; }