#s-13f89107-5c2f-4515-a766-088944a36cfb #s-base {
-ms-filter: ;
filter: ;
margin-left: 0px;
margin-top: 0px;
}
#s-13f89107-5c2f-4515-a766-088944a36cfb #s-Rectangle_4 {
-ms-filter: ;
filter: ;
margin-left: 0px;
margin-top: 0px;
}
#s-13f89107-5c2f-4515-a766-088944a36cfb #s-Image_5 {
-ms-filter: ;
filter: ;
margin-left: 0px;
margin-top: 0px;
}
#s-13f89107-5c2f-4515-a766-088944a36cfb #s-Label_9 {
-ms-filter: ;
filter: ;
margin-left: 0px;
margin-top: 0px;
}
#s-13f89107-5c2f-4515-a766-088944a36cfb #s-Label_10 {
-ms-filter: ;
filter: ;
margin-left: 0px;
margin-top: 0px;
}
#s-13f89107-5c2f-4515-a766-088944a36cfb #s-Rich_text_14 {
-ms-filter: ;
filter: ;
margin-left: 0px;
margin-top: 0px;
}
#s-13f89107-5c2f-4515-a766-088944a36cfb #s-Label_11 {
-ms-filter: ;
filter: ;
margin-left: 0px;
margin-top: 0px;
}
#s-13f89107-5c2f-4515-a766-088944a36cfb #s-About-over {
-ms-filter: ;
filter: ;
margin-left: 0px;
margin-top: 0px;
}
#s-13f89107-5c2f-4515-a766-088944a36cfb #s-Banner-central {
-ms-filter: ;
filter: ;
margin-left: 0px;
margin-top: 0px;
}
#s-13f89107-5c2f-4515-a766-088944a36cfb #s-Rich_text_7 {
-ms-filter: ;
filter: ;
margin-left: 0px;
margin-top: 0px;
}
#s-13f89107-5c2f-4515-a766-088944a36cfb #s-Label_8 {
-ms-filter: ;
filter: ;
margin-left: 0px;
margin-top: 0px;
}
#s-13f89107-5c2f-4515-a766-088944a36cfb #s-Rich_text_8 {
-ms-filter: ;
filter: ;
margin-left: 0px;
margin-top: 0px;
}
#s-13f89107-5c2f-4515-a766-088944a36cfb #s-Image_3 {
-ms-filter: ;
filter: ;
margin-left: 0px;
margin-top: 0px;
}
#s-13f89107-5c2f-4515-a766-088944a36cfb #s-Rich_text_16 {
-ms-filter: ;
filter: ;
margin-left: 0px;
margin-top: 0px;
}
#s-13f89107-5c2f-4515-a766-088944a36cfb #s-Label_7 {
-ms-filter: ;
filter: ;
margin-left: 0px;
margin-top: 0px;
}
#s-13f89107-5c2f-4515-a766-088944a36cfb #s-Label_6 {
-ms-filter: ;
filter: ;
margin-left: 0px;
margin-top: 0px;
}
#s-13f89107-5c2f-4515-a766-088944a36cfb #s-Line_9 {
rotation: 0.0;
margin-left: 0px;
margin-top: 0px;
}
#s-13f89107-5c2f-4515-a766-088944a36cfb > #loadMark {
width: 1px;
visibility: hidden;
display: none;
}