#s-620b4236-46e8-44fc-a79c-c6532aca547c #s-Base {
-ms-transform: rotate(0.0deg);
}
#s-620b4236-46e8-44fc-a79c-c6532aca547c #s-Rectangle_4 {
-ms-transform: rotate(0.0deg);
}
#s-620b4236-46e8-44fc-a79c-c6532aca547c #s-Image_3 {
-ms-transform: rotate(0.0deg);
}
#s-620b4236-46e8-44fc-a79c-c6532aca547c #s-Label_7 {
-ms-transform: rotate(0.0deg);
}
#s-620b4236-46e8-44fc-a79c-c6532aca547c #s-Label_8 {
-ms-transform: rotate(0.0deg);
}
#s-620b4236-46e8-44fc-a79c-c6532aca547c #s-Rich_text_20 {
-ms-transform: rotate(0.0deg);
}
#s-620b4236-46e8-44fc-a79c-c6532aca547c #s-Label_9 {
-ms-transform: rotate(0.0deg);
}
#s-620b4236-46e8-44fc-a79c-c6532aca547c #s-mission-over {
-ms-transform: rotate(0.0deg);
}
#s-620b4236-46e8-44fc-a79c-c6532aca547c #s-Banner-central {
-ms-transform: rotate(0.0deg);
}
#s-620b4236-46e8-44fc-a79c-c6532aca547c #s-Rich_text_15 {
-ms-transform: rotate(0.0deg);
}
#s-620b4236-46e8-44fc-a79c-c6532aca547c #s-Rich_text_16 {
-ms-transform: rotate(0.0deg);
}
#s-620b4236-46e8-44fc-a79c-c6532aca547c #s-Label_5 {
-ms-transform: rotate(0.0deg);
}
#s-620b4236-46e8-44fc-a79c-c6532aca547c #s-Label_6 {
-ms-transform: rotate(0.0deg);
}
#s-620b4236-46e8-44fc-a79c-c6532aca547c #s-Line_9 {
border-top-width: 1px;
border-top-style: solid;
border-top-color: #CCCCCC;
-ms-transform: rotate(0.0deg);
}
#s-620b4236-46e8-44fc-a79c-c6532aca547c #s-Line_9 {
border-top-width: 1px;
border-top-style: solid;
border-top-color: #CCCCCC;
-ms-transform: rotate(0.0deg);
}
#s-620b4236-46e8-44fc-a79c-c6532aca547c > #loadMark {
width: 1px;
visibility: hidden;
display: none;
}