#s-b4d769f2-c0fa-4d7a-92d4-f6e1f36ca555 #s-Base {
-ms-filter: ;
filter: ;
margin-left: 0px;
margin-top: 0px;
}
#s-b4d769f2-c0fa-4d7a-92d4-f6e1f36ca555 #s-Rectangle_4 {
-ms-filter: ;
filter: ;
margin-left: 0px;
margin-top: 0px;
}
#s-b4d769f2-c0fa-4d7a-92d4-f6e1f36ca555 #s-Image_1 {
-ms-filter: ;
filter: ;
margin-left: 0px;
margin-top: 0px;
}
#s-b4d769f2-c0fa-4d7a-92d4-f6e1f36ca555 #s-Label_11 {
-ms-filter: ;
filter: ;
margin-left: 0px;
margin-top: 0px;
}
#s-b4d769f2-c0fa-4d7a-92d4-f6e1f36ca555 #s-Label_18 {
-ms-filter: ;
filter: ;
margin-left: 0px;
margin-top: 0px;
}
#s-b4d769f2-c0fa-4d7a-92d4-f6e1f36ca555 #s-Rich_text_1 {
-ms-filter: ;
filter: ;
margin-left: 0px;
margin-top: 0px;
}
#s-b4d769f2-c0fa-4d7a-92d4-f6e1f36ca555 #s-Label_23 {
-ms-filter: ;
filter: ;
margin-left: 0px;
margin-top: 0px;
}
#s-b4d769f2-c0fa-4d7a-92d4-f6e1f36ca555 #s-quotesdetail .s-Label_4 {
-ms-filter: ;
filter: ;
margin-left: 0px;
margin-top: 0px;
}
#s-b4d769f2-c0fa-4d7a-92d4-f6e1f36ca555 #s-quotesdetail .s-Label_5 {
-ms-filter: ;
filter: ;
margin-left: 0px;
margin-top: 0px;
}
#s-b4d769f2-c0fa-4d7a-92d4-f6e1f36ca555 #s-quotesdetail .s-Label_6 {
-ms-filter: ;
filter: ;
margin-left: 0px;
margin-top: 0px;
}
#s-b4d769f2-c0fa-4d7a-92d4-f6e1f36ca555 #s-quotesdetail .s-Label_13 {
-ms-filter: ;
filter: ;
margin-left: 0px;
margin-top: 0px;
}
#s-b4d769f2-c0fa-4d7a-92d4-f6e1f36ca555 #s-quotesdetail .s-Label_14 {
-ms-filter: ;
filter: ;
margin-left: 0px;
margin-top: 0px;
}
#s-b4d769f2-c0fa-4d7a-92d4-f6e1f36ca555 #s-quotesdetail .s-Label_15 {
-ms-filter: ;
filter: ;
margin-left: 0px;
margin-top: 0px;
}
#s-b4d769f2-c0fa-4d7a-92d4-f6e1f36ca555 #s-Label_7 {
-ms-filter: ;
filter: ;
margin-left: 0px;
margin-top: 0px;
}
#s-b4d769f2-c0fa-4d7a-92d4-f6e1f36ca555 #s-Line_11 {
rotation: 0.0;
margin-left: 0px;
margin-top: 0px;
}
#s-b4d769f2-c0fa-4d7a-92d4-f6e1f36ca555 #s-Label_8 {
-ms-filter: ;
filter: ;
margin-left: 0px;
margin-top: 0px;
}
#s-b4d769f2-c0fa-4d7a-92d4-f6e1f36ca555 #s-Label_3 {
-ms-filter: ;
filter: ;
margin-left: 0px;
margin-top: 0px;
}
#s-b4d769f2-c0fa-4d7a-92d4-f6e1f36ca555 #s-Line_10 {
rotation: 0.0;
margin-left: 0px;
margin-top: 0px;
}
#s-b4d769f2-c0fa-4d7a-92d4-f6e1f36ca555 #s-Label_9 {
-ms-filter: ;
filter: ;
margin-left: 0px;
margin-top: 0px;
}
#s-b4d769f2-c0fa-4d7a-92d4-f6e1f36ca555 #s-Rectangle_2 {
-ms-filter: ;
filter: ;
margin-left: 0px;
margin-top: 0px;
}
#s-b4d769f2-c0fa-4d7a-92d4-f6e1f36ca555 #s-Button_9 {
-ms-filter: ;
filter: ;
margin-left: 0px;
margin-top: 0px;
}
#s-b4d769f2-c0fa-4d7a-92d4-f6e1f36ca555 #s-Label_17 {
-ms-filter: ;
filter: ;
margin-left: 0px;
margin-top: 0px;
}
#s-b4d769f2-c0fa-4d7a-92d4-f6e1f36ca555 > #loadMark {
width: 1px;
visibility: hidden;
display: none;
}