#s-272db33c-1f0b-4641-8582-538d89e9549a #s-Rectangle_2 {
-ms-transform: rotate(0.0deg);
}
#s-272db33c-1f0b-4641-8582-538d89e9549a #s-Rectangle_1 {
-ms-transform: rotate(0.0deg);
}
#s-272db33c-1f0b-4641-8582-538d89e9549a #s-Image_1 {
-ms-transform: rotate(0.0deg);
}
#s-272db33c-1f0b-4641-8582-538d89e9549a #s-Label_12 {
-ms-transform: rotate(0.0deg);
}
#s-272db33c-1f0b-4641-8582-538d89e9549a #s-Label_13 {
-ms-transform: rotate(0.0deg);
}
#s-272db33c-1f0b-4641-8582-538d89e9549a #s-Rich_text_1 {
-ms-transform: rotate(0.0deg);
}
#s-272db33c-1f0b-4641-8582-538d89e9549a #s-Label_14 {
-ms-transform: rotate(0.0deg);
}
#s-272db33c-1f0b-4641-8582-538d89e9549a #s-Healthplans-over {
-ms-transform: rotate(0.0deg);
}
#s-272db33c-1f0b-4641-8582-538d89e9549a #s-Label_8 {
-ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=98);
filter: alpha(opacity=98);
-ms-transform: rotate(0.0deg);
}
#s-272db33c-1f0b-4641-8582-538d89e9549a #s-Flat-button {
-ms-transform: rotate(0.0deg);
}
#s-272db33c-1f0b-4641-8582-538d89e9549a #s-Input_1 {
-ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=99);
filter: alpha(opacity=99);
}
#s-272db33c-1f0b-4641-8582-538d89e9549a #s-Line_2 {
border-top-width: 1px;
border-top-style: solid;
border-top-color: #757575;
-ms-transform: rotate(0.0deg);
}
#s-272db33c-1f0b-4641-8582-538d89e9549a #s-Line_2 {
border-top-width: 1px;
border-top-style: solid;
border-top-color: #757575;
-ms-transform: rotate(0.0deg);
}
#s-272db33c-1f0b-4641-8582-538d89e9549a #s-Line_3 {
border-top-width: 2px;
border-top-style: solid;
border-top-color: #4CB9CE;
-ms-transform: rotate(0.0deg);
}
#s-272db33c-1f0b-4641-8582-538d89e9549a #s-Line_3 {
border-top-width: 2px;
border-top-style: solid;
border-top-color: #4CB9CE;
-ms-transform: rotate(0.0deg);
}
#s-272db33c-1f0b-4641-8582-538d89e9549a #s-Line_4 {
border-top-width: 1px;
border-top-style: solid;
border-top-color: #757575;
-ms-transform: rotate(0.0deg);
}
#s-272db33c-1f0b-4641-8582-538d89e9549a #s-Line_4 {
border-top-width: 1px;
border-top-style: solid;
border-top-color: #757575;
-ms-transform: rotate(0.0deg);
}
#s-272db33c-1f0b-4641-8582-538d89e9549a #s-Line_5 {
border-top-width: 2px;
border-top-style: solid;
border-top-color: #4CB9CE;
-ms-transform: rotate(0.0deg);
}
#s-272db33c-1f0b-4641-8582-538d89e9549a #s-Line_5 {
border-top-width: 2px;
border-top-style: solid;
border-top-color: #4CB9CE;
-ms-transform: rotate(0.0deg);
}
#s-272db33c-1f0b-4641-8582-538d89e9549a #s-Category_2 {
-ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=99);
filter: alpha(opacity=99);
}
#s-272db33c-1f0b-4641-8582-538d89e9549a #s-Category_2-options {
background-color: #FFFFFF;
}
#s-272db33c-1f0b-4641-8582-538d89e9549a #s-Label_3 {
-ms-transform: rotate(0.0deg);
}
#s-272db33c-1f0b-4641-8582-538d89e9549a #s-Label_4 {
-ms-transform: rotate(0.0deg);
}
#s-272db33c-1f0b-4641-8582-538d89e9549a #s-Line_6 {
border-top-width: 1px;
border-top-style: solid;
border-top-color: #757575;
-ms-transform: rotate(0.0deg);
}
#s-272db33c-1f0b-4641-8582-538d89e9549a #s-Line_6 {
border-top-width: 1px;
border-top-style: solid;
border-top-color: #757575;
-ms-transform: rotate(0.0deg);
}
#s-272db33c-1f0b-4641-8582-538d89e9549a #s-Line_7 {
border-top-width: 2px;
border-top-style: solid;
border-top-color: #4CB9CE;
-ms-transform: rotate(0.0deg);
}
#s-272db33c-1f0b-4641-8582-538d89e9549a #s-Line_7 {
border-top-width: 2px;
border-top-style: solid;
border-top-color: #4CB9CE;
-ms-transform: rotate(0.0deg);
}
#s-272db33c-1f0b-4641-8582-538d89e9549a #s-Category_3 {
-ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=99);
filter: alpha(opacity=99);
}
#s-272db33c-1f0b-4641-8582-538d89e9549a #s-Category_3-options {
background-color: #FFFFFF;
}
#s-272db33c-1f0b-4641-8582-538d89e9549a #s-Label_6 {
-ms-transform: rotate(0.0deg);
}
#s-272db33c-1f0b-4641-8582-538d89e9549a #s-Line_8 {
border-top-width: 1px;
border-top-style: solid;
border-top-color: #757575;
-ms-transform: rotate(0.0deg);
}
#s-272db33c-1f0b-4641-8582-538d89e9549a #s-Line_8 {
border-top-width: 1px;
border-top-style: solid;
border-top-color: #757575;
-ms-transform: rotate(0.0deg);
}
#s-272db33c-1f0b-4641-8582-538d89e9549a #s-Line_11 {
border-top-width: 2px;
border-top-style: solid;
border-top-color: #4CB9CE;
-ms-transform: rotate(0.0deg);
}
#s-272db33c-1f0b-4641-8582-538d89e9549a #s-Line_11 {
border-top-width: 2px;
border-top-style: solid;
border-top-color: #4CB9CE;
-ms-transform: rotate(0.0deg);
}
#s-272db33c-1f0b-4641-8582-538d89e9549a #s-Category_4 {
-ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=99);
filter: alpha(opacity=99);
}
#s-272db33c-1f0b-4641-8582-538d89e9549a #s-Category_4-options {
background-color: #FFFFFF;
}
#s-272db33c-1f0b-4641-8582-538d89e9549a #s-Label_7 {
-ms-transform: rotate(0.0deg);
}
#s-272db33c-1f0b-4641-8582-538d89e9549a #s-Label_9 {
-ms-transform: rotate(0.0deg);
}
#s-272db33c-1f0b-4641-8582-538d89e9549a #s-Line_12 {
border-top-width: 1px;
border-top-style: solid;
border-top-color: #757575;
-ms-transform: rotate(0.0deg);
}
#s-272db33c-1f0b-4641-8582-538d89e9549a #s-Line_12 {
border-top-width: 1px;
border-top-style: solid;
border-top-color: #757575;
-ms-transform: rotate(0.0deg);
}
#s-272db33c-1f0b-4641-8582-538d89e9549a #s-Line_13 {
border-top-width: 2px;
border-top-style: solid;
border-top-color: #4CB9CE;
-ms-transform: rotate(0.0deg);
}
#s-272db33c-1f0b-4641-8582-538d89e9549a #s-Line_13 {
border-top-width: 2px;
border-top-style: solid;
border-top-color: #4CB9CE;
-ms-transform: rotate(0.0deg);
}
#s-272db33c-1f0b-4641-8582-538d89e9549a #s-Category_5 {
-ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=99);
filter: alpha(opacity=99);
}
#s-272db33c-1f0b-4641-8582-538d89e9549a #s-Category_5-options {
background-color: #FFFFFF;
}
#s-272db33c-1f0b-4641-8582-538d89e9549a #s-Label_10 {
-ms-transform: rotate(0.0deg);
}
#s-272db33c-1f0b-4641-8582-538d89e9549a #s-Input_6 {
-ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=93);
filter: alpha(opacity=93);
}
#s-272db33c-1f0b-4641-8582-538d89e9549a #s-Line_14 {
border-top-width: 1px;
border-top-style: solid;
border-top-color: #757575;
-ms-transform: rotate(0.0deg);
}
#s-272db33c-1f0b-4641-8582-538d89e9549a #s-Line_14 {
border-top-width: 1px;
border-top-style: solid;
border-top-color: #757575;
-ms-transform: rotate(0.0deg);
}
#s-272db33c-1f0b-4641-8582-538d89e9549a #s-Line_15 {
border-top-width: 2px;
border-top-style: solid;
border-top-color: #4CB9CE;
-ms-transform: rotate(0.0deg);
}
#s-272db33c-1f0b-4641-8582-538d89e9549a #s-Line_15 {
border-top-width: 2px;
border-top-style: solid;
border-top-color: #4CB9CE;
-ms-transform: rotate(0.0deg);
}
#s-272db33c-1f0b-4641-8582-538d89e9549a #s-Category_6 {
-ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=99);
filter: alpha(opacity=99);
}
#s-272db33c-1f0b-4641-8582-538d89e9549a #s-Category_6-options {
background-color: #FFFFFF;
}
#s-272db33c-1f0b-4641-8582-538d89e9549a #s-Label_11 {
-ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=98);
filter: alpha(opacity=98);
-ms-transform: rotate(0.0deg);
}
#s-272db33c-1f0b-4641-8582-538d89e9549a #s-Input_7 {
-ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=99);
filter: alpha(opacity=99);
}
#s-272db33c-1f0b-4641-8582-538d89e9549a #s-Line_16 {
border-top-width: 1px;
border-top-style: solid;
border-top-color: #757575;
-ms-transform: rotate(0.0deg);
}
#s-272db33c-1f0b-4641-8582-538d89e9549a #s-Line_16 {
border-top-width: 1px;
border-top-style: solid;
border-top-color: #757575;
-ms-transform: rotate(0.0deg);
}
#s-272db33c-1f0b-4641-8582-538d89e9549a #s-Line_17 {
border-top-width: 2px;
border-top-style: solid;
border-top-color: #4CB9CE;
-ms-transform: rotate(0.0deg);
}
#s-272db33c-1f0b-4641-8582-538d89e9549a #s-Line_17 {
border-top-width: 2px;
border-top-style: solid;
border-top-color: #4CB9CE;
-ms-transform: rotate(0.0deg);
}
#s-272db33c-1f0b-4641-8582-538d89e9549a #s-Input_8 {
-ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=98);
filter: alpha(opacity=98);
}
#s-272db33c-1f0b-4641-8582-538d89e9549a #s-Line_18 {
border-top-width: 1px;
border-top-style: solid;
border-top-color: #757575;
-ms-transform: rotate(0.0deg);
}
#s-272db33c-1f0b-4641-8582-538d89e9549a #s-Line_18 {
border-top-width: 1px;
border-top-style: solid;
border-top-color: #757575;
-ms-transform: rotate(0.0deg);
}
#s-272db33c-1f0b-4641-8582-538d89e9549a #s-Line_19 {
border-top-width: 2px;
border-top-style: solid;
border-top-color: #4CB9CE;
-ms-transform: rotate(0.0deg);
}
#s-272db33c-1f0b-4641-8582-538d89e9549a #s-Line_19 {
border-top-width: 2px;
border-top-style: solid;
border-top-color: #4CB9CE;
-ms-transform: rotate(0.0deg);
}
#s-272db33c-1f0b-4641-8582-538d89e9549a #s-Ellipse_4 {
-ms-transform: rotate(0.0deg);
}
#s-272db33c-1f0b-4641-8582-538d89e9549a #s-Label_31 {
-ms-transform: rotate(0.0deg);
}
#s-272db33c-1f0b-4641-8582-538d89e9549a #s-Line_9 {
border-top-width: 1px;
border-top-style: solid;
border-top-color: #CCCCCC;
-ms-transform: rotate(0.0deg);
}
#s-272db33c-1f0b-4641-8582-538d89e9549a #s-Line_9 {
border-top-width: 1px;
border-top-style: solid;
border-top-color: #CCCCCC;
-ms-transform: rotate(0.0deg);
}
#s-272db33c-1f0b-4641-8582-538d89e9549a #s-Label_5 {
-ms-transform: rotate(0.0deg);
}
#s-272db33c-1f0b-4641-8582-538d89e9549a #s-Label_2 {
-ms-transform: rotate(0.0deg);
}
#s-272db33c-1f0b-4641-8582-538d89e9549a #s-Label_1 {
-ms-transform: rotate(0.0deg);
}
#s-272db33c-1f0b-4641-8582-538d89e9549a > #loadMark {
width: 1px;
visibility: hidden;
display: none;
}