#s-6754f284-5b0c-479f-96c4-e97958f93a7a #s-Base {
-ms-transform: rotate(0.0deg);
}
#s-6754f284-5b0c-479f-96c4-e97958f93a7a #s-Rectangle_4 {
-ms-transform: rotate(0.0deg);
}
#s-6754f284-5b0c-479f-96c4-e97958f93a7a #s-Image_1 {
-ms-transform: rotate(0.0deg);
}
#s-6754f284-5b0c-479f-96c4-e97958f93a7a #s-Label_60 {
-ms-transform: rotate(0.0deg);
}
#s-6754f284-5b0c-479f-96c4-e97958f93a7a #s-Label_61 {
-ms-transform: rotate(0.0deg);
}
#s-6754f284-5b0c-479f-96c4-e97958f93a7a #s-Rich_text_2 {
-ms-transform: rotate(0.0deg);
}
#s-6754f284-5b0c-479f-96c4-e97958f93a7a #s-Label_62 {
-ms-transform: rotate(0.0deg);
}
#s-6754f284-5b0c-479f-96c4-e97958f93a7a #s-Healthplans-over {
-ms-transform: rotate(0.0deg);
}
#s-6754f284-5b0c-479f-96c4-e97958f93a7a #s-Ellipse_1 {
-ms-transform: rotate(0.0deg);
}
#s-6754f284-5b0c-479f-96c4-e97958f93a7a #s-Label_14 {
-ms-transform: rotate(0.0deg);
}
#s-6754f284-5b0c-479f-96c4-e97958f93a7a #s-Label_21 {
-ms-transform: rotate(0.0deg);
}
#s-6754f284-5b0c-479f-96c4-e97958f93a7a #s-Label_22 {
-ms-transform: rotate(0.0deg);
}
#s-6754f284-5b0c-479f-96c4-e97958f93a7a #s-Flat-button {
-ms-transform: rotate(0.0deg);
}
#s-6754f284-5b0c-479f-96c4-e97958f93a7a #s-Line_3 {
border-top-width: 1px;
border-top-style: solid;
border-top-color: #757575;
-ms-transform: rotate(0.0deg);
}
#s-6754f284-5b0c-479f-96c4-e97958f93a7a #s-Line_3 {
border-top-width: 1px;
border-top-style: solid;
border-top-color: #757575;
-ms-transform: rotate(0.0deg);
}
#s-6754f284-5b0c-479f-96c4-e97958f93a7a #s-Line_4 {
border-top-width: 2px;
border-top-style: solid;
border-top-color: #4CB9CE;
-ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=99) progid:DXImageTransform.Microsoft.Alpha(Opacity=99);
filter: alpha(opacity=99) alpha(opacity=99);
-ms-transform: rotate(0.0deg);
}
#s-6754f284-5b0c-479f-96c4-e97958f93a7a #s-Line_4 {
border-top-width: 2px;
border-top-style: solid;
border-top-color: #4CB9CE;
-ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=99) progid:DXImageTransform.Microsoft.Alpha(Opacity=99);
filter: alpha(opacity=99) alpha(opacity=99);
-ms-transform: rotate(0.0deg);
}
#s-6754f284-5b0c-479f-96c4-e97958f93a7a #s-Category_5-options {
background-color: #FFFFFF;
}
#s-6754f284-5b0c-479f-96c4-e97958f93a7a #s-Label_34 {
-ms-transform: rotate(0.0deg);
}
#s-6754f284-5b0c-479f-96c4-e97958f93a7a #s-Line_7 {
border-top-width: 1px;
border-top-style: solid;
border-top-color: #757575;
-ms-transform: rotate(0.0deg);
}
#s-6754f284-5b0c-479f-96c4-e97958f93a7a #s-Line_7 {
border-top-width: 1px;
border-top-style: solid;
border-top-color: #757575;
-ms-transform: rotate(0.0deg);
}
#s-6754f284-5b0c-479f-96c4-e97958f93a7a #s-Line_8 {
border-top-width: 2px;
border-top-style: solid;
border-top-color: #4CB9CE;
-ms-transform: rotate(0.0deg);
}
#s-6754f284-5b0c-479f-96c4-e97958f93a7a #s-Line_8 {
border-top-width: 2px;
border-top-style: solid;
border-top-color: #4CB9CE;
-ms-transform: rotate(0.0deg);
}
#s-6754f284-5b0c-479f-96c4-e97958f93a7a #s-Line_11 {
border-top-width: 1px;
border-top-style: solid;
border-top-color: #757575;
-ms-transform: rotate(0.0deg);
}
#s-6754f284-5b0c-479f-96c4-e97958f93a7a #s-Line_11 {
border-top-width: 1px;
border-top-style: solid;
border-top-color: #757575;
-ms-transform: rotate(0.0deg);
}
#s-6754f284-5b0c-479f-96c4-e97958f93a7a #s-Line_12 {
border-top-width: 2px;
border-top-style: solid;
border-top-color: #4CB9CE;
-ms-transform: rotate(0.0deg);
}
#s-6754f284-5b0c-479f-96c4-e97958f93a7a #s-Line_12 {
border-top-width: 2px;
border-top-style: solid;
border-top-color: #4CB9CE;
-ms-transform: rotate(0.0deg);
}
#s-6754f284-5b0c-479f-96c4-e97958f93a7a #s-Line_13 {
border-top-width: 1px;
border-top-style: solid;
border-top-color: #757575;
-ms-transform: rotate(0.0deg);
}
#s-6754f284-5b0c-479f-96c4-e97958f93a7a #s-Line_13 {
border-top-width: 1px;
border-top-style: solid;
border-top-color: #757575;
-ms-transform: rotate(0.0deg);
}
#s-6754f284-5b0c-479f-96c4-e97958f93a7a #s-Line_14 {
border-top-width: 2px;
border-top-style: solid;
border-top-color: #4CB9CE;
-ms-transform: rotate(0.0deg);
}
#s-6754f284-5b0c-479f-96c4-e97958f93a7a #s-Line_14 {
border-top-width: 2px;
border-top-style: solid;
border-top-color: #4CB9CE;
-ms-transform: rotate(0.0deg);
}
#s-6754f284-5b0c-479f-96c4-e97958f93a7a #s-Line_17 {
border-top-width: 1px;
border-top-style: solid;
border-top-color: #757575;
-ms-transform: rotate(0.0deg);
}
#s-6754f284-5b0c-479f-96c4-e97958f93a7a #s-Line_17 {
border-top-width: 1px;
border-top-style: solid;
border-top-color: #757575;
-ms-transform: rotate(0.0deg);
}
#s-6754f284-5b0c-479f-96c4-e97958f93a7a #s-Line_18 {
border-top-width: 2px;
border-top-style: solid;
border-top-color: #4CB9CE;
-ms-transform: rotate(0.0deg);
}
#s-6754f284-5b0c-479f-96c4-e97958f93a7a #s-Line_18 {
border-top-width: 2px;
border-top-style: solid;
border-top-color: #4CB9CE;
-ms-transform: rotate(0.0deg);
}
#s-6754f284-5b0c-479f-96c4-e97958f93a7a #s-Line_23 {
border-top-width: 1px;
border-top-style: solid;
border-top-color: #757575;
-ms-transform: rotate(0.0deg);
}
#s-6754f284-5b0c-479f-96c4-e97958f93a7a #s-Line_23 {
border-top-width: 1px;
border-top-style: solid;
border-top-color: #757575;
-ms-transform: rotate(0.0deg);
}
#s-6754f284-5b0c-479f-96c4-e97958f93a7a #s-Line_24 {
border-top-width: 2px;
border-top-style: solid;
border-top-color: #4CB9CE;
-ms-transform: rotate(0.0deg);
}
#s-6754f284-5b0c-479f-96c4-e97958f93a7a #s-Line_24 {
border-top-width: 2px;
border-top-style: solid;
border-top-color: #4CB9CE;
-ms-transform: rotate(0.0deg);
}
#s-6754f284-5b0c-479f-96c4-e97958f93a7a #s-Category_6 {
-ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=99);
filter: alpha(opacity=99);
}
#s-6754f284-5b0c-479f-96c4-e97958f93a7a #s-Category_6-options {
background-color: #FFFFFF;
}
#s-6754f284-5b0c-479f-96c4-e97958f93a7a #s-Label_5 {
-ms-transform: rotate(0.0deg);
}
#s-6754f284-5b0c-479f-96c4-e97958f93a7a #s-Line_25 {
border-top-width: 1px;
border-top-style: solid;
border-top-color: #757575;
-ms-transform: rotate(0.0deg);
}
#s-6754f284-5b0c-479f-96c4-e97958f93a7a #s-Line_25 {
border-top-width: 1px;
border-top-style: solid;
border-top-color: #757575;
-ms-transform: rotate(0.0deg);
}
#s-6754f284-5b0c-479f-96c4-e97958f93a7a #s-Line_26 {
border-top-width: 2px;
border-top-style: solid;
border-top-color: #4CB9CE;
-ms-transform: rotate(0.0deg);
}
#s-6754f284-5b0c-479f-96c4-e97958f93a7a #s-Line_26 {
border-top-width: 2px;
border-top-style: solid;
border-top-color: #4CB9CE;
-ms-transform: rotate(0.0deg);
}
#s-6754f284-5b0c-479f-96c4-e97958f93a7a #s-Input_7 {
-ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=97);
filter: alpha(opacity=97);
}
#s-6754f284-5b0c-479f-96c4-e97958f93a7a #s-Line_27 {
border-top-width: 1px;
border-top-style: solid;
border-top-color: #757575;
-ms-transform: rotate(0.0deg);
}
#s-6754f284-5b0c-479f-96c4-e97958f93a7a #s-Line_27 {
border-top-width: 1px;
border-top-style: solid;
border-top-color: #757575;
-ms-transform: rotate(0.0deg);
}
#s-6754f284-5b0c-479f-96c4-e97958f93a7a #s-Line_28 {
border-top-width: 2px;
border-top-style: solid;
border-top-color: #4CB9CE;
-ms-transform: rotate(0.0deg);
}
#s-6754f284-5b0c-479f-96c4-e97958f93a7a #s-Line_28 {
border-top-width: 2px;
border-top-style: solid;
border-top-color: #4CB9CE;
-ms-transform: rotate(0.0deg);
}
#s-6754f284-5b0c-479f-96c4-e97958f93a7a #s-Line_29 {
border-top-width: 1px;
border-top-style: solid;
border-top-color: #666666;
-ms-transform: rotate(0.0deg);
}
#s-6754f284-5b0c-479f-96c4-e97958f93a7a #s-Line_29 {
border-top-width: 1px;
border-top-style: solid;
border-top-color: #666666;
-ms-transform: rotate(0.0deg);
}
#s-6754f284-5b0c-479f-96c4-e97958f93a7a #s-Line_30 {
border-top-width: 2px;
border-top-style: solid;
border-top-color: #4CB9CE;
-ms-transform: rotate(0.0deg);
}
#s-6754f284-5b0c-479f-96c4-e97958f93a7a #s-Line_30 {
border-top-width: 2px;
border-top-style: solid;
border-top-color: #4CB9CE;
-ms-transform: rotate(0.0deg);
}
#s-6754f284-5b0c-479f-96c4-e97958f93a7a #s-Line_15 {
border-top-width: 1px;
border-top-style: solid;
border-top-color: #666666;
-ms-transform: rotate(0.0deg);
}
#s-6754f284-5b0c-479f-96c4-e97958f93a7a #s-Line_15 {
border-top-width: 1px;
border-top-style: solid;
border-top-color: #666666;
-ms-transform: rotate(0.0deg);
}
#s-6754f284-5b0c-479f-96c4-e97958f93a7a #s-Line_16 {
border-top-width: 2px;
border-top-style: solid;
border-top-color: #4CB9CE;
-ms-transform: rotate(0.0deg);
}
#s-6754f284-5b0c-479f-96c4-e97958f93a7a #s-Line_16 {
border-top-width: 2px;
border-top-style: solid;
border-top-color: #4CB9CE;
-ms-transform: rotate(0.0deg);
}
#s-6754f284-5b0c-479f-96c4-e97958f93a7a #s-Category_3 {
-ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=98);
filter: alpha(opacity=98);
}
#s-6754f284-5b0c-479f-96c4-e97958f93a7a #s-Category_3-options {
background-color: #FFFFFF;
}
#s-6754f284-5b0c-479f-96c4-e97958f93a7a #s-Label_6 {
-ms-transform: rotate(0.0deg);
}
#s-6754f284-5b0c-479f-96c4-e97958f93a7a #s-Line_1 {
border-top-width: 1px;
border-top-style: solid;
border-top-color: #666666;
-ms-transform: rotate(0.0deg);
}
#s-6754f284-5b0c-479f-96c4-e97958f93a7a #s-Line_1 {
border-top-width: 1px;
border-top-style: solid;
border-top-color: #666666;
-ms-transform: rotate(0.0deg);
}
#s-6754f284-5b0c-479f-96c4-e97958f93a7a #s-Line_2 {
border-top-width: 2px;
border-top-style: solid;
border-top-color: #4CB9CE;
-ms-transform: rotate(0.0deg);
}
#s-6754f284-5b0c-479f-96c4-e97958f93a7a #s-Line_2 {
border-top-width: 2px;
border-top-style: solid;
border-top-color: #4CB9CE;
-ms-transform: rotate(0.0deg);
}
#s-6754f284-5b0c-479f-96c4-e97958f93a7a #s-Line_5 {
border-top-width: 1px;
border-top-style: solid;
border-top-color: #666666;
-ms-transform: rotate(0.0deg);
}
#s-6754f284-5b0c-479f-96c4-e97958f93a7a #s-Line_5 {
border-top-width: 1px;
border-top-style: solid;
border-top-color: #666666;
-ms-transform: rotate(0.0deg);
}
#s-6754f284-5b0c-479f-96c4-e97958f93a7a #s-Line_6 {
border-top-width: 2px;
border-top-style: solid;
border-top-color: #4CB9CE;
-ms-transform: rotate(0.0deg);
}
#s-6754f284-5b0c-479f-96c4-e97958f93a7a #s-Line_6 {
border-top-width: 2px;
border-top-style: solid;
border-top-color: #4CB9CE;
-ms-transform: rotate(0.0deg);
}
#s-6754f284-5b0c-479f-96c4-e97958f93a7a #s-Category_2 {
-ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=99);
filter: alpha(opacity=99);
}
#s-6754f284-5b0c-479f-96c4-e97958f93a7a #s-Category_2-options {
background-color: #FFFFFF;
}
#s-6754f284-5b0c-479f-96c4-e97958f93a7a #s-Label_3 {
-ms-transform: rotate(0.0deg);
}
#s-6754f284-5b0c-479f-96c4-e97958f93a7a #s-Label_8 {
-ms-transform: rotate(0.0deg);
}
#s-6754f284-5b0c-479f-96c4-e97958f93a7a #s-Label_9 {
-ms-transform: rotate(0.0deg);
}
#s-6754f284-5b0c-479f-96c4-e97958f93a7a #s-Label_20 {
-ms-transform: rotate(0.0deg);
}
#s-6754f284-5b0c-479f-96c4-e97958f93a7a #s-Label_10 {
-ms-transform: rotate(0.0deg);
}
#s-6754f284-5b0c-479f-96c4-e97958f93a7a #s-Label_18 {
-ms-transform: rotate(0.0deg);
}
#s-6754f284-5b0c-479f-96c4-e97958f93a7a #s-Label_19 {
-ms-transform: rotate(0.0deg);
}
#s-6754f284-5b0c-479f-96c4-e97958f93a7a #s-Line_9 {
border-top-width: 1px;
border-top-style: solid;
border-top-color: #CCCCCC;
-ms-transform: rotate(0.0deg);
}
#s-6754f284-5b0c-479f-96c4-e97958f93a7a #s-Line_9 {
border-top-width: 1px;
border-top-style: solid;
border-top-color: #CCCCCC;
-ms-transform: rotate(0.0deg);
}
#s-6754f284-5b0c-479f-96c4-e97958f93a7a #s-Label_4 {
-ms-transform: rotate(0.0deg);
}
#s-6754f284-5b0c-479f-96c4-e97958f93a7a #s-Label_2 {
-ms-transform: rotate(0.0deg);
}
#s-6754f284-5b0c-479f-96c4-e97958f93a7a #s-Label_1 {
-ms-transform: rotate(0.0deg);
}
#s-6754f284-5b0c-479f-96c4-e97958f93a7a > #loadMark {
width: 1px;
visibility: hidden;
display: none;
}