#s-6754f284-5b0c-479f-96c4-e97958f93a7a > #backgroundBox {
background-color: transparent;
background-image: none;
position: absolute;
}
#s-6754f284-5b0c-479f-96c4-e97958f93a7a > #alignmentBox {
position: relative;
margin: 0 auto;
width: 1280px;
min-width: 1280px;
min-height: 900px;
}
#s-6754f284-5b0c-479f-96c4-e97958f93a7a #s-Base {
position: absolute;
top: 471px;
left: 1px;
width: 1280px;
height: 1632px;
background-color: #FFFFFF;
background-image: none;
-webkit-transform: rotate(0deg);
-moz-transform: rotate(0deg);
transform: rotate(0deg);
box-shadow: none;
text-shadow: none;
line-height: 20px;
font-size: 11.0pt;
font-family: Arial,Arial;
}
#s-6754f284-5b0c-479f-96c4-e97958f93a7a #s-Base .valign {
vertical-align: middle;
text-align: center;
}
#s-6754f284-5b0c-479f-96c4-e97958f93a7a #s-Base span {
color: #333333;
text-align: center;
text-decoration: none;
font-family: Arial,Arial;
font-size: 11.0pt;
font-style: normal;
font-weight: 400;
}
#s-6754f284-5b0c-479f-96c4-e97958f93a7a #s-Base span#rtr-s-Base_0 {
color: #333333;
text-align: center;
text-decoration: none;
font-family: Arial,Arial;
font-size: 11.0pt;
font-style: normal;
font-weight: 400;
line-height: 0px;
}
#s-6754f284-5b0c-479f-96c4-e97958f93a7a #s-Footer {
position: absolute;
top: 1841px;
left: 0px;
width: 1280px;
height: 263px;
}
#s-6754f284-5b0c-479f-96c4-e97958f93a7a #s-Rectangle_4 {
position: absolute;
top: 0px;
left: 0px;
width: 1280px;
height: 263px;
background-color: #F9F9F9;
background-image: none;
-webkit-transform: rotate(0deg);
-moz-transform: rotate(0deg);
transform: rotate(0deg);
box-shadow: none;
text-shadow: none;
line-height: 20px;
font-size: 11.0pt;
font-family: Arial,Arial;
}
#s-6754f284-5b0c-479f-96c4-e97958f93a7a #s-Rectangle_4 .valign {
vertical-align: middle;
text-align: center;
}
#s-6754f284-5b0c-479f-96c4-e97958f93a7a #s-Rectangle_4 span {
color: #333333;
text-align: center;
text-decoration: none;
font-family: Arial,Arial;
font-size: 11.0pt;
font-style: normal;
font-weight: 400;
}
#s-6754f284-5b0c-479f-96c4-e97958f93a7a #s-Rectangle_4 span#rtr-s-Rectangle_4_0 {
color: #333333;
text-align: center;
text-decoration: none;
font-family: Arial,Arial;
font-size: 11.0pt;
font-style: normal;
font-weight: 400;
line-height: 0px;
}
#s-6754f284-5b0c-479f-96c4-e97958f93a7a #s-Image_1 {
position: absolute;
top: 83px;
left: 425px;
width: 173px;
height: 22px;
-webkit-transform: rotate(0deg);
-moz-transform: rotate(0deg);
transform: rotate(0deg);
box-shadow: none;
}
#s-6754f284-5b0c-479f-96c4-e97958f93a7a #s-Label_60 {
position: absolute;
top: 53px;
left: 425px;
width: 274px;
height: 27px;
background-color: transparent;
background-image: none;
-webkit-transform: rotate(0deg);
-moz-transform: rotate(0deg);
transform: rotate(0deg);
box-shadow: none;
text-shadow: none;
font-size: 10.5pt;
font-family: Roboto-Bold,Arial;
}
#s-6754f284-5b0c-479f-96c4-e97958f93a7a #s-Label_60 .valign {
vertical-align: middle;
text-align: left;
}
#s-6754f284-5b0c-479f-96c4-e97958f93a7a #s-Label_60 span {
color: #4CB9CE;
text-align: left;
text-decoration: none;
font-family: Roboto-Bold,Arial;
font-size: 10.5pt;
}
#s-6754f284-5b0c-479f-96c4-e97958f93a7a #s-Label_60 span#rtr-s-Label_60_0 {
color: #4CB9CE;
text-align: left;
text-decoration: none;
font-family: Roboto-Bold,Arial;
font-size: 10.5pt;
line-height: 0px;
}
#s-6754f284-5b0c-479f-96c4-e97958f93a7a #s-Label_61 {
position: absolute;
top: 152px;
left: 42px;
width: 479px;
height: 27px;
background-color: transparent;
background-image: none;
-webkit-transform: rotate(0deg);
-moz-transform: rotate(0deg);
transform: rotate(0deg);
box-shadow: none;
text-shadow: none;
font-size: 9.0pt;
font-family: Roboto-Bold,Arial;
}
#s-6754f284-5b0c-479f-96c4-e97958f93a7a #s-Label_61 .valign {
vertical-align: middle;
text-align: left;
}
#s-6754f284-5b0c-479f-96c4-e97958f93a7a #s-Label_61 span {
color: #999999;
text-align: left;
text-decoration: none;
font-family: Roboto-Bold,Arial;
font-size: 9.0pt;
}
#s-6754f284-5b0c-479f-96c4-e97958f93a7a #s-Label_61 span#rtr-s-Label_61_0 {
color: #999999;
text-align: left;
text-decoration: none;
font-family: Roboto-Bold,Arial;
font-size: 9.0pt;
line-height: 0px;
}
#s-6754f284-5b0c-479f-96c4-e97958f93a7a #s-Rich_text_2 {
position: absolute;
top: 80px;
left: 42px;
width: 293px;
height: 104px;
background-color: transparent;
background-image: none;
-webkit-transform: rotate(0deg);
-moz-transform: rotate(0deg);
transform: rotate(0deg);
box-shadow: none;
text-shadow: none;
line-height: 21px;
font-size: 11.0pt;
font-family: Roboto-Medium,Arial;
}
#s-6754f284-5b0c-479f-96c4-e97958f93a7a #s-Rich_text_2 .valign {
vertical-align: top;
text-align: left;
}
#s-6754f284-5b0c-479f-96c4-e97958f93a7a #s-Rich_text_2 span {
color: #666666;
text-align: left;
text-decoration: none;
font-family: Roboto-Medium,Arial;
font-size: 11.0pt;
}
#s-6754f284-5b0c-479f-96c4-e97958f93a7a #s-Rich_text_2 span#rtr-s-Rich_text_2_0 {
color: #666666;
text-align: left;
text-decoration: none;
font-family: Roboto-Medium,Arial;
font-size: 11.0pt;
line-height: 0px;
}
#s-6754f284-5b0c-479f-96c4-e97958f93a7a #s-Label_62 {
position: absolute;
top: 53px;
left: 42px;
width: 274px;
height: 27px;
background-color: transparent;
background-image: none;
-webkit-transform: rotate(0deg);
-moz-transform: rotate(0deg);
transform: rotate(0deg);
box-shadow: none;
text-shadow: none;
font-size: 10.5pt;
font-family: Roboto-Bold,Arial;
}
#s-6754f284-5b0c-479f-96c4-e97958f93a7a #s-Label_62 .valign {
vertical-align: middle;
text-align: left;
}
#s-6754f284-5b0c-479f-96c4-e97958f93a7a #s-Label_62 span {
color: #4CB9CE;
text-align: left;
text-decoration: none;
font-family: Roboto-Bold,Arial;
font-size: 10.5pt;
}
#s-6754f284-5b0c-479f-96c4-e97958f93a7a #s-Label_62 span#rtr-s-Label_62_0 {
color: #4CB9CE;
text-align: left;
text-decoration: none;
font-family: Roboto-Bold,Arial;
font-size: 10.5pt;
line-height: 0px;
}
#s-6754f284-5b0c-479f-96c4-e97958f93a7a #s-Healthplans-over {
position: absolute;
top: 76px;
left: 1022px;
width: 157px;
height: 29px;
background-color: transparent;
background-image: none;
-webkit-transform: rotate(0deg);
-moz-transform: rotate(0deg);
transform: rotate(0deg);
box-shadow: none;
text-shadow: none;
cursor: pointer;
font-size: 10.0pt;
font-family: Roboto-Medium,Arial;
}
#s-6754f284-5b0c-479f-96c4-e97958f93a7a #s-Healthplans-over .valign {
vertical-align: middle;
text-align: left;
}
#s-6754f284-5b0c-479f-96c4-e97958f93a7a #s-Healthplans-over span {
color: #4CB9D3;
text-align: left;
text-decoration: none;
font-family: Roboto-Medium,Arial;
font-size: 10.0pt;
}
#s-6754f284-5b0c-479f-96c4-e97958f93a7a #s-Healthplans-over span#rtr-s-Healthplans-over_0 {
color: #4CB9D3;
text-align: left;
text-decoration: none;
font-family: Roboto-Medium,Arial;
font-size: 10.0pt;
line-height: 0px;
}
#s-6754f284-5b0c-479f-96c4-e97958f93a7a #s-Steps {
position: absolute;
top: 618px;
left: 32px;
width: 916px;
height: 73px;
}
#s-6754f284-5b0c-479f-96c4-e97958f93a7a #s-Master-Steps div.offset {
position: relative;
top: -46px;
left: -45px;
}
#s-6754f284-5b0c-479f-96c4-e97958f93a7a #s-Master-Steps {
position: absolute;
top: 0px;
left: 0px;
width: 916px;
height: 73px;
overflow: visible;
}
#s-6754f284-5b0c-479f-96c4-e97958f93a7a #s-Ellipse_1 .shapert-clipping {
left: 0px;
top: 0px;
width: 48px;
height: 47px;
position: absolute;
overflow: hidden;
}
#s-6754f284-5b0c-479f-96c4-e97958f93a7a #s-Ellipse_1 .content {
width: 48px;
height: 47px;
}
#s-6754f284-5b0c-479f-96c4-e97958f93a7a #s-Ellipse_1 {
position: absolute;
top: 15px;
left: 10px;
width: 48px;
height: 47px;
background-color: #45BACC;
background-image: none;
-webkit-transform: rotate(0deg);
-moz-transform: rotate(0deg);
transform: rotate(0deg);
box-shadow: none;
text-shadow: none;
font-size: 8.0pt;
font-family: Arial,Arial;
}
#s-6754f284-5b0c-479f-96c4-e97958f93a7a #shapewrapper-s-Ellipse_1 .valign {
vertical-align: middle;
text-align: left;
}
#s-6754f284-5b0c-479f-96c4-e97958f93a7a #shapewrapper-s-Ellipse_1 span {
color: #000000;
text-align: left;
text-decoration: none;
font-family: Arial,Arial;
font-size: 8.0pt;
font-style: normal;
font-weight: 400;
}
#s-6754f284-5b0c-479f-96c4-e97958f93a7a #shapewrapper-s-Ellipse_1 span#rtr-s-Ellipse_1_0 {
color: #000000;
text-align: left;
text-decoration: none;
font-family: Arial,Arial;
font-size: 8.0pt;
font-style: normal;
font-weight: 400;
line-height: 0px;
}
#s-6754f284-5b0c-479f-96c4-e97958f93a7a #s-Label_14 {
position: absolute;
top: 22px;
left: 27px;
width: auto;
height: auto;
background-color: transparent;
background-image: none;
-webkit-transform: rotate(0deg);
-moz-transform: rotate(0deg);
transform: rotate(0deg);
box-shadow: none;
text-shadow: none;
font-size: 18.0pt;
font-family: Roboto-Regular,Arial;
}
#s-6754f284-5b0c-479f-96c4-e97958f93a7a #s-Label_14 .valign {
vertical-align: middle;
text-align: left;
}
#s-6754f284-5b0c-479f-96c4-e97958f93a7a #s-Label_14 span {
color: #FFFFFF;
text-align: left;
text-decoration: none;
font-family: Roboto-Regular,Arial;
font-size: 18.0pt;
}
#s-6754f284-5b0c-479f-96c4-e97958f93a7a #s-Label_14 span#rtr-s-Label_14_0 {
color: #FFFFFF;
text-align: left;
text-decoration: none;
font-family: Roboto-Regular,Arial;
font-size: 18.0pt;
line-height: 0px;
}
#s-6754f284-5b0c-479f-96c4-e97958f93a7a #s-Form {
position: absolute;
top: 740px;
left: 42px;
width: 1212px;
height: 420px;
}
#s-6754f284-5b0c-479f-96c4-e97958f93a7a #s-Label_21 {
position: absolute;
top: 176px;
left: 4px;
width: 199px;
height: 18px;
background-color: transparent;
background-image: none;
-webkit-transform: rotate(0deg);
-moz-transform: rotate(0deg);
transform: rotate(0deg);
box-shadow: none;
text-shadow: none;
display: none;
font-size: 8.0pt;
font-family: Roboto-Regular,Arial;
}
#s-6754f284-5b0c-479f-96c4-e97958f93a7a #s-Label_21 .valign {
vertical-align: middle;
text-align: left;
}
#s-6754f284-5b0c-479f-96c4-e97958f93a7a #s-Label_21 span {
color: #FF0000;
text-align: left;
text-decoration: none;
font-family: Roboto-Regular,Arial;
font-size: 8.0pt;
}
#s-6754f284-5b0c-479f-96c4-e97958f93a7a #s-Label_21 span#rtr-s-Label_21_0 {
color: #FF0000;
text-align: left;
text-decoration: none;
font-family: Roboto-Regular,Arial;
font-size: 8.0pt;
line-height: 0px;
}
#s-6754f284-5b0c-479f-96c4-e97958f93a7a #s-Label_22 {
position: absolute;
top: 178px;
left: 350px;
width: auto;
height: auto;
background-color: transparent;
background-image: none;
-webkit-transform: rotate(0deg);
-moz-transform: rotate(0deg);
transform: rotate(0deg);
box-shadow: none;
text-shadow: none;
display: none;
font-size: 8.0pt;
font-family: Roboto-Regular,Arial;
}
#s-6754f284-5b0c-479f-96c4-e97958f93a7a #s-Label_22 .valign {
vertical-align: middle;
text-align: center;
}
#s-6754f284-5b0c-479f-96c4-e97958f93a7a #s-Label_22 span {
color: #FF0000;
text-align: center;
text-decoration: none;
font-family: Roboto-Regular,Arial;
font-size: 8.0pt;
}
#s-6754f284-5b0c-479f-96c4-e97958f93a7a #s-Label_22 span#rtr-s-Label_22_0 {
color: #FF0000;
text-align: center;
text-decoration: none;
font-family: Roboto-Regular,Arial;
font-size: 8.0pt;
line-height: 0px;
}
#s-6754f284-5b0c-479f-96c4-e97958f93a7a #s-Flat-button {
position: absolute;
top: 297px;
left: 1px;
width: 145px;
height: 45px;
background-color: #3EBBCA;
background-image: none;
-webkit-transform: rotate(0deg);
-moz-transform: rotate(0deg);
transform: rotate(0deg);
box-shadow: none;
text-shadow: none;
cursor: pointer;
font-size: 13.0pt;
font-family: Roboto-Medium,Arial;
}
#s-6754f284-5b0c-479f-96c4-e97958f93a7a #s-Flat-button .valign {
vertical-align: middle;
text-align: center;
}
#s-6754f284-5b0c-479f-96c4-e97958f93a7a #s-Flat-button span {
color: #FFFFFF;
text-align: center;
text-decoration: none;
font-family: Roboto-Medium,Arial;
font-size: 13.0pt;
}
#s-6754f284-5b0c-479f-96c4-e97958f93a7a #s-Flat-button span#rtr-s-Flat-button_0 {
color: #FFFFFF;
text-align: center;
text-decoration: none;
font-family: Roboto-Medium,Arial;
font-size: 13.0pt;
line-height: 0px;
}
#s-6754f284-5b0c-479f-96c4-e97958f93a7a #s-Select {
position: absolute;
top: 0px;
left: 10px;
width: 142px;
height: 32px;
}
#s-6754f284-5b0c-479f-96c4-e97958f93a7a #s-Group_3 {
position: absolute;
top: 0px;
left: 0px;
width: 136px;
height: 32px;
}
#s-6754f284-5b0c-479f-96c4-e97958f93a7a #s-Input_10 {
position: absolute;
top: 0px;
left: 0px;
padding-bottom: 2px;
width: 128px;
height: 29px;
background-color: transparent;
background-image: none;
box-shadow: none;
text-shadow: none;
cursor: text;
}
#s-6754f284-5b0c-479f-96c4-e97958f93a7a #s-Input_10 .valign {
vertical-align: middle;
line-height: 11.0pt;
}
#s-6754f284-5b0c-479f-96c4-e97958f93a7a #s-Input_10 input {
color: #808080;
text-align: left;
text-decoration: none;
font-family: Roboto-Light,Arial;
font-size: 11.0pt;
text-shadow: none;
}
#s-6754f284-5b0c-479f-96c4-e97958f93a7a #s-Line_3 {
position: absolute;
top: 30px;
left: 0px;
width: 135px;
height: 1px;
border-top-width: 1px;
border-top-style: solid;
border-top-color: #757575;
-webkit-transform: rotate(0deg);
-moz-transform: rotate(0deg);
transform: rotate(0deg);
box-shadow: none;
}
#s-6754f284-5b0c-479f-96c4-e97958f93a7a #s-Line_4 {
position: absolute;
top: 30px;
left: 1px;
width: 135px;
height: 2px;
border-top-width: 2px;
border-top-style: solid;
border-top-color: #4CB9CE;
opacity: 0.99;
-webkit-transform: rotate(0deg);
-moz-transform: rotate(0deg);
transform: rotate(0deg);
box-shadow: none;
}
#s-6754f284-5b0c-479f-96c4-e97958f93a7a #shapewrapper-s-Line_4 {
display: none;
}
#s-6754f284-5b0c-479f-96c4-e97958f93a7a #s-Category_5 {
position: absolute;
top: 0px;
left: 0px;
padding-bottom: 3px;
width: 139px;
height: 27px;
background-color: #FFFFFF;
background-image: none;
box-shadow: none;
text-shadow: none;
cursor: pointer;
color: #808080;
text-align: left;
text-decoration: none;
font-family: Roboto-Light,Arial;
font-size: 11.0pt;
vertical-align: middle;
}
#s-6754f284-5b0c-479f-96c4-e97958f93a7a #s-Category_5 .valign {
width: 121px;
}
#s-6754f284-5b0c-479f-96c4-e97958f93a7a #s-Label_34 {
position: absolute;
top: 1px;
left: 118px;
width: auto;
height: auto;
background-color: transparent;
background-image: none;
-webkit-transform: rotate(0deg);
-moz-transform: rotate(0deg);
transform: rotate(0deg);
box-shadow: none;
text-shadow: none;
font-size: 18.0pt;
font-family: materialdesignjim-Regular,Arial;
}
#s-6754f284-5b0c-479f-96c4-e97958f93a7a #s-Label_34 .valign {
vertical-align: middle;
text-align: left;
}
#s-6754f284-5b0c-479f-96c4-e97958f93a7a #s-Label_34 span {
color: #434343;
text-align: left;
text-decoration: none;
font-family: materialdesignjim-Regular,Arial;
font-size: 18.0pt;
}
#s-6754f284-5b0c-479f-96c4-e97958f93a7a #s-Label_34 span#rtr-s-Label_34_0 {
color: #434343;
text-align: left;
text-decoration: none;
font-family: materialdesignjim-Regular,Arial;
font-size: 18.0pt;
line-height: 0px;
}
#s-6754f284-5b0c-479f-96c4-e97958f93a7a #s-input_1 {
position: absolute;
top: 0px;
left: 565px;
width: 439px;
height: 32px;
}
#s-6754f284-5b0c-479f-96c4-e97958f93a7a #s-Input_5 {
position: absolute;
top: 0px;
left: 0px;
padding-bottom: 7px;
padding-left: 5px;
width: 429px;
height: 24px;
background-color: transparent;
background-image: none;
box-shadow: none;
text-shadow: none;
cursor: text;
}
#s-6754f284-5b0c-479f-96c4-e97958f93a7a #s-Input_5 .valign {
vertical-align: middle;
line-height: 11.0pt;
}
#s-6754f284-5b0c-479f-96c4-e97958f93a7a #s-Input_5 input {
color: #808080;
text-align: left;
text-decoration: none;
font-family: Roboto-Light,Arial;
font-size: 11.0pt;
text-shadow: none;
}
#s-6754f284-5b0c-479f-96c4-e97958f93a7a #s-Line_7 {
position: absolute;
top: 30px;
left: 5px;
width: 434px;
height: 1px;
border-top-width: 1px;
border-top-style: solid;
border-top-color: #757575;
-webkit-transform: rotate(0deg);
-moz-transform: rotate(0deg);
transform: rotate(0deg);
box-shadow: none;
}
#s-6754f284-5b0c-479f-96c4-e97958f93a7a #s-Line_8 {
position: absolute;
top: 30px;
left: 5px;
width: 434px;
height: 2px;
border-top-width: 2px;
border-top-style: solid;
border-top-color: #4CB9CE;
-webkit-transform: rotate(0deg);
-moz-transform: rotate(0deg);
transform: rotate(0deg);
box-shadow: none;
}
#s-6754f284-5b0c-479f-96c4-e97958f93a7a #shapewrapper-s-Line_8 {
display: none;
}
#s-6754f284-5b0c-479f-96c4-e97958f93a7a #s-input_2 {
position: absolute;
top: 1px;
left: 1017px;
width: 188px;
height: 32px;
}
#s-6754f284-5b0c-479f-96c4-e97958f93a7a #s-Input_1 {
position: absolute;
top: 0px;
left: 0px;
padding-bottom: 7px;
padding-left: 5px;
width: 165px;
height: 24px;
background-color: transparent;
background-image: none;
box-shadow: none;
text-shadow: none;
cursor: text;
}
#s-6754f284-5b0c-479f-96c4-e97958f93a7a #s-Input_1 .valign {
vertical-align: middle;
line-height: 11.0pt;
}
#s-6754f284-5b0c-479f-96c4-e97958f93a7a #s-Input_1 input {
color: #808080;
text-align: left;
text-decoration: none;
font-family: Roboto-Light,Arial;
font-size: 11.0pt;
text-shadow: none;
}
#s-6754f284-5b0c-479f-96c4-e97958f93a7a #s-Line_11 {
position: absolute;
top: 30px;
left: 5px;
width: 183px;
height: 1px;
border-top-width: 1px;
border-top-style: solid;
border-top-color: #757575;
-webkit-transform: rotate(0deg);
-moz-transform: rotate(0deg);
transform: rotate(0deg);
box-shadow: none;
}
#s-6754f284-5b0c-479f-96c4-e97958f93a7a #s-Line_12 {
position: absolute;
top: 30px;
left: 5px;
width: 180px;
height: 2px;
border-top-width: 2px;
border-top-style: solid;
border-top-color: #4CB9CE;
-webkit-transform: rotate(0deg);
-moz-transform: rotate(0deg);
transform: rotate(0deg);
box-shadow: none;
}
#s-6754f284-5b0c-479f-96c4-e97958f93a7a #shapewrapper-s-Line_12 {
display: none;
}
#s-6754f284-5b0c-479f-96c4-e97958f93a7a #s-input_3 {
position: absolute;
top: 72px;
left: 0px;
width: 243px;
height: 32px;
}
#s-6754f284-5b0c-479f-96c4-e97958f93a7a #s-Input_6 {
position: absolute;
top: 0px;
left: 0px;
padding-bottom: 7px;
padding-left: 5px;
width: 233px;
height: 24px;
background-color: transparent;
background-image: none;
box-shadow: none;
text-shadow: none;
cursor: text;
}
#s-6754f284-5b0c-479f-96c4-e97958f93a7a #s-Input_6 .valign {
vertical-align: middle;
line-height: 11.0pt;
}
#s-6754f284-5b0c-479f-96c4-e97958f93a7a #s-Input_6 input {
color: #808080;
text-align: left;
text-decoration: none;
font-family: Roboto-Light,Arial;
font-size: 11.0pt;
text-shadow: none;
}
#s-6754f284-5b0c-479f-96c4-e97958f93a7a #s-Line_13 {
position: absolute;
top: 30px;
left: 5px;
width: 238px;
height: 1px;
border-top-width: 1px;
border-top-style: solid;
border-top-color: #757575;
-webkit-transform: rotate(0deg);
-moz-transform: rotate(0deg);
transform: rotate(0deg);
box-shadow: none;
}
#s-6754f284-5b0c-479f-96c4-e97958f93a7a #s-Line_14 {
position: absolute;
top: 30px;
left: 5px;
width: 238px;
height: 2px;
border-top-width: 2px;
border-top-style: solid;
border-top-color: #4CB9CE;
-webkit-transform: rotate(0deg);
-moz-transform: rotate(0deg);
transform: rotate(0deg);
box-shadow: none;
}
#s-6754f284-5b0c-479f-96c4-e97958f93a7a #shapewrapper-s-Line_14 {
display: none;
}
#s-6754f284-5b0c-479f-96c4-e97958f93a7a #s-input_5 {
position: absolute;
top: 72px;
left: 256px;
width: 93px;
height: 32px;
}
#s-6754f284-5b0c-479f-96c4-e97958f93a7a #s-Input_4 {
position: absolute;
top: 0px;
left: 0px;
padding-bottom: 7px;
padding-left: 5px;
width: 83px;
height: 24px;
background-color: transparent;
background-image: none;
box-shadow: none;
text-shadow: none;
cursor: text;
}
#s-6754f284-5b0c-479f-96c4-e97958f93a7a #s-Input_4 .valign {
vertical-align: middle;
line-height: 11.0pt;
}
#s-6754f284-5b0c-479f-96c4-e97958f93a7a #s-Input_4 input {
color: #808080;
text-align: left;
text-decoration: none;
font-family: Roboto-Light,Arial;
font-size: 11.0pt;
text-shadow: none;
}
#s-6754f284-5b0c-479f-96c4-e97958f93a7a #s-Line_17 {
position: absolute;
top: 30px;
left: 5px;
width: 88px;
height: 1px;
border-top-width: 1px;
border-top-style: solid;
border-top-color: #757575;
-webkit-transform: rotate(0deg);
-moz-transform: rotate(0deg);
transform: rotate(0deg);
box-shadow: none;
}
#s-6754f284-5b0c-479f-96c4-e97958f93a7a #s-Line_18 {
position: absolute;
top: 30px;
left: 5px;
width: 88px;
height: 2px;
border-top-width: 2px;
border-top-style: solid;
border-top-color: #4CB9CE;
-webkit-transform: rotate(0deg);
-moz-transform: rotate(0deg);
transform: rotate(0deg);
box-shadow: none;
}
#s-6754f284-5b0c-479f-96c4-e97958f93a7a #shapewrapper-s-Line_18 {
display: none;
}
#s-6754f284-5b0c-479f-96c4-e97958f93a7a #s-Select_3 {
position: absolute;
top: 70px;
left: 553px;
width: 341px;
height: 34px;
}
#s-6754f284-5b0c-479f-96c4-e97958f93a7a #s-Group_5 {
position: absolute;
top: 2px;
left: 0px;
width: 332px;
height: 32px;
}
#s-6754f284-5b0c-479f-96c4-e97958f93a7a #s-Input_13 {
position: absolute;
top: 0px;
left: 0px;
padding-bottom: 7px;
padding-left: 20px;
width: 299px;
height: 24px;
background-color: transparent;
background-image: none;
box-shadow: none;
text-shadow: none;
cursor: text;
}
#s-6754f284-5b0c-479f-96c4-e97958f93a7a #s-Input_13 .valign {
vertical-align: middle;
line-height: 11.0pt;
}
#s-6754f284-5b0c-479f-96c4-e97958f93a7a #s-Input_13 input {
color: #808080;
text-align: left;
text-decoration: none;
font-family: Roboto-Light,Arial;
font-size: 11.0pt;
text-shadow: none;
}
#s-6754f284-5b0c-479f-96c4-e97958f93a7a #s-Line_23 {
position: absolute;
top: 30px;
left: 21px;
width: 310px;
height: 1px;
border-top-width: 1px;
border-top-style: solid;
border-top-color: #757575;
-webkit-transform: rotate(0deg);
-moz-transform: rotate(0deg);
transform: rotate(0deg);
box-shadow: none;
}
#s-6754f284-5b0c-479f-96c4-e97958f93a7a #s-Line_24 {
position: absolute;
top: 30px;
left: 22px;
width: 310px;
height: 2px;
border-top-width: 2px;
border-top-style: solid;
border-top-color: #4CB9CE;
-webkit-transform: rotate(0deg);
-moz-transform: rotate(0deg);
transform: rotate(0deg);
box-shadow: none;
}
#s-6754f284-5b0c-479f-96c4-e97958f93a7a #shapewrapper-s-Line_24 {
display: none;
}
#s-6754f284-5b0c-479f-96c4-e97958f93a7a #s-Category_6 {
position: absolute;
top: 1px;
left: 21px;
padding-bottom: 7px;
width: 317px;
height: 23px;
background-color: #FFFFFF;
background-image: none;
opacity: 0.99;
box-shadow: none;
text-shadow: none;
cursor: pointer;
color: #808080;
text-align: left;
text-decoration: none;
font-family: Roboto-Light,Arial;
font-size: 11.0pt;
vertical-align: middle;
}
#s-6754f284-5b0c-479f-96c4-e97958f93a7a #s-Category_6 .valign {
width: 299px;
}
#s-6754f284-5b0c-479f-96c4-e97958f93a7a #s-Label_5 {
position: absolute;
top: 0px;
left: 317px;
width: auto;
height: auto;
background-color: transparent;
background-image: none;
-webkit-transform: rotate(0deg);
-moz-transform: rotate(0deg);
transform: rotate(0deg);
box-shadow: none;
text-shadow: none;
font-size: 18.0pt;
font-family: materialdesignjim-Regular,Arial;
}
#s-6754f284-5b0c-479f-96c4-e97958f93a7a #s-Label_5 .valign {
vertical-align: middle;
text-align: left;
}
#s-6754f284-5b0c-479f-96c4-e97958f93a7a #s-Label_5 span {
color: #434343;
text-align: left;
text-decoration: none;
font-family: materialdesignjim-Regular,Arial;
font-size: 18.0pt;
}
#s-6754f284-5b0c-479f-96c4-e97958f93a7a #s-Label_5 span#rtr-s-Label_5_0 {
color: #434343;
text-align: left;
text-decoration: none;
font-family: materialdesignjim-Regular,Arial;
font-size: 18.0pt;
line-height: 0px;
}
#s-6754f284-5b0c-479f-96c4-e97958f93a7a #s-input_6 {
position: absolute;
top: 142px;
left: 344px;
width: 326px;
height: 32px;
}
#s-6754f284-5b0c-479f-96c4-e97958f93a7a #s-Input_14 {
position: absolute;
top: 0px;
left: 0px;
padding-bottom: 7px;
padding-left: 5px;
width: 315px;
height: 24px;
background-color: transparent;
background-image: none;
box-shadow: none;
text-shadow: none;
cursor: text;
}
#s-6754f284-5b0c-479f-96c4-e97958f93a7a #s-Input_14 .valign {
vertical-align: middle;
line-height: 11.0pt;
}
#s-6754f284-5b0c-479f-96c4-e97958f93a7a #s-Input_14 input {
color: #666666;
text-align: left;
text-decoration: none;
font-family: Roboto-Light,Arial;
font-size: 11.0pt;
text-shadow: none;
}
#s-6754f284-5b0c-479f-96c4-e97958f93a7a #s-Line_25 {
position: absolute;
top: 30px;
left: 6px;
width: 320px;
height: 1px;
border-top-width: 1px;
border-top-style: solid;
border-top-color: #757575;
-webkit-transform: rotate(0deg);
-moz-transform: rotate(0deg);
transform: rotate(0deg);
box-shadow: none;
}
#s-6754f284-5b0c-479f-96c4-e97958f93a7a #s-Line_26 {
position: absolute;
top: 30px;
left: 5px;
width: 321px;
height: 2px;
border-top-width: 2px;
border-top-style: solid;
border-top-color: #4CB9CE;
-webkit-transform: rotate(0deg);
-moz-transform: rotate(0deg);
transform: rotate(0deg);
box-shadow: none;
}
#s-6754f284-5b0c-479f-96c4-e97958f93a7a #shapewrapper-s-Line_26 {
display: none;
}
#s-6754f284-5b0c-479f-96c4-e97958f93a7a #s-input_7 {
position: absolute;
top: 142px;
left: 682px;
width: 327px;
height: 32px;
}
#s-6754f284-5b0c-479f-96c4-e97958f93a7a #s-Input_7 {
position: absolute;
top: 0px;
left: 0px;
padding-bottom: 7px;
padding-left: 5px;
width: 317px;
height: 24px;
background-color: transparent;
background-image: none;
opacity: 0.97;
box-shadow: none;
text-shadow: none;
cursor: text;
}
#s-6754f284-5b0c-479f-96c4-e97958f93a7a #s-Input_7 .valign {
vertical-align: middle;
line-height: 11.0pt;
}
#s-6754f284-5b0c-479f-96c4-e97958f93a7a #s-Input_7 input {
color: #666666;
text-align: left;
text-decoration: none;
font-family: Roboto-Light,Arial;
font-size: 11.0pt;
text-shadow: none;
}
#s-6754f284-5b0c-479f-96c4-e97958f93a7a #s-Line_27 {
position: absolute;
top: 30px;
left: 5px;
width: 322px;
height: 1px;
border-top-width: 1px;
border-top-style: solid;
border-top-color: #757575;
-webkit-transform: rotate(0deg);
-moz-transform: rotate(0deg);
transform: rotate(0deg);
box-shadow: none;
}
#s-6754f284-5b0c-479f-96c4-e97958f93a7a #s-Line_28 {
position: absolute;
top: 30px;
left: 5px;
width: 322px;
height: 2px;
border-top-width: 2px;
border-top-style: solid;
border-top-color: #4CB9CE;
-webkit-transform: rotate(0deg);
-moz-transform: rotate(0deg);
transform: rotate(0deg);
box-shadow: none;
}
#s-6754f284-5b0c-479f-96c4-e97958f93a7a #shapewrapper-s-Line_28 {
display: none;
}
#s-6754f284-5b0c-479f-96c4-e97958f93a7a #s-input_8 {
position: absolute;
top: 142px;
left: 6px;
width: 322px;
height: 32px;
}
#s-6754f284-5b0c-479f-96c4-e97958f93a7a #s-Input_8 {
position: absolute;
top: 0px;
left: 0px;
width: 322px;
height: 31px;
background-color: transparent;
background-image: none;
box-shadow: none;
text-shadow: none;
cursor: text;
}
#s-6754f284-5b0c-479f-96c4-e97958f93a7a #s-Input_8 .valign {
vertical-align: middle;
line-height: 11.0pt;
}
#s-6754f284-5b0c-479f-96c4-e97958f93a7a #s-Input_8 input {
color: #808080;
text-align: left;
text-decoration: none;
font-family: Roboto-Light,Arial;
font-size: 11.0pt;
text-shadow: none;
}
#s-6754f284-5b0c-479f-96c4-e97958f93a7a #s-Line_29 {
position: absolute;
top: 30px;
left: 0px;
width: 322px;
height: 1px;
border-top-width: 1px;
border-top-style: solid;
border-top-color: #666666;
-webkit-transform: rotate(0deg);
-moz-transform: rotate(0deg);
transform: rotate(0deg);
box-shadow: none;
}
#s-6754f284-5b0c-479f-96c4-e97958f93a7a #s-Line_30 {
position: absolute;
top: 30px;
left: 0px;
width: 322px;
height: 2px;
border-top-width: 2px;
border-top-style: solid;
border-top-color: #4CB9CE;
-webkit-transform: rotate(0deg);
-moz-transform: rotate(0deg);
transform: rotate(0deg);
box-shadow: none;
}
#s-6754f284-5b0c-479f-96c4-e97958f93a7a #shapewrapper-s-Line_30 {
display: none;
}
#s-6754f284-5b0c-479f-96c4-e97958f93a7a #s-Select_4 {
position: absolute;
top: 71px;
left: 895px;
width: 317px;
height: 33px;
}
#s-6754f284-5b0c-479f-96c4-e97958f93a7a #s-Group_6 {
position: absolute;
top: 1px;
left: 0px;
width: 312px;
height: 32px;
}
#s-6754f284-5b0c-479f-96c4-e97958f93a7a #s-Input_2 {
position: absolute;
top: 0px;
left: 0px;
padding-bottom: 7px;
width: 312px;
height: 24px;
background-color: transparent;
background-image: none;
box-shadow: none;
text-shadow: none;
cursor: text;
}
#s-6754f284-5b0c-479f-96c4-e97958f93a7a #s-Input_2 .valign {
vertical-align: middle;
line-height: 11.0pt;
}
#s-6754f284-5b0c-479f-96c4-e97958f93a7a #s-Input_2 input {
color: #808080;
text-align: left;
text-decoration: none;
font-family: Roboto-Light,Arial;
font-size: 11.0pt;
text-shadow: none;
}
#s-6754f284-5b0c-479f-96c4-e97958f93a7a #s-Line_15 {
position: absolute;
top: 30px;
left: 0px;
width: 312px;
height: 1px;
border-top-width: 1px;
border-top-style: solid;
border-top-color: #666666;
-webkit-transform: rotate(0deg);
-moz-transform: rotate(0deg);
transform: rotate(0deg);
box-shadow: none;
}
#s-6754f284-5b0c-479f-96c4-e97958f93a7a #s-Line_16 {
position: absolute;
top: 30px;
left: 0px;
width: 312px;
height: 2px;
border-top-width: 2px;
border-top-style: solid;
border-top-color: #4CB9CE;
-webkit-transform: rotate(0deg);
-moz-transform: rotate(0deg);
transform: rotate(0deg);
box-shadow: none;
}
#s-6754f284-5b0c-479f-96c4-e97958f93a7a #shapewrapper-s-Line_16 {
display: none;
}
#s-6754f284-5b0c-479f-96c4-e97958f93a7a #s-Category_3 {
position: absolute;
top: 1px;
left: 0px;
padding-bottom: 7px;
width: 313px;
height: 23px;
background-color: #FFFFFF;
background-image: none;
opacity: 0.98;
box-shadow: none;
text-shadow: none;
cursor: pointer;
color: #808080;
text-align: left;
text-decoration: none;
font-family: Roboto-Light,Arial;
font-size: 11.0pt;
vertical-align: middle;
}
#s-6754f284-5b0c-479f-96c4-e97958f93a7a #s-Category_3 .valign {
width: 295px;
}
#s-6754f284-5b0c-479f-96c4-e97958f93a7a #s-Label_6 {
position: absolute;
top: 0px;
left: 293px;
width: auto;
height: auto;
background-color: transparent;
background-image: none;
-webkit-transform: rotate(0deg);
-moz-transform: rotate(0deg);
transform: rotate(0deg);
box-shadow: none;
text-shadow: none;
font-size: 18.0pt;
font-family: materialdesignjim-Regular,Arial;
}
#s-6754f284-5b0c-479f-96c4-e97958f93a7a #s-Label_6 .valign {
vertical-align: middle;
text-align: left;
}
#s-6754f284-5b0c-479f-96c4-e97958f93a7a #s-Label_6 span {
color: #434343;
text-align: left;
text-decoration: none;
font-family: materialdesignjim-Regular,Arial;
font-size: 18.0pt;
}
#s-6754f284-5b0c-479f-96c4-e97958f93a7a #s-Label_6 span#rtr-s-Label_6_0 {
color: #434343;
text-align: left;
text-decoration: none;
font-family: materialdesignjim-Regular,Arial;
font-size: 18.0pt;
line-height: 0px;
}
#s-6754f284-5b0c-479f-96c4-e97958f93a7a #s-input_4 {
position: absolute;
top: 0px;
left: 171px;
width: 383px;
height: 32px;
}
#s-6754f284-5b0c-479f-96c4-e97958f93a7a #s-Input_3 {
position: absolute;
top: 0px;
left: 0px;
padding-bottom: 7px;
width: 383px;
height: 24px;
background-color: transparent;
background-image: none;
box-shadow: none;
text-shadow: none;
cursor: text;
}
#s-6754f284-5b0c-479f-96c4-e97958f93a7a #s-Input_3 .valign {
vertical-align: middle;
line-height: 11.0pt;
}
#s-6754f284-5b0c-479f-96c4-e97958f93a7a #s-Input_3 input {
color: #808080;
text-align: left;
text-decoration: none;
font-family: Roboto-Light,Arial;
font-size: 11.0pt;
text-shadow: none;
}
#s-6754f284-5b0c-479f-96c4-e97958f93a7a #s-Line_1 {
position: absolute;
top: 30px;
left: 0px;
width: 383px;
height: 1px;
border-top-width: 1px;
border-top-style: solid;
border-top-color: #666666;
-webkit-transform: rotate(0deg);
-moz-transform: rotate(0deg);
transform: rotate(0deg);
box-shadow: none;
}
#s-6754f284-5b0c-479f-96c4-e97958f93a7a #s-Line_2 {
position: absolute;
top: 30px;
left: 0px;
width: 383px;
height: 2px;
border-top-width: 2px;
border-top-style: solid;
border-top-color: #4CB9CE;
-webkit-transform: rotate(0deg);
-moz-transform: rotate(0deg);
transform: rotate(0deg);
box-shadow: none;
}
#s-6754f284-5b0c-479f-96c4-e97958f93a7a #shapewrapper-s-Line_2 {
display: none;
}
#s-6754f284-5b0c-479f-96c4-e97958f93a7a #s-Select_1 {
position: absolute;
top: 71px;
left: 361px;
width: 198px;
height: 33px;
}
#s-6754f284-5b0c-479f-96c4-e97958f93a7a #s-Group_4 {
position: absolute;
top: 1px;
left: 0px;
width: 193px;
height: 32px;
}
#s-6754f284-5b0c-479f-96c4-e97958f93a7a #s-Input_11 {
position: absolute;
top: 0px;
left: 0px;
padding-left: 20px;
width: 173px;
height: 31px;
background-color: transparent;
background-image: none;
box-shadow: none;
text-shadow: none;
cursor: text;
}
#s-6754f284-5b0c-479f-96c4-e97958f93a7a #s-Input_11 .valign {
vertical-align: middle;
line-height: 10.0pt;
}
#s-6754f284-5b0c-479f-96c4-e97958f93a7a #s-Input_11 input {
color: #808080;
text-align: left;
text-decoration: none;
font-family: Roboto-Light,Arial;
font-size: 10.0pt;
text-shadow: none;
}
#s-6754f284-5b0c-479f-96c4-e97958f93a7a #s-Line_5 {
position: absolute;
top: 30px;
left: 0px;
width: 193px;
height: 1px;
border-top-width: 1px;
border-top-style: solid;
border-top-color: #666666;
-webkit-transform: rotate(0deg);
-moz-transform: rotate(0deg);
transform: rotate(0deg);
box-shadow: none;
}
#s-6754f284-5b0c-479f-96c4-e97958f93a7a #s-Line_6 {
position: absolute;
top: 30px;
left: 0px;
width: 193px;
height: 2px;
border-top-width: 2px;
border-top-style: solid;
border-top-color: #4CB9CE;
-webkit-transform: rotate(0deg);
-moz-transform: rotate(0deg);
transform: rotate(0deg);
box-shadow: none;
}
#s-6754f284-5b0c-479f-96c4-e97958f93a7a #shapewrapper-s-Line_6 {
display: none;
}
#s-6754f284-5b0c-479f-96c4-e97958f93a7a #s-Category_2 {
position: absolute;
top: 1px;
left: 0px;
padding-bottom: 7px;
width: 195px;
height: 23px;
background-color: #FFFFFF;
background-image: none;
opacity: 0.99;
box-shadow: none;
text-shadow: none;
cursor: pointer;
color: #808080;
text-align: left;
text-decoration: none;
font-family: Roboto-Light,Arial;
font-size: 11.0pt;
vertical-align: middle;
}
#s-6754f284-5b0c-479f-96c4-e97958f93a7a #s-Category_2 .valign {
width: 177px;
}
#s-6754f284-5b0c-479f-96c4-e97958f93a7a #s-Label_3 {
position: absolute;
top: 0px;
left: 174px;
width: auto;
height: auto;
background-color: transparent;
background-image: none;
-webkit-transform: rotate(0deg);
-moz-transform: rotate(0deg);
transform: rotate(0deg);
box-shadow: none;
text-shadow: none;
font-size: 18.0pt;
font-family: materialdesignjim-Regular,Arial;
}
#s-6754f284-5b0c-479f-96c4-e97958f93a7a #s-Label_3 .valign {
vertical-align: middle;
text-align: left;
}
#s-6754f284-5b0c-479f-96c4-e97958f93a7a #s-Label_3 span {
color: #434343;
text-align: left;
text-decoration: none;
font-family: materialdesignjim-Regular,Arial;
font-size: 18.0pt;
}
#s-6754f284-5b0c-479f-96c4-e97958f93a7a #s-Label_3 span#rtr-s-Label_3_0 {
color: #434343;
text-align: left;
text-decoration: none;
font-family: materialdesignjim-Regular,Arial;
font-size: 18.0pt;
line-height: 0px;
}
#s-6754f284-5b0c-479f-96c4-e97958f93a7a #s-Label_8 {
position: absolute;
top: 175px;
left: 312px;
width: auto;
height: auto;
background-color: transparent;
background-image: none;
-webkit-transform: rotate(0deg);
-moz-transform: rotate(0deg);
transform: rotate(0deg);
box-shadow: none;
text-shadow: none;
display: none;
font-size: 14.0pt;
font-family: materialdesignjim-Regular,Arial;
}
#s-6754f284-5b0c-479f-96c4-e97958f93a7a #s-Label_8 .valign {
vertical-align: middle;
text-align: left;
}
#s-6754f284-5b0c-479f-96c4-e97958f93a7a #s-Label_8 span {
color: #FF0000;
text-align: left;
text-decoration: none;
font-family: materialdesignjim-Regular,Arial;
font-size: 14.0pt;
}
#s-6754f284-5b0c-479f-96c4-e97958f93a7a #s-Label_8 span#rtr-s-Label_8_0 {
color: #FF0000;
text-align: left;
text-decoration: none;
font-family: materialdesignjim-Regular,Arial;
font-size: 14.0pt;
line-height: 0px;
}
#s-6754f284-5b0c-479f-96c4-e97958f93a7a #s-Label_9 {
position: absolute;
top: 175px;
left: 653px;
width: auto;
height: auto;
background-color: transparent;
background-image: none;
-webkit-transform: rotate(0deg);
-moz-transform: rotate(0deg);
transform: rotate(0deg);
box-shadow: none;
text-shadow: none;
display: none;
font-size: 14.0pt;
font-family: materialdesignjim-Regular,Arial;
}
#s-6754f284-5b0c-479f-96c4-e97958f93a7a #s-Label_9 .valign {
vertical-align: middle;
text-align: left;
}
#s-6754f284-5b0c-479f-96c4-e97958f93a7a #s-Label_9 span {
color: #FF0000;
text-align: left;
text-decoration: none;
font-family: materialdesignjim-Regular,Arial;
font-size: 14.0pt;
}
#s-6754f284-5b0c-479f-96c4-e97958f93a7a #s-Label_9 span#rtr-s-Label_9_0 {
color: #FF0000;
text-align: left;
text-decoration: none;
font-family: materialdesignjim-Regular,Arial;
font-size: 14.0pt;
line-height: 0px;
}
#s-6754f284-5b0c-479f-96c4-e97958f93a7a #s-Group_2 {
position: absolute;
top: 302px;
left: 181px;
width: 247px;
height: 35px;
display: none;
}
#s-6754f284-5b0c-479f-96c4-e97958f93a7a #s-Label_20 {
position: absolute;
top: 0px;
left: 0px;
width: 231px;
height: 35px;
background-color: transparent;
background-image: none;
-webkit-transform: rotate(0deg);
-moz-transform: rotate(0deg);
transform: rotate(0deg);
box-shadow: none;
text-shadow: none;
font-size: 10.0pt;
font-family: Roboto-Light,Arial;
}
#s-6754f284-5b0c-479f-96c4-e97958f93a7a #s-Label_20 .valign {
vertical-align: middle;
text-align: center;
}
#s-6754f284-5b0c-479f-96c4-e97958f93a7a #s-Label_20 span {
color: #FF0000;
text-align: center;
text-decoration: none;
font-family: Roboto-Light,Arial;
font-size: 10.0pt;
}
#s-6754f284-5b0c-479f-96c4-e97958f93a7a #s-Label_20 span#rtr-s-Label_20_0 {
color: #FF0000;
text-align: center;
text-decoration: none;
font-family: Roboto-Light,Arial;
font-size: 10.0pt;
line-height: 0px;
}
#s-6754f284-5b0c-479f-96c4-e97958f93a7a #s-Label_10 {
position: absolute;
top: 7px;
left: 228px;
width: auto;
height: auto;
background-color: transparent;
background-image: none;
-webkit-transform: rotate(0deg);
-moz-transform: rotate(0deg);
transform: rotate(0deg);
box-shadow: none;
text-shadow: none;
font-size: 14.0pt;
font-family: materialdesignjim-Regular,Arial;
}
#s-6754f284-5b0c-479f-96c4-e97958f93a7a #s-Label_10 .valign {
vertical-align: middle;
text-align: left;
}
#s-6754f284-5b0c-479f-96c4-e97958f93a7a #s-Label_10 span {
color: #FF0000;
text-align: left;
text-decoration: none;
font-family: materialdesignjim-Regular,Arial;
font-size: 14.0pt;
}
#s-6754f284-5b0c-479f-96c4-e97958f93a7a #s-Label_10 span#rtr-s-Label_10_0 {
color: #FF0000;
text-align: left;
text-decoration: none;
font-family: materialdesignjim-Regular,Arial;
font-size: 14.0pt;
line-height: 0px;
}
#s-6754f284-5b0c-479f-96c4-e97958f93a7a #s-Label_18 {
position: absolute;
top: 400px;
left: 10px;
width: 53px;
height: 20px;
background-color: transparent;
background-image: none;
-webkit-transform: rotate(0deg);
-moz-transform: rotate(0deg);
transform: rotate(0deg);
box-shadow: none;
text-shadow: none;
display: none;
font-size: 8.0pt;
font-family: Roboto-Regular,Arial;
}
#s-6754f284-5b0c-479f-96c4-e97958f93a7a #s-Label_18 .valign {
vertical-align: middle;
text-align: left;
}
#s-6754f284-5b0c-479f-96c4-e97958f93a7a #s-Label_18 span {
color: #000000;
text-align: left;
text-decoration: none;
font-family: Roboto-Regular,Arial;
font-size: 8.0pt;
}
#s-6754f284-5b0c-479f-96c4-e97958f93a7a #s-Label_18 span#rtr-s-Label_18_0 {
color: #000000;
text-align: left;
text-decoration: none;
font-family: Roboto-Regular,Arial;
font-size: 8.0pt;
line-height: 0px;
}
#s-6754f284-5b0c-479f-96c4-e97958f93a7a #s-Label_19 {
position: absolute;
top: 400px;
left: 70px;
width: 67px;
height: 20px;
background-color: transparent;
background-image: none;
-webkit-transform: rotate(0deg);
-moz-transform: rotate(0deg);
transform: rotate(0deg);
box-shadow: none;
text-shadow: none;
display: none;
font-size: 8.0pt;
font-family: Roboto-Regular,Arial;
}
#s-6754f284-5b0c-479f-96c4-e97958f93a7a #s-Label_19 .valign {
vertical-align: middle;
text-align: left;
}
#s-6754f284-5b0c-479f-96c4-e97958f93a7a #s-Label_19 span {
color: #000000;
text-align: left;
text-decoration: none;
font-family: Roboto-Regular,Arial;
font-size: 8.0pt;
}
#s-6754f284-5b0c-479f-96c4-e97958f93a7a #s-Label_19 span#rtr-s-Label_19_0 {
color: #000000;
text-align: left;
text-decoration: none;
font-family: Roboto-Regular,Arial;
font-size: 8.0pt;
line-height: 0px;
}
#s-6754f284-5b0c-479f-96c4-e97958f93a7a #s-Title {
position: absolute;
top: 523px;
left: 42px;
width: 1201px;
height: 62px;
}
#s-6754f284-5b0c-479f-96c4-e97958f93a7a #s-Line_9 {
position: absolute;
top: 61px;
left: 0px;
width: 1201px;
height: 1px;
border-top-width: 1px;
border-top-style: solid;
border-top-color: #CCCCCC;
-webkit-transform: rotate(0deg);
-moz-transform: rotate(0deg);
transform: rotate(0deg);
box-shadow: none;
}
#s-6754f284-5b0c-479f-96c4-e97958f93a7a #s-Label_4 {
position: absolute;
top: 28px;
left: 3px;
width: 449px;
height: 29px;
background-color: transparent;
background-image: none;
-webkit-transform: rotate(0deg);
-moz-transform: rotate(0deg);
transform: rotate(0deg);
box-shadow: none;
text-shadow: none;
font-size: 11.0pt;
font-family: Roboto-Regular,Arial;
}
#s-6754f284-5b0c-479f-96c4-e97958f93a7a #s-Label_4 .valign {
vertical-align: middle;
text-align: left;
}
#s-6754f284-5b0c-479f-96c4-e97958f93a7a #s-Label_4 span {
color: #4CB9CE;
text-align: left;
text-decoration: none;
font-family: Roboto-Regular,Arial;
font-size: 11.0pt;
}
#s-6754f284-5b0c-479f-96c4-e97958f93a7a #s-Label_4 span#rtr-s-Label_4_0 {
color: #4CB9CE;
text-align: left;
text-decoration: none;
font-family: Roboto-Regular,Arial;
font-size: 11.0pt;
line-height: 0px;
}
#s-6754f284-5b0c-479f-96c4-e97958f93a7a #s-Label_2 {
position: absolute;
top: 0px;
left: 89px;
width: 199px;
height: 29px;
background-color: transparent;
background-image: none;
-webkit-transform: rotate(0deg);
-moz-transform: rotate(0deg);
transform: rotate(0deg);
box-shadow: none;
text-shadow: none;
font-size: 20.0pt;
font-family: Roboto-Light,Arial;
}
#s-6754f284-5b0c-479f-96c4-e97958f93a7a #s-Label_2 .valign {
vertical-align: middle;
text-align: left;
}
#s-6754f284-5b0c-479f-96c4-e97958f93a7a #s-Label_2 span {
color: #333333;
text-align: left;
text-decoration: none;
font-family: Roboto-Light,Arial;
font-size: 20.0pt;
}
#s-6754f284-5b0c-479f-96c4-e97958f93a7a #s-Label_2 span#rtr-s-Label_2_0 {
color: #333333;
text-align: left;
text-decoration: none;
font-family: Roboto-Light,Arial;
font-size: 20.0pt;
line-height: 0px;
}
#s-6754f284-5b0c-479f-96c4-e97958f93a7a #s-Label_1 {
position: absolute;
top: 0px;
left: 3px;
width: 183px;
height: 29px;
background-color: transparent;
background-image: none;
-webkit-transform: rotate(0deg);
-moz-transform: rotate(0deg);
transform: rotate(0deg);
box-shadow: none;
text-shadow: none;
font-size: 20.0pt;
font-family: Roboto-Light,Arial;
}
#s-6754f284-5b0c-479f-96c4-e97958f93a7a #s-Label_1 .valign {
vertical-align: middle;
text-align: left;
}
#s-6754f284-5b0c-479f-96c4-e97958f93a7a #s-Label_1 span {
color: #4CB9CE;
text-align: left;
text-decoration: none;
font-family: Roboto-Light,Arial;
font-size: 20.0pt;
}
#s-6754f284-5b0c-479f-96c4-e97958f93a7a #s-Label_1 span#rtr-s-Label_1_0 {
color: #4CB9CE;
text-align: left;
text-decoration: none;
font-family: Roboto-Light,Arial;
font-size: 20.0pt;
line-height: 0px;
}
#s-6754f284-5b0c-479f-96c4-e97958f93a7a > #loadMark {
width: 1px;
visibility: hidden;
display: none;
}