#s-b4d769f2-c0fa-4d7a-92d4-f6e1f36ca555 > #backgroundBox {
background-color: transparent;
background-image: none;
position: absolute;
}
#s-b4d769f2-c0fa-4d7a-92d4-f6e1f36ca555 > #alignmentBox {
position: relative;
margin: 0 auto;
width: 1280px;
min-width: 1280px;
min-height: 900px;
}
#s-b4d769f2-c0fa-4d7a-92d4-f6e1f36ca555 #s-Base {
position: absolute;
top: 471px;
left: 0px;
width: 1280px;
height: 1637px;
background-color: #FFFFFF;
background-image: none;
-webkit-transform: rotate(0deg);
-moz-transform: rotate(0deg);
transform: rotate(0deg);
box-shadow: none;
text-shadow: none;
line-height: 20px;
font-size: 11.0pt;
font-family: Arial,Arial;
}
#s-b4d769f2-c0fa-4d7a-92d4-f6e1f36ca555 #s-Base .valign {
vertical-align: middle;
text-align: center;
}
#s-b4d769f2-c0fa-4d7a-92d4-f6e1f36ca555 #s-Base span {
color: #333333;
text-align: center;
text-decoration: none;
font-family: Arial,Arial;
font-size: 11.0pt;
font-style: normal;
font-weight: 400;
}
#s-b4d769f2-c0fa-4d7a-92d4-f6e1f36ca555 #s-Base span#rtr-s-Base_0 {
color: #333333;
text-align: center;
text-decoration: none;
font-family: Arial,Arial;
font-size: 11.0pt;
font-style: normal;
font-weight: 400;
line-height: 0px;
}
#s-b4d769f2-c0fa-4d7a-92d4-f6e1f36ca555 #s-Footer {
position: absolute;
top: 2090px;
left: 0px;
width: 1280px;
height: 263px;
}
#s-b4d769f2-c0fa-4d7a-92d4-f6e1f36ca555 #s-Rectangle_4 {
position: absolute;
top: 0px;
left: 0px;
width: 1280px;
height: 263px;
background-color: #F9F9F9;
background-image: none;
-webkit-transform: rotate(0deg);
-moz-transform: rotate(0deg);
transform: rotate(0deg);
box-shadow: none;
text-shadow: none;
line-height: 20px;
font-size: 11.0pt;
font-family: Arial,Arial;
}
#s-b4d769f2-c0fa-4d7a-92d4-f6e1f36ca555 #s-Rectangle_4 .valign {
vertical-align: middle;
text-align: center;
}
#s-b4d769f2-c0fa-4d7a-92d4-f6e1f36ca555 #s-Rectangle_4 span {
color: #333333;
text-align: center;
text-decoration: none;
font-family: Arial,Arial;
font-size: 11.0pt;
font-style: normal;
font-weight: 400;
}
#s-b4d769f2-c0fa-4d7a-92d4-f6e1f36ca555 #s-Rectangle_4 span#rtr-s-Rectangle_4_0 {
color: #333333;
text-align: center;
text-decoration: none;
font-family: Arial,Arial;
font-size: 11.0pt;
font-style: normal;
font-weight: 400;
line-height: 0px;
}
#s-b4d769f2-c0fa-4d7a-92d4-f6e1f36ca555 #s-Image_1 {
position: absolute;
top: 83px;
left: 425px;
width: 173px;
height: 22px;
-webkit-transform: rotate(0deg);
-moz-transform: rotate(0deg);
transform: rotate(0deg);
box-shadow: none;
}
#s-b4d769f2-c0fa-4d7a-92d4-f6e1f36ca555 #s-Label_11 {
position: absolute;
top: 53px;
left: 425px;
width: 274px;
height: 27px;
background-color: transparent;
background-image: none;
-webkit-transform: rotate(0deg);
-moz-transform: rotate(0deg);
transform: rotate(0deg);
box-shadow: none;
text-shadow: none;
font-size: 10.5pt;
font-family: Roboto-Bold,Arial;
}
#s-b4d769f2-c0fa-4d7a-92d4-f6e1f36ca555 #s-Label_11 .valign {
vertical-align: middle;
text-align: left;
}
#s-b4d769f2-c0fa-4d7a-92d4-f6e1f36ca555 #s-Label_11 span {
color: #4CB9CE;
text-align: left;
text-decoration: none;
font-family: Roboto-Bold,Arial;
font-size: 10.5pt;
}
#s-b4d769f2-c0fa-4d7a-92d4-f6e1f36ca555 #s-Label_11 span#rtr-s-Label_11_0 {
color: #4CB9CE;
text-align: left;
text-decoration: none;
font-family: Roboto-Bold,Arial;
font-size: 10.5pt;
line-height: 0px;
}
#s-b4d769f2-c0fa-4d7a-92d4-f6e1f36ca555 #s-Label_18 {
position: absolute;
top: 152px;
left: 42px;
width: 479px;
height: 27px;
background-color: transparent;
background-image: none;
-webkit-transform: rotate(0deg);
-moz-transform: rotate(0deg);
transform: rotate(0deg);
box-shadow: none;
text-shadow: none;
font-size: 9.0pt;
font-family: Roboto-Bold,Arial;
}
#s-b4d769f2-c0fa-4d7a-92d4-f6e1f36ca555 #s-Label_18 .valign {
vertical-align: middle;
text-align: left;
}
#s-b4d769f2-c0fa-4d7a-92d4-f6e1f36ca555 #s-Label_18 span {
color: #999999;
text-align: left;
text-decoration: none;
font-family: Roboto-Bold,Arial;
font-size: 9.0pt;
}
#s-b4d769f2-c0fa-4d7a-92d4-f6e1f36ca555 #s-Label_18 span#rtr-s-Label_18_0 {
color: #999999;
text-align: left;
text-decoration: none;
font-family: Roboto-Bold,Arial;
font-size: 9.0pt;
line-height: 0px;
}
#s-b4d769f2-c0fa-4d7a-92d4-f6e1f36ca555 #s-Rich_text_1 {
position: absolute;
top: 80px;
left: 42px;
width: 293px;
height: 104px;
background-color: transparent;
background-image: none;
-webkit-transform: rotate(0deg);
-moz-transform: rotate(0deg);
transform: rotate(0deg);
box-shadow: none;
text-shadow: none;
line-height: 21px;
font-size: 11.0pt;
font-family: Roboto-Medium,Arial;
}
#s-b4d769f2-c0fa-4d7a-92d4-f6e1f36ca555 #s-Rich_text_1 .valign {
vertical-align: top;
text-align: left;
}
#s-b4d769f2-c0fa-4d7a-92d4-f6e1f36ca555 #s-Rich_text_1 span {
color: #666666;
text-align: left;
text-decoration: none;
font-family: Roboto-Medium,Arial;
font-size: 11.0pt;
}
#s-b4d769f2-c0fa-4d7a-92d4-f6e1f36ca555 #s-Rich_text_1 span#rtr-s-Rich_text_1_0 {
color: #666666;
text-align: left;
text-decoration: none;
font-family: Roboto-Medium,Arial;
font-size: 11.0pt;
line-height: 0px;
}
#s-b4d769f2-c0fa-4d7a-92d4-f6e1f36ca555 #s-Label_23 {
position: absolute;
top: 53px;
left: 42px;
width: 274px;
height: 27px;
background-color: transparent;
background-image: none;
-webkit-transform: rotate(0deg);
-moz-transform: rotate(0deg);
transform: rotate(0deg);
box-shadow: none;
text-shadow: none;
font-size: 10.5pt;
font-family: Roboto-Bold,Arial;
}
#s-b4d769f2-c0fa-4d7a-92d4-f6e1f36ca555 #s-Label_23 .valign {
vertical-align: middle;
text-align: left;
}
#s-b4d769f2-c0fa-4d7a-92d4-f6e1f36ca555 #s-Label_23 span {
color: #4CB9CE;
text-align: left;
text-decoration: none;
font-family: Roboto-Bold,Arial;
font-size: 10.5pt;
}
#s-b4d769f2-c0fa-4d7a-92d4-f6e1f36ca555 #s-Label_23 span#rtr-s-Label_23_0 {
color: #4CB9CE;
text-align: left;
text-decoration: none;
font-family: Roboto-Bold,Arial;
font-size: 10.5pt;
line-height: 0px;
}
#s-b4d769f2-c0fa-4d7a-92d4-f6e1f36ca555 #s-Quotes {
position: absolute;
top: 585px;
left: 41px;
width: 1200px;
height: 1446px;
}
#s-b4d769f2-c0fa-4d7a-92d4-f6e1f36ca555 #s-Dynamic_Panel_2 {
position: absolute;
top: 43px;
left: 0px;
}
#s-b4d769f2-c0fa-4d7a-92d4-f6e1f36ca555 #s-Panel_2 {
width: 1200px;
height: 1403px;
background-color: transparent;
background-image: none;
box-shadow: none;
overflow-x: hidden;
overflow-y: auto;
}
#s-b4d769f2-c0fa-4d7a-92d4-f6e1f36ca555 #s-Panel_2 .verticalalign {
vertical-align: top;
}
#s-b4d769f2-c0fa-4d7a-92d4-f6e1f36ca555 #s-quotesdetail {
position: absolute;
top: 0px;
left: 0px;
width: 1200px;
opacity: 0.99;
box-shadow: none;
}
#s-b4d769f2-c0fa-4d7a-92d4-f6e1f36ca555 #s-quotesdetail tr.odd {
background-color: #FFFFFF;
background-image: none;
}
#s-b4d769f2-c0fa-4d7a-92d4-f6e1f36ca555 #s-quotesdetail tr.even {
background-color: #FAFAFA;
background-image: none;
}
#s-b4d769f2-c0fa-4d7a-92d4-f6e1f36ca555 #s-Header_1 {
background-color: transparent;
background-image: none;
}
#s-b4d769f2-c0fa-4d7a-92d4-f6e1f36ca555 #s-Row_cell_1 .layout {
overflow-x: hidden;
overflow-y: hidden;
}
#s-b4d769f2-c0fa-4d7a-92d4-f6e1f36ca555 #s-Row_cell_1 .verticalalign {
vertical-align: middle;
}
#s-b4d769f2-c0fa-4d7a-92d4-f6e1f36ca555 #s-Row_cell_1 {
width: 1200px;
height: 4px;
background-color: transparent;
background-image: none;
}
#s-b4d769f2-c0fa-4d7a-92d4-f6e1f36ca555 #s-quotesdetail .s-Current_row_1 {
background-color: transparent;
background-image: none;
}
#s-b4d769f2-c0fa-4d7a-92d4-f6e1f36ca555 #s-quotesdetail .s-Row_cell_2 .layout {
overflow-x: hidden;
overflow-y: hidden;
}
#s-b4d769f2-c0fa-4d7a-92d4-f6e1f36ca555 #s-quotesdetail .s-Row_cell_2 .verticalalign {
vertical-align: middle;
}
#s-b4d769f2-c0fa-4d7a-92d4-f6e1f36ca555 #s-quotesdetail .s-Row_cell_2 {
width: 1200px;
height: 69px;
background-color: transparent;
background-image: none;
}
#s-b4d769f2-c0fa-4d7a-92d4-f6e1f36ca555 #s-quotesdetail .s-Label_4 {
position: absolute;
top: 14px;
left: 30px;
width: auto;
height: auto;
background-color: transparent;
background-image: none;
-webkit-transform: rotate(0deg);
-moz-transform: rotate(0deg);
transform: rotate(0deg);
box-shadow: none;
text-shadow: none;
font-size: 12.0pt;
font-family: Roboto-Regular,Arial;
}
#s-b4d769f2-c0fa-4d7a-92d4-f6e1f36ca555 #s-quotesdetail .s-Label_4 .valign {
vertical-align: middle;
text-align: left;
}
#s-b4d769f2-c0fa-4d7a-92d4-f6e1f36ca555 #s-quotesdetail .s-Label_4 span {
color: #434343;
text-align: left;
text-decoration: none;
font-family: Roboto-Regular,Arial;
font-size: 12.0pt;
}
#s-b4d769f2-c0fa-4d7a-92d4-f6e1f36ca555 #s-quotesdetail .s-Label_4 span#rtr-s-Label_4_0 {
color: #434343;
text-align: left;
text-decoration: none;
font-family: Roboto-Regular,Arial;
font-size: 12.0pt;
line-height: 0px;
}
#s-b4d769f2-c0fa-4d7a-92d4-f6e1f36ca555 #s-quotesdetail .s-Input_5 {
position: absolute;
top: 33px;
left: 30px;
width: 297px;
height: 28px;
background-color: transparent;
background-image: none;
box-shadow: none;
text-shadow: none;
cursor: text;
}
#s-b4d769f2-c0fa-4d7a-92d4-f6e1f36ca555 #s-quotesdetail .s-Input_5 .valign {
vertical-align: middle;
line-height: 11.0pt;
}
#s-b4d769f2-c0fa-4d7a-92d4-f6e1f36ca555 #s-quotesdetail .s-Input_5 input {
color: #434343;
text-align: left;
text-decoration: none;
font-family: Roboto-Light,Arial;
font-size: 11.0pt;
text-shadow: none;
}
#s-b4d769f2-c0fa-4d7a-92d4-f6e1f36ca555 #s-quotesdetail .s-Input_6 {
position: absolute;
top: 18px;
left: 339px;
box-shadow: none;
}
#s-b4d769f2-c0fa-4d7a-92d4-f6e1f36ca555 #s-quotesdetail .s-Label_5 {
position: absolute;
top: 14px;
left: 361px;
width: 155px;
height: 21px;
background-color: transparent;
background-image: none;
-webkit-transform: rotate(0deg);
-moz-transform: rotate(0deg);
transform: rotate(0deg);
box-shadow: none;
text-shadow: none;
font-size: 10.0pt;
font-family: Roboto-Light,Arial;
}
#s-b4d769f2-c0fa-4d7a-92d4-f6e1f36ca555 #s-quotesdetail .s-Label_5 .valign {
vertical-align: middle;
text-align: left;
}
#s-b4d769f2-c0fa-4d7a-92d4-f6e1f36ca555 #s-quotesdetail .s-Label_5 span {
color: #434343;
text-align: left;
text-decoration: none;
font-family: Roboto-Light,Arial;
font-size: 10.0pt;
}
#s-b4d769f2-c0fa-4d7a-92d4-f6e1f36ca555 #s-quotesdetail .s-Label_5 span#rtr-s-Label_5_0 {
color: #434343;
text-align: left;
text-decoration: none;
font-family: Roboto-Light,Arial;
font-size: 10.0pt;
line-height: 0px;
}
#s-b4d769f2-c0fa-4d7a-92d4-f6e1f36ca555 #s-quotesdetail .s-Label_6 {
position: absolute;
top: 36px;
left: 361px;
width: 155px;
height: 21px;
background-color: transparent;
background-image: none;
-webkit-transform: rotate(0deg);
-moz-transform: rotate(0deg);
transform: rotate(0deg);
box-shadow: none;
text-shadow: none;
font-size: 10.0pt;
font-family: Roboto-Light,Arial;
}
#s-b4d769f2-c0fa-4d7a-92d4-f6e1f36ca555 #s-quotesdetail .s-Label_6 .valign {
vertical-align: middle;
text-align: left;
}
#s-b4d769f2-c0fa-4d7a-92d4-f6e1f36ca555 #s-quotesdetail .s-Label_6 span {
color: #434343;
text-align: left;
text-decoration: none;
font-family: Roboto-Light,Arial;
font-size: 10.0pt;
}
#s-b4d769f2-c0fa-4d7a-92d4-f6e1f36ca555 #s-quotesdetail .s-Label_6 span#rtr-s-Label_6_0 {
color: #434343;
text-align: left;
text-decoration: none;
font-family: Roboto-Light,Arial;
font-size: 10.0pt;
line-height: 0px;
}
#s-b4d769f2-c0fa-4d7a-92d4-f6e1f36ca555 #s-quotesdetail .s-Input_7 {
position: absolute;
top: 40px;
left: 339px;
box-shadow: none;
}
#s-b4d769f2-c0fa-4d7a-92d4-f6e1f36ca555 #s-quotesdetail .s-Label_13 {
position: absolute;
top: 14px;
left: 569px;
width: 155px;
height: 21px;
background-color: transparent;
background-image: none;
-webkit-transform: rotate(0deg);
-moz-transform: rotate(0deg);
transform: rotate(0deg);
box-shadow: none;
text-shadow: none;
font-size: 10.0pt;
font-family: Roboto-Light,Arial;
}
#s-b4d769f2-c0fa-4d7a-92d4-f6e1f36ca555 #s-quotesdetail .s-Label_13 .valign {
vertical-align: middle;
text-align: left;
}
#s-b4d769f2-c0fa-4d7a-92d4-f6e1f36ca555 #s-quotesdetail .s-Label_13 span {
color: #434343;
text-align: left;
text-decoration: none;
font-family: Roboto-Light,Arial;
font-size: 10.0pt;
}
#s-b4d769f2-c0fa-4d7a-92d4-f6e1f36ca555 #s-quotesdetail .s-Label_13 span#rtr-s-Label_13_0 {
color: #434343;
text-align: left;
text-decoration: none;
font-family: Roboto-Light,Arial;
font-size: 10.0pt;
line-height: 0px;
}
#s-b4d769f2-c0fa-4d7a-92d4-f6e1f36ca555 #s-quotesdetail .s-Label_14 {
position: absolute;
top: 36px;
left: 569px;
width: 155px;
height: 21px;
background-color: transparent;
background-image: none;
-webkit-transform: rotate(0deg);
-moz-transform: rotate(0deg);
transform: rotate(0deg);
box-shadow: none;
text-shadow: none;
font-size: 10.0pt;
font-family: Roboto-Light,Arial;
}
#s-b4d769f2-c0fa-4d7a-92d4-f6e1f36ca555 #s-quotesdetail .s-Label_14 .valign {
vertical-align: middle;
text-align: left;
}
#s-b4d769f2-c0fa-4d7a-92d4-f6e1f36ca555 #s-quotesdetail .s-Label_14 span {
color: #434343;
text-align: left;
text-decoration: none;
font-family: Roboto-Light,Arial;
font-size: 10.0pt;
}
#s-b4d769f2-c0fa-4d7a-92d4-f6e1f36ca555 #s-quotesdetail .s-Label_14 span#rtr-s-Label_14_0 {
color: #434343;
text-align: left;
text-decoration: none;
font-family: Roboto-Light,Arial;
font-size: 10.0pt;
line-height: 0px;
}
#s-b4d769f2-c0fa-4d7a-92d4-f6e1f36ca555 #s-quotesdetail .s-Input_10 {
position: absolute;
top: 40px;
left: 547px;
box-shadow: none;
}
#s-b4d769f2-c0fa-4d7a-92d4-f6e1f36ca555 #s-quotesdetail .s-Input_11 {
position: absolute;
top: 18px;
left: 547px;
box-shadow: none;
}
#s-b4d769f2-c0fa-4d7a-92d4-f6e1f36ca555 #s-quotesdetail .s-Input_12 {
position: absolute;
top: 27px;
left: 5px;
box-shadow: none;
}
#s-b4d769f2-c0fa-4d7a-92d4-f6e1f36ca555 #s-quotesdetail .s-Label_15 {
position: absolute;
top: 25px;
left: 927px;
width: 110px;
height: 19px;
background-color: transparent;
background-image: none;
-webkit-transform: rotate(0deg);
-moz-transform: rotate(0deg);
transform: rotate(0deg);
box-shadow: none;
text-shadow: none;
font-size: 11.0pt;
font-family: Roboto-Light,Arial;
}
#s-b4d769f2-c0fa-4d7a-92d4-f6e1f36ca555 #s-quotesdetail .s-Label_15 .valign {
vertical-align: middle;
text-align: right;
}
#s-b4d769f2-c0fa-4d7a-92d4-f6e1f36ca555 #s-quotesdetail .s-Label_15 span {
color: #999999;
text-align: right;
text-decoration: none;
font-family: Roboto-Light,Arial;
font-size: 11.0pt;
}
#s-b4d769f2-c0fa-4d7a-92d4-f6e1f36ca555 #s-quotesdetail .s-Label_15 span#rtr-s-Label_15_0 {
color: #999999;
text-align: right;
text-decoration: none;
font-family: Roboto-Light,Arial;
font-size: 11.0pt;
line-height: 0px;
}
#s-b4d769f2-c0fa-4d7a-92d4-f6e1f36ca555 #s-quotesdetail .s-Input_13 {
position: absolute;
top: 24px;
left: 1042px;
width: 129px;
height: 19px;
background-color: transparent;
background-image: none;
box-shadow: none;
text-shadow: none;
cursor: text;
}
#s-b4d769f2-c0fa-4d7a-92d4-f6e1f36ca555 #s-quotesdetail .s-Input_13 .valign {
vertical-align: middle;
line-height: 11.0pt;
}
#s-b4d769f2-c0fa-4d7a-92d4-f6e1f36ca555 #s-quotesdetail .s-Input_13 input {
color: #434343;
text-align: left;
text-decoration: none;
font-family: Roboto-Light,Arial;
font-size: 11.0pt;
text-shadow: none;
}
#s-b4d769f2-c0fa-4d7a-92d4-f6e1f36ca555 #s-Category_1 {
position: absolute;
top: 0px;
left: 962px;
padding-left: 9px;
width: 219px;
height: 30px;
background-color: #EFEFEF;
background-image: none;
box-shadow: none;
text-shadow: none;
color: #434343;
text-align: left;
text-decoration: none;
font-family: Roboto-Light,Arial;
font-size: 11.0pt;
vertical-align: middle;
}
#s-b4d769f2-c0fa-4d7a-92d4-f6e1f36ca555 #s-Category_1 .valign {
width: 201px;
}
#s-b4d769f2-c0fa-4d7a-92d4-f6e1f36ca555 #s-Label_7 {
position: absolute;
top: 5px;
left: 842px;
width: 110px;
height: 19px;
background-color: transparent;
background-image: none;
-webkit-transform: rotate(0deg);
-moz-transform: rotate(0deg);
transform: rotate(0deg);
box-shadow: none;
text-shadow: none;
font-size: 11.0pt;
font-family: Roboto-Light,Arial;
}
#s-b4d769f2-c0fa-4d7a-92d4-f6e1f36ca555 #s-Label_7 .valign {
vertical-align: middle;
text-align: right;
}
#s-b4d769f2-c0fa-4d7a-92d4-f6e1f36ca555 #s-Label_7 span {
color: #999999;
text-align: right;
text-decoration: none;
font-family: Roboto-Light,Arial;
font-size: 11.0pt;
}
#s-b4d769f2-c0fa-4d7a-92d4-f6e1f36ca555 #s-Label_7 span#rtr-s-Label_7_0 {
color: #999999;
text-align: right;
text-decoration: none;
font-family: Roboto-Light,Arial;
font-size: 11.0pt;
line-height: 0px;
}
#s-b4d769f2-c0fa-4d7a-92d4-f6e1f36ca555 #s-Line_11 {
position: absolute;
top: 43px;
left: 1px;
width: 1196px;
height: 1px;
border-top-width: 1px;
border-top-style: solid;
border-top-color: #D9D9D9;
-webkit-transform: rotate(0deg);
-moz-transform: rotate(0deg);
transform: rotate(0deg);
box-shadow: none;
}
#s-b4d769f2-c0fa-4d7a-92d4-f6e1f36ca555 #s-Label_8 {
position: absolute;
top: 5px;
left: 8px;
width: 124px;
height: 20px;
background-color: transparent;
background-image: none;
-webkit-transform: rotate(0deg);
-moz-transform: rotate(0deg);
transform: rotate(0deg);
box-shadow: none;
text-shadow: none;
font-size: 11.0pt;
font-family: Roboto-Regular,Arial;
}
#s-b4d769f2-c0fa-4d7a-92d4-f6e1f36ca555 #s-Label_8 .valign {
vertical-align: middle;
text-align: left;
}
#s-b4d769f2-c0fa-4d7a-92d4-f6e1f36ca555 #s-Label_8 span {
color: #4CB9CE;
text-align: left;
text-decoration: none;
font-family: Roboto-Regular,Arial;
font-size: 11.0pt;
}
#s-b4d769f2-c0fa-4d7a-92d4-f6e1f36ca555 #s-Label_8 span#rtr-s-Label_8_0 {
color: #4CB9CE;
text-align: left;
text-decoration: none;
font-family: Roboto-Regular,Arial;
font-size: 11.0pt;
line-height: 0px;
}
#s-b4d769f2-c0fa-4d7a-92d4-f6e1f36ca555 #s-Title {
position: absolute;
top: 529px;
left: 42px;
width: 1196px;
height: 41px;
}
#s-b4d769f2-c0fa-4d7a-92d4-f6e1f36ca555 #s-Label_3 {
position: absolute;
top: 0px;
left: 0px;
width: 118px;
height: 29px;
background-color: transparent;
background-image: none;
-webkit-transform: rotate(0deg);
-moz-transform: rotate(0deg);
transform: rotate(0deg);
box-shadow: none;
text-shadow: none;
font-size: 20.0pt;
font-family: Roboto-Light,Arial;
}
#s-b4d769f2-c0fa-4d7a-92d4-f6e1f36ca555 #s-Label_3 .valign {
vertical-align: middle;
text-align: left;
}
#s-b4d769f2-c0fa-4d7a-92d4-f6e1f36ca555 #s-Label_3 span {
color: #4CB9CE;
text-align: left;
text-decoration: none;
font-family: Roboto-Light,Arial;
font-size: 20.0pt;
}
#s-b4d769f2-c0fa-4d7a-92d4-f6e1f36ca555 #s-Label_3 span#rtr-s-Label_3_0 {
color: #4CB9CE;
text-align: left;
text-decoration: none;
font-family: Roboto-Light,Arial;
font-size: 20.0pt;
line-height: 0px;
}
#s-b4d769f2-c0fa-4d7a-92d4-f6e1f36ca555 #s-Line_10 {
position: absolute;
top: 40px;
left: 0px;
width: 1196px;
height: 1px;
border-top-width: 1px;
border-top-style: solid;
border-top-color: #D9D9D9;
-webkit-transform: rotate(0deg);
-moz-transform: rotate(0deg);
transform: rotate(0deg);
box-shadow: none;
}
#s-b4d769f2-c0fa-4d7a-92d4-f6e1f36ca555 #s-Label_9 {
position: absolute;
top: 0px;
left: 120px;
width: 118px;
height: 29px;
background-color: transparent;
background-image: none;
-webkit-transform: rotate(0deg);
-moz-transform: rotate(0deg);
transform: rotate(0deg);
box-shadow: none;
text-shadow: none;
font-size: 20.0pt;
font-family: Roboto-Light,Arial;
}
#s-b4d769f2-c0fa-4d7a-92d4-f6e1f36ca555 #s-Label_9 .valign {
vertical-align: middle;
text-align: left;
}
#s-b4d769f2-c0fa-4d7a-92d4-f6e1f36ca555 #s-Label_9 span {
color: #434343;
text-align: left;
text-decoration: none;
font-family: Roboto-Light,Arial;
font-size: 20.0pt;
}
#s-b4d769f2-c0fa-4d7a-92d4-f6e1f36ca555 #s-Label_9 span#rtr-s-Label_9_0 {
color: #434343;
text-align: left;
text-decoration: none;
font-family: Roboto-Light,Arial;
font-size: 20.0pt;
line-height: 0px;
}
#s-b4d769f2-c0fa-4d7a-92d4-f6e1f36ca555 #s-Message-light {
position: absolute;
top: 673px;
left: 257px;
width: 631px;
height: 284px;
display: none;
}
#s-b4d769f2-c0fa-4d7a-92d4-f6e1f36ca555 #s-Rectangle_2 {
position: absolute;
top: 0px;
left: 0px;
padding-top: 58px;
padding-right: 16px;
padding-left: 16px;
width: 599px;
height: 226px;
background-color: #FAFAFA;
background-image: none;
-webkit-transform: rotate(0deg);
-moz-transform: rotate(0deg);
transform: rotate(0deg);
box-shadow: 0px 7px 25px 2px #999999;
text-shadow: none;
line-height: 21px;
font-size: 11.0pt;
font-family: Roboto-Regular,Arial;
}
#s-b4d769f2-c0fa-4d7a-92d4-f6e1f36ca555 #s-Rectangle_2 .valign {
vertical-align: top;
text-align: left;
}
#s-b4d769f2-c0fa-4d7a-92d4-f6e1f36ca555 #s-Rectangle_2 span {
color: #666666;
text-align: left;
text-decoration: none;
font-family: Roboto-Regular,Arial;
font-size: 11.0pt;
}
#s-b4d769f2-c0fa-4d7a-92d4-f6e1f36ca555 #s-Rectangle_2 span#rtr-s-Rectangle_2_0 {
color: #666666;
text-align: left;
text-decoration: none;
font-family: Roboto-Regular,Arial;
font-size: 11.0pt;
line-height: 0px;
}
#s-b4d769f2-c0fa-4d7a-92d4-f6e1f36ca555 #s-Button_9 {
position: absolute;
top: 241px;
left: 517px;
width: 80px;
height: 29px;
background-color: #4CB9CE;
background-image: none;
-webkit-transform: rotate(0deg);
-moz-transform: rotate(0deg);
transform: rotate(0deg);
box-shadow: none;
text-shadow: none;
cursor: pointer;
font-size: 11.0pt;
font-family: Roboto-Medium,Arial;
}
#s-b4d769f2-c0fa-4d7a-92d4-f6e1f36ca555 #s-Button_9 .valign {
vertical-align: middle;
text-align: center;
}
#s-b4d769f2-c0fa-4d7a-92d4-f6e1f36ca555 #s-Button_9 span {
color: #FFFFFF;
text-align: center;
text-decoration: none;
font-family: Roboto-Medium,Arial;
font-size: 11.0pt;
}
#s-b4d769f2-c0fa-4d7a-92d4-f6e1f36ca555 #s-Button_9 span#rtr-s-Button_9_0 {
color: #FFFFFF;
text-align: center;
text-decoration: none;
font-family: Roboto-Medium,Arial;
font-size: 11.0pt;
line-height: 0px;
}
#s-b4d769f2-c0fa-4d7a-92d4-f6e1f36ca555 #s-Label_17 {
position: absolute;
top: 20px;
left: 18px;
width: auto;
height: auto;
background-color: transparent;
background-image: none;
-webkit-transform: rotate(0deg);
-moz-transform: rotate(0deg);
transform: rotate(0deg);
box-shadow: none;
text-shadow: none;
font-size: 14.0pt;
font-family: Roboto-Bold,Arial;
}
#s-b4d769f2-c0fa-4d7a-92d4-f6e1f36ca555 #s-Label_17 .valign {
vertical-align: middle;
text-align: left;
}
#s-b4d769f2-c0fa-4d7a-92d4-f6e1f36ca555 #s-Label_17 span {
color: #434343;
text-align: left;
text-decoration: none;
font-family: Roboto-Bold,Arial;
font-size: 14.0pt;
}
#s-b4d769f2-c0fa-4d7a-92d4-f6e1f36ca555 #s-Label_17 span#rtr-s-Label_17_0 {
color: #434343;
text-align: left;
text-decoration: none;
font-family: Roboto-Bold,Arial;
font-size: 14.0pt;
line-height: 0px;
}
#s-b4d769f2-c0fa-4d7a-92d4-f6e1f36ca555 > #loadMark {
width: 1px;
visibility: hidden;
display: none;
}