#s-e144d61f-b155-47cc-bf0b-842a70dae4af #s-Base {
-ms-transform: rotate(0.0deg);
}
#s-e144d61f-b155-47cc-bf0b-842a70dae4af #s-Rectangle_4 {
-ms-transform: rotate(0.0deg);
}
#s-e144d61f-b155-47cc-bf0b-842a70dae4af #s-Image_13 {
-ms-transform: rotate(0.0deg);
}
#s-e144d61f-b155-47cc-bf0b-842a70dae4af #s-Label_5 {
-ms-transform: rotate(0.0deg);
}
#s-e144d61f-b155-47cc-bf0b-842a70dae4af #s-Label_9 {
-ms-transform: rotate(0.0deg);
}
#s-e144d61f-b155-47cc-bf0b-842a70dae4af #s-Rich_text_13 {
-ms-transform: rotate(0.0deg);
}
#s-e144d61f-b155-47cc-bf0b-842a70dae4af #s-Label_19 {
-ms-transform: rotate(0.0deg);
}
#s-e144d61f-b155-47cc-bf0b-842a70dae4af #s-home-over {
-ms-transform: rotate(0.0deg);
}
#s-e144d61f-b155-47cc-bf0b-842a70dae4af #s-Banner-central {
-ms-transform: rotate(0.0deg);
}
#s-e144d61f-b155-47cc-bf0b-842a70dae4af #s-Label_24 {
-ms-transform: rotate(0.0deg);
}
#s-e144d61f-b155-47cc-bf0b-842a70dae4af #s-Rich_text_17 {
-ms-transform: rotate(0.0deg);
}
#s-e144d61f-b155-47cc-bf0b-842a70dae4af #s-Label_26 {
-ms-transform: rotate(0.0deg);
}
#s-e144d61f-b155-47cc-bf0b-842a70dae4af #s-Rich_text_20 {
-ms-transform: rotate(0.0deg);
}
#s-e144d61f-b155-47cc-bf0b-842a70dae4af #s-Rich_text_21 {
-ms-transform: rotate(0.0deg);
}
#s-e144d61f-b155-47cc-bf0b-842a70dae4af #s-Label_28 {
-ms-transform: rotate(0.0deg);
}
#s-e144d61f-b155-47cc-bf0b-842a70dae4af #s-Rich_text_22 {
-ms-transform: rotate(0.0deg);
}
#s-e144d61f-b155-47cc-bf0b-842a70dae4af #s-Rich_text_23 {
-ms-transform: rotate(0.0deg);
}
#s-e144d61f-b155-47cc-bf0b-842a70dae4af #s-Label_29 {
-ms-transform: rotate(0.0deg);
}
#s-e144d61f-b155-47cc-bf0b-842a70dae4af #s-Rich_text_24 {
-ms-transform: rotate(0.0deg);
}
#s-e144d61f-b155-47cc-bf0b-842a70dae4af #s-Line_4 {
border-top-width: 1px;
border-top-style: solid;
border-top-color: #D9D9D9;
-ms-transform: rotate(0.0deg);
}
#s-e144d61f-b155-47cc-bf0b-842a70dae4af #s-Line_4 {
border-top-width: 1px;
border-top-style: solid;
border-top-color: #D9D9D9;
-ms-transform: rotate(0.0deg);
}
#s-e144d61f-b155-47cc-bf0b-842a70dae4af #s-Line_5 {
border-top-width: 1px;
border-top-style: solid;
border-top-color: #D9D9D9;
-ms-transform: rotate(0.0deg);
}
#s-e144d61f-b155-47cc-bf0b-842a70dae4af #s-Line_5 {
border-top-width: 1px;
border-top-style: solid;
border-top-color: #D9D9D9;
-ms-transform: rotate(0.0deg);
}
#s-e144d61f-b155-47cc-bf0b-842a70dae4af #s-Image_15 {
-ms-transform: rotate(0.0deg);
}
#s-e144d61f-b155-47cc-bf0b-842a70dae4af #s-Label_25 {
-ms-transform: rotate(0.0deg);
}
#s-e144d61f-b155-47cc-bf0b-842a70dae4af #s-Rich_text_18 {
-ms-transform: rotate(0.0deg);
}
#s-e144d61f-b155-47cc-bf0b-842a70dae4af #s-Image_16 {
-ms-transform: rotate(0.0deg);
}
#s-e144d61f-b155-47cc-bf0b-842a70dae4af #s-Label_30 {
-ms-transform: rotate(0.0deg);
}
#s-e144d61f-b155-47cc-bf0b-842a70dae4af #s-Image_20 {
-ms-transform: rotate(0.0deg);
}
#s-e144d61f-b155-47cc-bf0b-842a70dae4af #s-Rich_text_7 {
-ms-transform: rotate(0.0deg);
}
#s-e144d61f-b155-47cc-bf0b-842a70dae4af #s-Line_2 {
border-top-width: 1px;
border-top-style: solid;
border-top-color: #D9D9D9;
-ms-transform: rotate(180.0deg);
}
#s-e144d61f-b155-47cc-bf0b-842a70dae4af #s-Line_2 {
border-top-width: 1px;
border-top-style: solid;
border-top-color: #D9D9D9;
-ms-transform: rotate(180.0deg);
}
#s-e144d61f-b155-47cc-bf0b-842a70dae4af #s-Label_21 {
-ms-transform: rotate(0.0deg);
}
#s-e144d61f-b155-47cc-bf0b-842a70dae4af #s-Rich_text_14 {
-ms-transform: rotate(0.0deg);
}
#s-e144d61f-b155-47cc-bf0b-842a70dae4af #s-Label_22 {
-ms-transform: rotate(0.0deg);
}
#s-e144d61f-b155-47cc-bf0b-842a70dae4af #s-Rich_text_15 {
-ms-transform: rotate(0.0deg);
}
#s-e144d61f-b155-47cc-bf0b-842a70dae4af #s-Label_23 {
-ms-transform: rotate(0.0deg);
}
#s-e144d61f-b155-47cc-bf0b-842a70dae4af #s-Rich_text_16 {
-ms-transform: rotate(0.0deg);
}
#s-e144d61f-b155-47cc-bf0b-842a70dae4af #s-Image_17 {
-ms-transform: rotate(0.0deg);
}
#s-e144d61f-b155-47cc-bf0b-842a70dae4af #s-Image_18 {
-ms-transform: rotate(0.0deg);
}
#s-e144d61f-b155-47cc-bf0b-842a70dae4af #s-Image_19 {
-ms-transform: rotate(0.0deg);
}
#s-e144d61f-b155-47cc-bf0b-842a70dae4af #s-Line_1 {
border-top-width: 1px;
border-top-style: solid;
border-top-color: #D9D9D9;
-ms-transform: rotate(90.0deg);
}
#s-e144d61f-b155-47cc-bf0b-842a70dae4af #s-Line_1 {
border-top-width: 1px;
border-top-style: solid;
border-top-color: #D9D9D9;
-ms-transform: rotate(90.0deg);
}
#s-e144d61f-b155-47cc-bf0b-842a70dae4af #s-Line_3 {
border-top-width: 1px;
border-top-style: solid;
border-top-color: #D9D9D9;
-ms-transform: rotate(90.0deg);
}
#s-e144d61f-b155-47cc-bf0b-842a70dae4af #s-Line_3 {
border-top-width: 1px;
border-top-style: solid;
border-top-color: #D9D9D9;
-ms-transform: rotate(90.0deg);
}
#s-e144d61f-b155-47cc-bf0b-842a70dae4af > #loadMark {
width: 1px;
visibility: hidden;
display: none;
}