#s-e144d61f-b155-47cc-bf0b-842a70dae4af > #backgroundBox {
background-color: #EDEDED;
background-image: none;
position: absolute;
}
#s-e144d61f-b155-47cc-bf0b-842a70dae4af > #alignmentBox {
position: relative;
margin: 0 auto;
width: 1280px;
min-width: 1280px;
min-height: 900px;
}
#s-e144d61f-b155-47cc-bf0b-842a70dae4af #s-Base {
position: absolute;
top: 454px;
left: 2px;
width: 1279px;
height: 1670px;
background-color: #FFFFFF;
background-image: none;
-webkit-transform: rotate(0deg);
-moz-transform: rotate(0deg);
transform: rotate(0deg);
box-shadow: none;
text-shadow: none;
line-height: 20px;
font-size: 11.0pt;
font-family: Arial,Arial;
}
#s-e144d61f-b155-47cc-bf0b-842a70dae4af #s-Base .valign {
vertical-align: middle;
text-align: center;
}
#s-e144d61f-b155-47cc-bf0b-842a70dae4af #s-Base span {
color: #333333;
text-align: center;
text-decoration: none;
font-family: Arial,Arial;
font-size: 11.0pt;
font-style: normal;
font-weight: 400;
}
#s-e144d61f-b155-47cc-bf0b-842a70dae4af #s-Base span#rtr-s-Base_0 {
color: #333333;
text-align: center;
text-decoration: none;
font-family: Arial,Arial;
font-size: 11.0pt;
font-style: normal;
font-weight: 400;
line-height: 0px;
}
#s-e144d61f-b155-47cc-bf0b-842a70dae4af #s-Footer {
position: absolute;
top: 1860px;
left: 0px;
width: 1280px;
height: 281px;
}
#s-e144d61f-b155-47cc-bf0b-842a70dae4af #s-Rectangle_4 {
position: absolute;
top: 0px;
left: 0px;
width: 1280px;
height: 281px;
background-color: #F9F9F9;
background-image: none;
-webkit-transform: rotate(0deg);
-moz-transform: rotate(0deg);
transform: rotate(0deg);
box-shadow: none;
text-shadow: none;
line-height: 20px;
font-size: 11.0pt;
font-family: Arial,Arial;
}
#s-e144d61f-b155-47cc-bf0b-842a70dae4af #s-Rectangle_4 .valign {
vertical-align: middle;
text-align: center;
}
#s-e144d61f-b155-47cc-bf0b-842a70dae4af #s-Rectangle_4 span {
color: #333333;
text-align: center;
text-decoration: none;
font-family: Arial,Arial;
font-size: 11.0pt;
font-style: normal;
font-weight: 400;
}
#s-e144d61f-b155-47cc-bf0b-842a70dae4af #s-Rectangle_4 span#rtr-s-Rectangle_4_0 {
color: #333333;
text-align: center;
text-decoration: none;
font-family: Arial,Arial;
font-size: 11.0pt;
font-style: normal;
font-weight: 400;
line-height: 0px;
}
#s-e144d61f-b155-47cc-bf0b-842a70dae4af #s-Image_13 {
position: absolute;
top: 88px;
left: 425px;
width: 173px;
height: 23px;
-webkit-transform: rotate(0deg);
-moz-transform: rotate(0deg);
transform: rotate(0deg);
box-shadow: none;
}
#s-e144d61f-b155-47cc-bf0b-842a70dae4af #s-Label_5 {
position: absolute;
top: 56px;
left: 425px;
width: 274px;
height: 29px;
background-color: transparent;
background-image: none;
-webkit-transform: rotate(0deg);
-moz-transform: rotate(0deg);
transform: rotate(0deg);
box-shadow: none;
text-shadow: none;
font-size: 10.5pt;
font-family: Roboto-Bold,Arial;
}
#s-e144d61f-b155-47cc-bf0b-842a70dae4af #s-Label_5 .valign {
vertical-align: middle;
text-align: left;
}
#s-e144d61f-b155-47cc-bf0b-842a70dae4af #s-Label_5 span {
color: #4CB9CE;
text-align: left;
text-decoration: none;
font-family: Roboto-Bold,Arial;
font-size: 10.5pt;
}
#s-e144d61f-b155-47cc-bf0b-842a70dae4af #s-Label_5 span#rtr-s-Label_5_0 {
color: #4CB9CE;
text-align: left;
text-decoration: none;
font-family: Roboto-Bold,Arial;
font-size: 10.5pt;
line-height: 0px;
}
#s-e144d61f-b155-47cc-bf0b-842a70dae4af #s-Label_9 {
position: absolute;
top: 161px;
left: 42px;
width: 479px;
height: 29px;
background-color: transparent;
background-image: none;
-webkit-transform: rotate(0deg);
-moz-transform: rotate(0deg);
transform: rotate(0deg);
box-shadow: none;
text-shadow: none;
font-size: 9.0pt;
font-family: Roboto-Medium,Arial;
}
#s-e144d61f-b155-47cc-bf0b-842a70dae4af #s-Label_9 .valign {
vertical-align: middle;
text-align: left;
}
#s-e144d61f-b155-47cc-bf0b-842a70dae4af #s-Label_9 span {
color: #999999;
text-align: left;
text-decoration: none;
font-family: Roboto-Medium,Arial;
font-size: 9.0pt;
}
#s-e144d61f-b155-47cc-bf0b-842a70dae4af #s-Label_9 span#rtr-s-Label_9_0 {
color: #999999;
text-align: left;
text-decoration: none;
font-family: Roboto-Medium,Arial;
font-size: 9.0pt;
line-height: 0px;
}
#s-e144d61f-b155-47cc-bf0b-842a70dae4af #s-Rich_text_13 {
position: absolute;
top: 84px;
left: 42px;
width: 293px;
height: 111px;
background-color: transparent;
background-image: none;
-webkit-transform: rotate(0deg);
-moz-transform: rotate(0deg);
transform: rotate(0deg);
box-shadow: none;
text-shadow: none;
line-height: 21px;
font-size: 11.0pt;
font-family: Roboto-Regular,Arial;
}
#s-e144d61f-b155-47cc-bf0b-842a70dae4af #s-Rich_text_13 .valign {
vertical-align: top;
text-align: left;
}
#s-e144d61f-b155-47cc-bf0b-842a70dae4af #s-Rich_text_13 span {
color: #666666;
text-align: left;
text-decoration: none;
font-family: Roboto-Regular,Arial;
font-size: 11.0pt;
}
#s-e144d61f-b155-47cc-bf0b-842a70dae4af #s-Rich_text_13 span#rtr-s-Rich_text_13_0 {
color: #666666;
text-align: left;
text-decoration: none;
font-family: Roboto-Regular,Arial;
font-size: 11.0pt;
line-height: 0px;
}
#s-e144d61f-b155-47cc-bf0b-842a70dae4af #s-Label_19 {
position: absolute;
top: 56px;
left: 42px;
width: 274px;
height: 29px;
background-color: transparent;
background-image: none;
-webkit-transform: rotate(0deg);
-moz-transform: rotate(0deg);
transform: rotate(0deg);
box-shadow: none;
text-shadow: none;
font-size: 10.5pt;
font-family: Roboto-Bold,Arial;
}
#s-e144d61f-b155-47cc-bf0b-842a70dae4af #s-Label_19 .valign {
vertical-align: middle;
text-align: left;
}
#s-e144d61f-b155-47cc-bf0b-842a70dae4af #s-Label_19 span {
color: #4CB9CE;
text-align: left;
text-decoration: none;
font-family: Roboto-Bold,Arial;
font-size: 10.5pt;
}
#s-e144d61f-b155-47cc-bf0b-842a70dae4af #s-Label_19 span#rtr-s-Label_19_0 {
color: #4CB9CE;
text-align: left;
text-decoration: none;
font-family: Roboto-Bold,Arial;
font-size: 10.5pt;
line-height: 0px;
}
#s-e144d61f-b155-47cc-bf0b-842a70dae4af #s-home-over {
position: absolute;
top: 83px;
left: 697px;
width: 55px;
height: 15px;
background-color: transparent;
background-image: none;
-webkit-transform: rotate(0deg);
-moz-transform: rotate(0deg);
transform: rotate(0deg);
box-shadow: none;
text-shadow: none;
cursor: pointer;
font-size: 10.0pt;
font-family: Roboto-Medium,Arial;
}
#s-e144d61f-b155-47cc-bf0b-842a70dae4af #s-home-over .valign {
vertical-align: middle;
text-align: left;
}
#s-e144d61f-b155-47cc-bf0b-842a70dae4af #s-home-over span {
color: #4CB9CE;
text-align: left;
text-decoration: none;
font-family: Roboto-Medium,Arial;
font-size: 10.0pt;
}
#s-e144d61f-b155-47cc-bf0b-842a70dae4af #s-home-over span#rtr-s-home-over_0 {
color: #4CB9CE;
text-align: left;
text-decoration: none;
font-family: Roboto-Medium,Arial;
font-size: 10.0pt;
line-height: 0px;
}
#s-e144d61f-b155-47cc-bf0b-842a70dae4af #s-Banner-central {
position: absolute;
top: 741px;
left: 1px;
width: 1280px;
height: 356px;
-webkit-transform: rotate(0deg);
-moz-transform: rotate(0deg);
transform: rotate(0deg);
box-shadow: none;
}
#s-e144d61f-b155-47cc-bf0b-842a70dae4af #s-News {
position: absolute;
top: 1136px;
left: 40px;
width: 319px;
height: 613px;
}
#s-e144d61f-b155-47cc-bf0b-842a70dae4af #s-Label_24 {
position: absolute;
top: 0px;
left: 0px;
width: 139px;
height: 29px;
background-color: transparent;
background-image: none;
-webkit-transform: rotate(0deg);
-moz-transform: rotate(0deg);
transform: rotate(0deg);
box-shadow: none;
text-shadow: none;
font-size: 20.0pt;
font-family: Roboto-Light,Arial;
}
#s-e144d61f-b155-47cc-bf0b-842a70dae4af #s-Label_24 .valign {
vertical-align: middle;
text-align: left;
}
#s-e144d61f-b155-47cc-bf0b-842a70dae4af #s-Label_24 span {
color: #4CB9CE;
text-align: left;
text-decoration: none;
font-family: Roboto-Light,Arial;
font-size: 20.0pt;
}
#s-e144d61f-b155-47cc-bf0b-842a70dae4af #s-Label_24 span#rtr-s-Label_24_0 {
color: #4CB9CE;
text-align: left;
text-decoration: none;
font-family: Roboto-Light,Arial;
font-size: 20.0pt;
line-height: 0px;
}
#s-e144d61f-b155-47cc-bf0b-842a70dae4af #s-Rich_text_17 {
position: absolute;
top: 71px;
left: 2px;
width: 317px;
height: 60px;
background-color: transparent;
background-image: none;
-webkit-transform: rotate(0deg);
-moz-transform: rotate(0deg);
transform: rotate(0deg);
box-shadow: none;
text-shadow: none;
line-height: 20px;
font-size: 13.0pt;
font-family: Roboto-Regular,Arial;
}
#s-e144d61f-b155-47cc-bf0b-842a70dae4af #s-Rich_text_17 .valign {
vertical-align: top;
text-align: left;
}
#s-e144d61f-b155-47cc-bf0b-842a70dae4af #s-Rich_text_17 span {
color: #333333;
text-align: left;
text-decoration: none;
font-family: Roboto-Regular,Arial;
font-size: 13.0pt;
}
#s-e144d61f-b155-47cc-bf0b-842a70dae4af #s-Rich_text_17 span#rtr-s-Rich_text_17_0 {
color: #333333;
text-align: left;
text-decoration: none;
font-family: Roboto-Regular,Arial;
font-size: 13.0pt;
line-height: 0px;
}
#s-e144d61f-b155-47cc-bf0b-842a70dae4af #s-Label_26 {
position: absolute;
top: 43px;
left: 2px;
width: 139px;
height: 29px;
background-color: transparent;
background-image: none;
-webkit-transform: rotate(0deg);
-moz-transform: rotate(0deg);
transform: rotate(0deg);
box-shadow: none;
text-shadow: none;
font-size: 9.0pt;
font-family: Roboto-Medium,Arial;
}
#s-e144d61f-b155-47cc-bf0b-842a70dae4af #s-Label_26 .valign {
vertical-align: middle;
text-align: left;
}
#s-e144d61f-b155-47cc-bf0b-842a70dae4af #s-Label_26 span {
color: #4CB9CE;
text-align: left;
text-decoration: none;
font-family: Roboto-Medium,Arial;
font-size: 9.0pt;
}
#s-e144d61f-b155-47cc-bf0b-842a70dae4af #s-Label_26 span#rtr-s-Label_26_0 {
color: #4CB9CE;
text-align: left;
text-decoration: none;
font-family: Roboto-Medium,Arial;
font-size: 9.0pt;
line-height: 0px;
}
#s-e144d61f-b155-47cc-bf0b-842a70dae4af #s-Rich_text_20 {
position: absolute;
top: 118px;
left: 2px;
width: 297px;
height: 72px;
background-color: transparent;
background-image: none;
-webkit-transform: rotate(0deg);
-moz-transform: rotate(0deg);
transform: rotate(0deg);
box-shadow: none;
text-shadow: none;
line-height: 17px;
font-size: 9.0pt;
font-family: Roboto-Light,Arial;
}
#s-e144d61f-b155-47cc-bf0b-842a70dae4af #s-Rich_text_20 .valign {
vertical-align: top;
text-align: left;
}
#s-e144d61f-b155-47cc-bf0b-842a70dae4af #s-Rich_text_20 span {
color: #333333;
text-align: left;
text-decoration: none;
font-family: Roboto-Light,Arial;
font-size: 9.0pt;
}
#s-e144d61f-b155-47cc-bf0b-842a70dae4af #s-Rich_text_20 span#rtr-s-Rich_text_20_0 {
color: #333333;
text-align: left;
text-decoration: none;
font-family: Roboto-Light,Arial;
font-size: 9.0pt;
line-height: 0px;
}
#s-e144d61f-b155-47cc-bf0b-842a70dae4af #s-Rich_text_21 {
position: absolute;
top: 276px;
left: 2px;
width: 280px;
height: 60px;
background-color: transparent;
background-image: none;
-webkit-transform: rotate(0deg);
-moz-transform: rotate(0deg);
transform: rotate(0deg);
box-shadow: none;
text-shadow: none;
line-height: 20px;
font-size: 13.0pt;
font-family: Roboto-Regular,Arial;
}
#s-e144d61f-b155-47cc-bf0b-842a70dae4af #s-Rich_text_21 .valign {
vertical-align: top;
text-align: left;
}
#s-e144d61f-b155-47cc-bf0b-842a70dae4af #s-Rich_text_21 span {
color: #333333;
text-align: left;
text-decoration: none;
font-family: Roboto-Regular,Arial;
font-size: 13.0pt;
}
#s-e144d61f-b155-47cc-bf0b-842a70dae4af #s-Rich_text_21 span#rtr-s-Rich_text_21_0 {
color: #333333;
text-align: left;
text-decoration: none;
font-family: Roboto-Regular,Arial;
font-size: 13.0pt;
line-height: 0px;
}
#s-e144d61f-b155-47cc-bf0b-842a70dae4af #s-Label_28 {
position: absolute;
top: 249px;
left: 2px;
width: 139px;
height: 29px;
background-color: transparent;
background-image: none;
-webkit-transform: rotate(0deg);
-moz-transform: rotate(0deg);
transform: rotate(0deg);
box-shadow: none;
text-shadow: none;
font-size: 9.0pt;
font-family: Roboto-Bold,Arial;
}
#s-e144d61f-b155-47cc-bf0b-842a70dae4af #s-Label_28 .valign {
vertical-align: middle;
text-align: left;
}
#s-e144d61f-b155-47cc-bf0b-842a70dae4af #s-Label_28 span {
color: #4CB9CE;
text-align: left;
text-decoration: none;
font-family: Roboto-Bold,Arial;
font-size: 9.0pt;
}
#s-e144d61f-b155-47cc-bf0b-842a70dae4af #s-Label_28 span#rtr-s-Label_28_0 {
color: #4CB9CE;
text-align: left;
text-decoration: none;
font-family: Roboto-Bold,Arial;
font-size: 9.0pt;
line-height: 0px;
}
#s-e144d61f-b155-47cc-bf0b-842a70dae4af #s-Rich_text_22 {
position: absolute;
top: 322px;
left: 2px;
width: 311px;
height: 72px;
background-color: transparent;
background-image: none;
-webkit-transform: rotate(0deg);
-moz-transform: rotate(0deg);
transform: rotate(0deg);
box-shadow: none;
text-shadow: none;
line-height: 17px;
font-size: 9.0pt;
font-family: Roboto-Light,Arial;
}
#s-e144d61f-b155-47cc-bf0b-842a70dae4af #s-Rich_text_22 .valign {
vertical-align: top;
text-align: left;
}
#s-e144d61f-b155-47cc-bf0b-842a70dae4af #s-Rich_text_22 span {
color: #333333;
text-align: left;
text-decoration: none;
font-family: Roboto-Light,Arial;
font-size: 9.0pt;
}
#s-e144d61f-b155-47cc-bf0b-842a70dae4af #s-Rich_text_22 span#rtr-s-Rich_text_22_0 {
color: #333333;
text-align: left;
text-decoration: none;
font-family: Roboto-Light,Arial;
font-size: 9.0pt;
line-height: 0px;
}
#s-e144d61f-b155-47cc-bf0b-842a70dae4af #s-Rich_text_23 {
position: absolute;
top: 492px;
left: 2px;
width: 280px;
height: 60px;
background-color: transparent;
background-image: none;
-webkit-transform: rotate(0deg);
-moz-transform: rotate(0deg);
transform: rotate(0deg);
box-shadow: none;
text-shadow: none;
line-height: 20px;
font-size: 13.0pt;
font-family: Roboto-Regular,Arial;
}
#s-e144d61f-b155-47cc-bf0b-842a70dae4af #s-Rich_text_23 .valign {
vertical-align: top;
text-align: left;
}
#s-e144d61f-b155-47cc-bf0b-842a70dae4af #s-Rich_text_23 span {
color: #333333;
text-align: left;
text-decoration: none;
font-family: Roboto-Regular,Arial;
font-size: 13.0pt;
}
#s-e144d61f-b155-47cc-bf0b-842a70dae4af #s-Rich_text_23 span#rtr-s-Rich_text_23_0 {
color: #333333;
text-align: left;
text-decoration: none;
font-family: Roboto-Regular,Arial;
font-size: 13.0pt;
line-height: 0px;
}
#s-e144d61f-b155-47cc-bf0b-842a70dae4af #s-Label_29 {
position: absolute;
top: 464px;
left: 2px;
width: 139px;
height: 29px;
background-color: transparent;
background-image: none;
-webkit-transform: rotate(0deg);
-moz-transform: rotate(0deg);
transform: rotate(0deg);
box-shadow: none;
text-shadow: none;
font-size: 9.0pt;
font-family: Roboto-Bold,Arial;
}
#s-e144d61f-b155-47cc-bf0b-842a70dae4af #s-Label_29 .valign {
vertical-align: middle;
text-align: left;
}
#s-e144d61f-b155-47cc-bf0b-842a70dae4af #s-Label_29 span {
color: #4CB9CE;
text-align: left;
text-decoration: none;
font-family: Roboto-Bold,Arial;
font-size: 9.0pt;
}
#s-e144d61f-b155-47cc-bf0b-842a70dae4af #s-Label_29 span#rtr-s-Label_29_0 {
color: #4CB9CE;
text-align: left;
text-decoration: none;
font-family: Roboto-Bold,Arial;
font-size: 9.0pt;
line-height: 0px;
}
#s-e144d61f-b155-47cc-bf0b-842a70dae4af #s-Rich_text_24 {
position: absolute;
top: 541px;
left: 2px;
width: 289px;
height: 72px;
background-color: transparent;
background-image: none;
-webkit-transform: rotate(0deg);
-moz-transform: rotate(0deg);
transform: rotate(0deg);
box-shadow: none;
text-shadow: none;
line-height: 17px;
font-size: 9.0pt;
font-family: Roboto-Light,Arial;
}
#s-e144d61f-b155-47cc-bf0b-842a70dae4af #s-Rich_text_24 .valign {
vertical-align: top;
text-align: left;
}
#s-e144d61f-b155-47cc-bf0b-842a70dae4af #s-Rich_text_24 span {
color: #333333;
text-align: left;
text-decoration: none;
font-family: Roboto-Light,Arial;
font-size: 9.0pt;
}
#s-e144d61f-b155-47cc-bf0b-842a70dae4af #s-Rich_text_24 span#rtr-s-Rich_text_24_0 {
color: #333333;
text-align: left;
text-decoration: none;
font-family: Roboto-Light,Arial;
font-size: 9.0pt;
line-height: 0px;
}
#s-e144d61f-b155-47cc-bf0b-842a70dae4af #s-Line_4 {
position: absolute;
top: 217px;
left: 2px;
width: 86px;
height: 0px;
border-top-width: 1px;
border-top-style: solid;
border-top-color: #D9D9D9;
-webkit-transform: rotate(0deg);
-moz-transform: rotate(0deg);
transform: rotate(0deg);
box-shadow: none;
}
#s-e144d61f-b155-47cc-bf0b-842a70dae4af #s-Line_5 {
position: absolute;
top: 429px;
left: 2px;
width: 86px;
height: 0px;
border-top-width: 1px;
border-top-style: solid;
border-top-color: #D9D9D9;
-webkit-transform: rotate(0deg);
-moz-transform: rotate(0deg);
transform: rotate(0deg);
box-shadow: none;
}
#s-e144d61f-b155-47cc-bf0b-842a70dae4af #s-Contents {
position: absolute;
top: 1097px;
left: 422px;
width: 858px;
height: 764px;
}
#s-e144d61f-b155-47cc-bf0b-842a70dae4af #s-Image_15 {
position: absolute;
top: 430px;
left: 3px;
width: 855px;
height: 334px;
-webkit-transform: rotate(0deg);
-moz-transform: rotate(0deg);
transform: rotate(0deg);
box-shadow: none;
}
#s-e144d61f-b155-47cc-bf0b-842a70dae4af #s-Label_25 {
position: absolute;
top: 39px;
left: 3px;
width: 139px;
height: 29px;
background-color: transparent;
background-image: none;
-webkit-transform: rotate(0deg);
-moz-transform: rotate(0deg);
transform: rotate(0deg);
box-shadow: none;
text-shadow: none;
font-size: 20.0pt;
font-family: Roboto-Light,Arial;
}
#s-e144d61f-b155-47cc-bf0b-842a70dae4af #s-Label_25 .valign {
vertical-align: middle;
text-align: left;
}
#s-e144d61f-b155-47cc-bf0b-842a70dae4af #s-Label_25 span {
color: #4CB9CE;
text-align: left;
text-decoration: none;
font-family: Roboto-Light,Arial;
font-size: 20.0pt;
}
#s-e144d61f-b155-47cc-bf0b-842a70dae4af #s-Label_25 span#rtr-s-Label_25_0 {
color: #4CB9CE;
text-align: left;
text-decoration: none;
font-family: Roboto-Light,Arial;
font-size: 20.0pt;
line-height: 0px;
}
#s-e144d61f-b155-47cc-bf0b-842a70dae4af #s-Rich_text_18 {
position: absolute;
top: 75px;
left: 3px;
width: 440px;
height: 68px;
background-color: transparent;
background-image: none;
-webkit-transform: rotate(0deg);
-moz-transform: rotate(0deg);
transform: rotate(0deg);
box-shadow: none;
text-shadow: none;
line-height: 25px;
font-size: 16.0pt;
font-family: Roboto-Regular,Arial;
}
#s-e144d61f-b155-47cc-bf0b-842a70dae4af #s-Rich_text_18 .valign {
vertical-align: top;
text-align: left;
}
#s-e144d61f-b155-47cc-bf0b-842a70dae4af #s-Rich_text_18 span {
color: #333333;
text-align: left;
text-decoration: none;
font-family: Roboto-Regular,Arial;
font-size: 16.0pt;
}
#s-e144d61f-b155-47cc-bf0b-842a70dae4af #s-Rich_text_18 span#rtr-s-Rich_text_18_0 {
color: #333333;
text-align: left;
text-decoration: none;
font-family: Roboto-Regular,Arial;
font-size: 16.0pt;
line-height: 0px;
}
#s-e144d61f-b155-47cc-bf0b-842a70dae4af #s-Image_16 {
position: absolute;
top: 0px;
left: 450px;
width: 408px;
height: 388px;
-webkit-transform: rotate(0deg);
-moz-transform: rotate(0deg);
transform: rotate(0deg);
box-shadow: none;
}
#s-e144d61f-b155-47cc-bf0b-842a70dae4af #s-Group_8 {
position: absolute;
top: 274px;
left: 3px;
width: 162px;
height: 29px;
}
#s-e144d61f-b155-47cc-bf0b-842a70dae4af #s-Label_30 {
position: absolute;
top: 0px;
left: 23px;
width: 139px;
height: 29px;
background-color: transparent;
background-image: none;
-webkit-transform: rotate(0deg);
-moz-transform: rotate(0deg);
transform: rotate(0deg);
box-shadow: none;
text-shadow: none;
font-size: 11.0pt;
font-family: Roboto-Medium,Arial;
}
#s-e144d61f-b155-47cc-bf0b-842a70dae4af #s-Label_30 .valign {
vertical-align: middle;
text-align: left;
}
#s-e144d61f-b155-47cc-bf0b-842a70dae4af #s-Label_30 span {
color: #333333;
text-align: left;
text-decoration: none;
font-family: Roboto-Medium,Arial;
font-size: 11.0pt;
}
#s-e144d61f-b155-47cc-bf0b-842a70dae4af #s-Label_30 span#rtr-s-Label_30_0 {
color: #333333;
text-align: left;
text-decoration: none;
font-family: Roboto-Medium,Arial;
font-size: 11.0pt;
line-height: 0px;
}
#s-e144d61f-b155-47cc-bf0b-842a70dae4af #s-Image_20 {
position: absolute;
top: 9px;
left: 0px;
width: 12px;
height: 11px;
-webkit-transform: rotate(0deg);
-moz-transform: rotate(0deg);
transform: rotate(0deg);
box-shadow: none;
}
#s-e144d61f-b155-47cc-bf0b-842a70dae4af #s-Rich_text_7 {
position: absolute;
top: 140px;
left: 3px;
width: 424px;
height: 129px;
background-color: transparent;
background-image: none;
-webkit-transform: rotate(0deg);
-moz-transform: rotate(0deg);
transform: rotate(0deg);
box-shadow: none;
text-shadow: none;
line-height: 23px;
font-size: 10.0pt;
font-family: Roboto-Light,Arial;
}
#s-e144d61f-b155-47cc-bf0b-842a70dae4af #s-Rich_text_7 .valign {
vertical-align: top;
text-align: left;
}
#s-e144d61f-b155-47cc-bf0b-842a70dae4af #s-Rich_text_7 span {
color: #333333;
text-align: left;
text-decoration: none;
font-family: Roboto-Light,Arial;
font-size: 10.0pt;
}
#s-e144d61f-b155-47cc-bf0b-842a70dae4af #s-Rich_text_7 span#rtr-s-Rich_text_7_0 {
color: #333333;
text-align: left;
text-decoration: none;
font-family: Roboto-Light,Arial;
font-size: 10.0pt;
line-height: 0px;
}
#s-e144d61f-b155-47cc-bf0b-842a70dae4af #s-Line_2 {
position: absolute;
top: 388px;
left: 0px;
width: 856px;
height: 1px;
border-top-width: 1px;
border-top-style: solid;
border-top-color: #D9D9D9;
-webkit-transform: rotate(180deg);
-moz-transform: rotate(180deg);
transform: rotate(180deg);
box-shadow: none;
}
#s-e144d61f-b155-47cc-bf0b-842a70dae4af #s-Items-home {
position: absolute;
top: 524px;
left: 75px;
width: 1102px;
height: 236px;
}
#s-e144d61f-b155-47cc-bf0b-842a70dae4af #s-Label_21 {
position: absolute;
top: 72px;
left: 70px;
width: 119px;
height: 27px;
background-color: transparent;
background-image: none;
-webkit-transform: rotate(0deg);
-moz-transform: rotate(0deg);
transform: rotate(0deg);
box-shadow: none;
text-shadow: none;
font-size: 14.0pt;
font-family: Roboto-Regular,Arial;
}
#s-e144d61f-b155-47cc-bf0b-842a70dae4af #s-Label_21 .valign {
vertical-align: middle;
text-align: center;
}
#s-e144d61f-b155-47cc-bf0b-842a70dae4af #s-Label_21 span {
color: #434343;
text-align: center;
text-decoration: none;
font-family: Roboto-Regular,Arial;
font-size: 14.0pt;
}
#s-e144d61f-b155-47cc-bf0b-842a70dae4af #s-Label_21 span#rtr-s-Label_21_0 {
color: #434343;
text-align: center;
text-decoration: none;
font-family: Roboto-Regular,Arial;
font-size: 14.0pt;
line-height: 0px;
}
#s-e144d61f-b155-47cc-bf0b-842a70dae4af #s-Rich_text_14 {
position: absolute;
top: 107px;
left: 0px;
width: 295px;
height: 114px;
background-color: transparent;
background-image: none;
-webkit-transform: rotate(0deg);
-moz-transform: rotate(0deg);
transform: rotate(0deg);
box-shadow: none;
text-shadow: none;
font-size: 10.0pt;
font-family: Roboto-Light,Arial;
}
#s-e144d61f-b155-47cc-bf0b-842a70dae4af #s-Rich_text_14 .valign {
vertical-align: top;
text-align: left;
}
#s-e144d61f-b155-47cc-bf0b-842a70dae4af #s-Rich_text_14 span {
color: #434343;
text-align: left;
text-decoration: none;
font-family: Roboto-Light,Arial;
font-size: 10.0pt;
}
#s-e144d61f-b155-47cc-bf0b-842a70dae4af #s-Rich_text_14 span#rtr-s-Rich_text_14_0 {
color: #434343;
text-align: left;
text-decoration: none;
font-family: Roboto-Light,Arial;
font-size: 10.0pt;
line-height: 0px;
}
#s-e144d61f-b155-47cc-bf0b-842a70dae4af #s-Label_22 {
position: absolute;
top: 72px;
left: 471px;
width: 119px;
height: 27px;
background-color: transparent;
background-image: none;
-webkit-transform: rotate(0deg);
-moz-transform: rotate(0deg);
transform: rotate(0deg);
box-shadow: none;
text-shadow: none;
font-size: 14.0pt;
font-family: Roboto-Regular,Arial;
}
#s-e144d61f-b155-47cc-bf0b-842a70dae4af #s-Label_22 .valign {
vertical-align: middle;
text-align: center;
}
#s-e144d61f-b155-47cc-bf0b-842a70dae4af #s-Label_22 span {
color: #434343;
text-align: center;
text-decoration: none;
font-family: Roboto-Regular,Arial;
font-size: 14.0pt;
}
#s-e144d61f-b155-47cc-bf0b-842a70dae4af #s-Label_22 span#rtr-s-Label_22_0 {
color: #434343;
text-align: center;
text-decoration: none;
font-family: Roboto-Regular,Arial;
font-size: 14.0pt;
line-height: 0px;
}
#s-e144d61f-b155-47cc-bf0b-842a70dae4af #s-Rich_text_15 {
position: absolute;
top: 107px;
left: 397px;
width: 295px;
height: 129px;
background-color: transparent;
background-image: none;
-webkit-transform: rotate(0deg);
-moz-transform: rotate(0deg);
transform: rotate(0deg);
box-shadow: none;
text-shadow: none;
font-size: 10.0pt;
font-family: Roboto-Light,Arial;
}
#s-e144d61f-b155-47cc-bf0b-842a70dae4af #s-Rich_text_15 .valign {
vertical-align: top;
text-align: left;
}
#s-e144d61f-b155-47cc-bf0b-842a70dae4af #s-Rich_text_15 span {
color: #434343;
text-align: left;
text-decoration: none;
font-family: Roboto-Light,Arial;
font-size: 10.0pt;
}
#s-e144d61f-b155-47cc-bf0b-842a70dae4af #s-Rich_text_15 span#rtr-s-Rich_text_15_0 {
color: #434343;
text-align: left;
text-decoration: none;
font-family: Roboto-Light,Arial;
font-size: 10.0pt;
line-height: 0px;
}
#s-e144d61f-b155-47cc-bf0b-842a70dae4af #s-Label_23 {
position: absolute;
top: 72px;
left: 878px;
width: 119px;
height: 27px;
background-color: transparent;
background-image: none;
-webkit-transform: rotate(0deg);
-moz-transform: rotate(0deg);
transform: rotate(0deg);
box-shadow: none;
text-shadow: none;
font-size: 14.0pt;
font-family: Roboto-Regular,Arial;
}
#s-e144d61f-b155-47cc-bf0b-842a70dae4af #s-Label_23 .valign {
vertical-align: middle;
text-align: center;
}
#s-e144d61f-b155-47cc-bf0b-842a70dae4af #s-Label_23 span {
color: #333333;
text-align: center;
text-decoration: none;
font-family: Roboto-Regular,Arial;
font-size: 14.0pt;
}
#s-e144d61f-b155-47cc-bf0b-842a70dae4af #s-Label_23 span#rtr-s-Label_23_0 {
color: #333333;
text-align: center;
text-decoration: none;
font-family: Roboto-Regular,Arial;
font-size: 14.0pt;
line-height: 0px;
}
#s-e144d61f-b155-47cc-bf0b-842a70dae4af #s-Rich_text_16 {
position: absolute;
top: 102px;
left: 803px;
width: 299px;
height: 98px;
background-color: transparent;
background-image: none;
-webkit-transform: rotate(0deg);
-moz-transform: rotate(0deg);
transform: rotate(0deg);
box-shadow: none;
text-shadow: none;
font-size: 10.0pt;
font-family: Roboto-Light,Arial;
}
#s-e144d61f-b155-47cc-bf0b-842a70dae4af #s-Rich_text_16 .valign {
vertical-align: top;
text-align: left;
}
#s-e144d61f-b155-47cc-bf0b-842a70dae4af #s-Rich_text_16 span {
color: #434343;
text-align: left;
text-decoration: none;
font-family: Roboto-Light,Arial;
font-size: 10.0pt;
}
#s-e144d61f-b155-47cc-bf0b-842a70dae4af #s-Rich_text_16 span#rtr-s-Rich_text_16_0 {
color: #434343;
text-align: left;
text-decoration: none;
font-family: Roboto-Light,Arial;
font-size: 10.0pt;
line-height: 0px;
}
#s-e144d61f-b155-47cc-bf0b-842a70dae4af #s-Image_17 {
position: absolute;
top: 25px;
left: 108px;
width: 44px;
height: 38px;
-webkit-transform: rotate(0deg);
-moz-transform: rotate(0deg);
transform: rotate(0deg);
box-shadow: none;
}
#s-e144d61f-b155-47cc-bf0b-842a70dae4af #s-Image_18 {
position: absolute;
top: 22px;
left: 508px;
width: 44px;
height: 42px;
-webkit-transform: rotate(0deg);
-moz-transform: rotate(0deg);
transform: rotate(0deg);
box-shadow: none;
}
#s-e144d61f-b155-47cc-bf0b-842a70dae4af #s-Image_19 {
position: absolute;
top: 21px;
left: 913px;
width: 45px;
height: 45px;
-webkit-transform: rotate(0deg);
-moz-transform: rotate(0deg);
transform: rotate(0deg);
box-shadow: none;
}
#s-e144d61f-b155-47cc-bf0b-842a70dae4af #s-Line_1 {
position: absolute;
top: 96px;
left: 233px;
width: 191px;
height: 1px;
border-top-width: 1px;
border-top-style: solid;
border-top-color: #D9D9D9;
-webkit-transform: rotate(90deg);
-moz-transform: rotate(90deg);
transform: rotate(90deg);
box-shadow: none;
}
#s-e144d61f-b155-47cc-bf0b-842a70dae4af #s-Line_3 {
position: absolute;
top: 96px;
left: 646px;
width: 191px;
height: 1px;
border-top-width: 1px;
border-top-style: solid;
border-top-color: #D9D9D9;
-webkit-transform: rotate(90deg);
-moz-transform: rotate(90deg);
transform: rotate(90deg);
box-shadow: none;
}
#s-e144d61f-b155-47cc-bf0b-842a70dae4af > #loadMark {
width: 1px;
visibility: hidden;
display: none;
}