.sc-8cd087ea-a3de-46aa-b850-26cc7631b085 #n0 {
left: 10px;
top: 10px;
width: 118px;
height: 185px;
}
.sc-8cd087ea-a3de-46aa-b850-26cc7631b085 #n1 {
left: 235px;
top: 48px;
width: 131px;
height: 110px;
}
#scenarioWrapper {
width: 376px;
}