.sc-399d47e1-a72d-429a-85a0-332ef814a05c #n0 {
left: 10px;
top: 10px;
width: 137px;
height: 180px;
}
.sc-399d47e1-a72d-429a-85a0-332ef814a05c #n1 {
left: 206px;
top: 23px;
width: 137px;
height: 150px;
}
.sc-399d47e1-a72d-429a-85a0-332ef814a05c #n2 {
left: 431px;
top: 30px;
width: 140px;
height: 139px;
}
.sc-399d47e1-a72d-429a-85a0-332ef814a05c #n3 {
left: 680px;
top: 15px;
width: 146px;
height: 177px;
}
.sc-399d47e1-a72d-429a-85a0-332ef814a05c #n4 {
left: 918px;
top: 40px;
width: 147px;
height: 141px;
}
.sc-399d47e1-a72d-429a-85a0-332ef814a05c #n5 {
left: 936px;
top: 239px;
width: 42px;
height: 45px;
}
#scenarioWrapper {
width: 1075px;
}