#m-e7ba14db-e912-4fe9-b55f-f0b9e60a7ae4 #m-e7ba14db-Label_3 {
-ms-transform: rotate(0.0deg);
}
#m-e7ba14db-e912-4fe9-b55f-f0b9e60a7ae4 #m-e7ba14db-Flat-button {
border-top-width: 0px;
border-top-style: solid;
border-top-color: #21C0C0;
border-right-width: 0px;
border-right-style: solid;
border-right-color: #21C0C0;
border-bottom-width: 0px;
border-bottom-style: solid;
border-bottom-color: #21C0C0;
border-left-width: 0px;
border-left-style: solid;
border-left-color: #21C0C0;
-ms-transform: rotate(0.0deg);
}
#m-e7ba14db-e912-4fe9-b55f-f0b9e60a7ae4 #m-e7ba14db-Label_4 {
-ms-transform: rotate(0.0deg);
}
#m-e7ba14db-e912-4fe9-b55f-f0b9e60a7ae4 #m-e7ba14db-Label_1 {
-ms-transform: rotate(0.0deg);
}
#m-e7ba14db-e912-4fe9-b55f-f0b9e60a7ae4 #m-e7ba14db-Rectangle_2 {
-ms-transform: rotate(0.0deg);
}
#m-e7ba14db-e912-4fe9-b55f-f0b9e60a7ae4 #m-e7ba14db-Button_9 {
-ms-transform: rotate(0.0deg);
}
#m-e7ba14db-e912-4fe9-b55f-f0b9e60a7ae4.master > #loadMark {
width: 1px;
visibility: hidden;
display: none;
}