#m-dd729ba7-284d-48ee-a935-6978438cf9ed #m-dd729ba7-Ellipse_1 .shapert-clipping {
left: 0px;
top: 0px;
width: 48px;
height: 47px;
position: absolute;
overflow: hidden;
}
#m-dd729ba7-284d-48ee-a935-6978438cf9ed #m-dd729ba7-Ellipse_1 .content {
width: 48px;
height: 47px;
}
#m-dd729ba7-284d-48ee-a935-6978438cf9ed #m-dd729ba7-Ellipse_1 {
position: absolute;
top: 61px;
left: 56px;
width: 48px;
height: 47px;
background-color: #CCCDCC;
background-image: none;
-webkit-transform: rotate(0deg);
-moz-transform: rotate(0deg);
transform: rotate(0deg);
box-shadow: none;
text-shadow: none;
font-size: 8.0pt;
font-family: Arial,Arial;
}
#m-dd729ba7-284d-48ee-a935-6978438cf9ed #shapewrapper-m-dd729ba7-Ellipse_1 .valign {
vertical-align: middle;
text-align: left;
}
#m-dd729ba7-284d-48ee-a935-6978438cf9ed #shapewrapper-m-dd729ba7-Ellipse_1 span {
color: #000000;
text-align: left;
text-decoration: none;
font-family: Arial,Arial;
font-size: 8.0pt;
font-style: normal;
font-weight: 400;
}
#m-dd729ba7-284d-48ee-a935-6978438cf9ed #shapewrapper-m-dd729ba7-Ellipse_1 span#rtr-m-dd729ba7-Ellipse_1_0 {
color: #000000;
text-align: left;
text-decoration: none;
font-family: Arial,Arial;
font-size: 8.0pt;
font-style: normal;
font-weight: 400;
line-height: 0px;
}
#m-dd729ba7-284d-48ee-a935-6978438cf9ed #m-dd729ba7-Ellipse_2 .shapert-clipping {
left: 0px;
top: 0px;
width: 48px;
height: 47px;
position: absolute;
overflow: hidden;
}
#m-dd729ba7-284d-48ee-a935-6978438cf9ed #m-dd729ba7-Ellipse_2 .content {
width: 48px;
height: 47px;
}
#m-dd729ba7-284d-48ee-a935-6978438cf9ed #m-dd729ba7-Ellipse_2 {
position: absolute;
top: 59px;
left: 289px;
width: 48px;
height: 47px;
background-color: #CCCDCC;
background-image: none;
-webkit-transform: rotate(0deg);
-moz-transform: rotate(0deg);
transform: rotate(0deg);
box-shadow: none;
text-shadow: none;
font-size: 8.0pt;
font-family: Arial,Arial;
}
#m-dd729ba7-284d-48ee-a935-6978438cf9ed #shapewrapper-m-dd729ba7-Ellipse_2 .valign {
vertical-align: middle;
text-align: left;
}
#m-dd729ba7-284d-48ee-a935-6978438cf9ed #shapewrapper-m-dd729ba7-Ellipse_2 span {
color: #000000;
text-align: left;
text-decoration: none;
font-family: Arial,Arial;
font-size: 8.0pt;
font-style: normal;
font-weight: 400;
}
#m-dd729ba7-284d-48ee-a935-6978438cf9ed #shapewrapper-m-dd729ba7-Ellipse_2 span#rtr-m-dd729ba7-Ellipse_2_0 {
color: #000000;
text-align: left;
text-decoration: none;
font-family: Arial,Arial;
font-size: 8.0pt;
font-style: normal;
font-weight: 400;
line-height: 0px;
}
#m-dd729ba7-284d-48ee-a935-6978438cf9ed #m-dd729ba7-Label_15 {
position: absolute;
top: 68px;
left: 73px;
width: auto;
height: auto;
background-color: transparent;
background-image: none;
-webkit-transform: rotate(0deg);
-moz-transform: rotate(0deg);
transform: rotate(0deg);
box-shadow: none;
text-shadow: none;
font-size: 18.0pt;
font-family: Roboto-Regular,Arial;
}
#m-dd729ba7-284d-48ee-a935-6978438cf9ed #m-dd729ba7-Label_15 .valign {
vertical-align: middle;
text-align: left;
}
#m-dd729ba7-284d-48ee-a935-6978438cf9ed #m-dd729ba7-Label_15 span {
color: #FFFFFF;
text-align: left;
text-decoration: none;
font-family: Roboto-Regular,Arial;
font-size: 18.0pt;
}
#m-dd729ba7-284d-48ee-a935-6978438cf9ed #m-dd729ba7-Label_15 span#rtr-m-dd729ba7-Label_15_0 {
color: #FFFFFF;
text-align: left;
text-decoration: none;
font-family: Roboto-Regular,Arial;
font-size: 18.0pt;
line-height: 0px;
}
#m-dd729ba7-284d-48ee-a935-6978438cf9ed #m-dd729ba7-Label_23 {
position: absolute;
top: 67px;
left: 306px;
width: auto;
height: auto;
background-color: transparent;
background-image: none;
-webkit-transform: rotate(0deg);
-moz-transform: rotate(0deg);
transform: rotate(0deg);
box-shadow: none;
text-shadow: none;
font-size: 18.0pt;
font-family: Roboto-Regular,Arial;
}
#m-dd729ba7-284d-48ee-a935-6978438cf9ed #m-dd729ba7-Label_23 .valign {
vertical-align: middle;
text-align: left;
}
#m-dd729ba7-284d-48ee-a935-6978438cf9ed #m-dd729ba7-Label_23 span {
color: #FFFFFF;
text-align: left;
text-decoration: none;
font-family: Roboto-Regular,Arial;
font-size: 18.0pt;
}
#m-dd729ba7-284d-48ee-a935-6978438cf9ed #m-dd729ba7-Label_23 span#rtr-m-dd729ba7-Label_23_0 {
color: #FFFFFF;
text-align: left;
text-decoration: none;
font-family: Roboto-Regular,Arial;
font-size: 18.0pt;
line-height: 0px;
}
#m-dd729ba7-284d-48ee-a935-6978438cf9ed #m-dd729ba7-Ellipse_3 .shapert-clipping {
left: 0px;
top: 0px;
width: 48px;
height: 47px;
position: absolute;
overflow: hidden;
}
#m-dd729ba7-284d-48ee-a935-6978438cf9ed #m-dd729ba7-Ellipse_3 .content {
width: 48px;
height: 47px;
}
#m-dd729ba7-284d-48ee-a935-6978438cf9ed #m-dd729ba7-Ellipse_3 {
position: absolute;
top: 59px;
left: 522px;
width: 48px;
height: 47px;
background-color: #CCCDCC;
background-image: none;
-webkit-transform: rotate(0deg);
-moz-transform: rotate(0deg);
transform: rotate(0deg);
box-shadow: none;
text-shadow: none;
font-size: 8.0pt;
font-family: Arial,Arial;
}
#m-dd729ba7-284d-48ee-a935-6978438cf9ed #shapewrapper-m-dd729ba7-Ellipse_3 .valign {
vertical-align: middle;
text-align: left;
}
#m-dd729ba7-284d-48ee-a935-6978438cf9ed #shapewrapper-m-dd729ba7-Ellipse_3 span {
color: #000000;
text-align: left;
text-decoration: none;
font-family: Arial,Arial;
font-size: 8.0pt;
font-style: normal;
font-weight: 400;
}
#m-dd729ba7-284d-48ee-a935-6978438cf9ed #shapewrapper-m-dd729ba7-Ellipse_3 span#rtr-m-dd729ba7-Ellipse_3_0 {
color: #000000;
text-align: left;
text-decoration: none;
font-family: Arial,Arial;
font-size: 8.0pt;
font-style: normal;
font-weight: 400;
line-height: 0px;
}
#m-dd729ba7-284d-48ee-a935-6978438cf9ed #m-dd729ba7-Label_24 {
position: absolute;
top: 67px;
left: 539px;
width: auto;
height: auto;
background-color: transparent;
background-image: none;
-webkit-transform: rotate(0deg);
-moz-transform: rotate(0deg);
transform: rotate(0deg);
box-shadow: none;
text-shadow: none;
font-size: 18.0pt;
font-family: Roboto-Regular,Arial;
}
#m-dd729ba7-284d-48ee-a935-6978438cf9ed #m-dd729ba7-Label_24 .valign {
vertical-align: middle;
text-align: left;
}
#m-dd729ba7-284d-48ee-a935-6978438cf9ed #m-dd729ba7-Label_24 span {
color: #FFFFFF;
text-align: left;
text-decoration: none;
font-family: Roboto-Regular,Arial;
font-size: 18.0pt;
}
#m-dd729ba7-284d-48ee-a935-6978438cf9ed #m-dd729ba7-Label_24 span#rtr-m-dd729ba7-Label_24_0 {
color: #FFFFFF;
text-align: left;
text-decoration: none;
font-family: Roboto-Regular,Arial;
font-size: 18.0pt;
line-height: 0px;
}
#m-dd729ba7-284d-48ee-a935-6978438cf9ed #m-dd729ba7-Label_25 {
position: absolute;
top: 66px;
left: 113px;
width: 49px;
height: 20px;
background-color: transparent;
background-image: none;
-webkit-transform: rotate(0deg);
-moz-transform: rotate(0deg);
transform: rotate(0deg);
box-shadow: none;
text-shadow: none;
font-size: 10.0pt;
font-family: Roboto-Medium,Arial;
}
#m-dd729ba7-284d-48ee-a935-6978438cf9ed #m-dd729ba7-Label_25 .valign {
vertical-align: middle;
text-align: left;
}
#m-dd729ba7-284d-48ee-a935-6978438cf9ed #m-dd729ba7-Label_25 span {
color: #45BACC;
text-align: left;
text-decoration: none;
font-family: Roboto-Medium,Arial;
font-size: 10.0pt;
}
#m-dd729ba7-284d-48ee-a935-6978438cf9ed #m-dd729ba7-Label_25 span#rtr-m-dd729ba7-Label_25_0 {
color: #45BACC;
text-align: left;
text-decoration: none;
font-family: Roboto-Medium,Arial;
font-size: 10.0pt;
line-height: 0px;
}
#m-dd729ba7-284d-48ee-a935-6978438cf9ed #m-dd729ba7-Label_26 {
position: absolute;
top: 77px;
left: 114px;
width: 148px;
height: 31px;
background-color: transparent;
background-image: none;
-webkit-transform: rotate(0deg);
-moz-transform: rotate(0deg);
transform: rotate(0deg);
box-shadow: none;
text-shadow: none;
font-size: 12.0pt;
font-family: Roboto-Medium,Arial;
}
#m-dd729ba7-284d-48ee-a935-6978438cf9ed #m-dd729ba7-Label_26 .valign {
vertical-align: middle;
text-align: left;
}
#m-dd729ba7-284d-48ee-a935-6978438cf9ed #m-dd729ba7-Label_26 span {
color: #000000;
text-align: left;
text-decoration: none;
font-family: Roboto-Medium,Arial;
font-size: 12.0pt;
}
#m-dd729ba7-284d-48ee-a935-6978438cf9ed #m-dd729ba7-Label_26 span#rtr-m-dd729ba7-Label_26_0 {
color: #000000;
text-align: left;
text-decoration: none;
font-family: Roboto-Medium,Arial;
font-size: 12.0pt;
line-height: 0px;
}
#m-dd729ba7-284d-48ee-a935-6978438cf9ed #m-dd729ba7-Label_27 {
position: absolute;
top: 66px;
left: 345px;
width: 49px;
height: 20px;
background-color: transparent;
background-image: none;
-webkit-transform: rotate(0deg);
-moz-transform: rotate(0deg);
transform: rotate(0deg);
box-shadow: none;
text-shadow: none;
font-size: 10.0pt;
font-family: Roboto-Medium,Arial;
}
#m-dd729ba7-284d-48ee-a935-6978438cf9ed #m-dd729ba7-Label_27 .valign {
vertical-align: middle;
text-align: left;
}
#m-dd729ba7-284d-48ee-a935-6978438cf9ed #m-dd729ba7-Label_27 span {
color: #45BACC;
text-align: left;
text-decoration: none;
font-family: Roboto-Medium,Arial;
font-size: 10.0pt;
}
#m-dd729ba7-284d-48ee-a935-6978438cf9ed #m-dd729ba7-Label_27 span#rtr-m-dd729ba7-Label_27_0 {
color: #45BACC;
text-align: left;
text-decoration: none;
font-family: Roboto-Medium,Arial;
font-size: 10.0pt;
line-height: 0px;
}
#m-dd729ba7-284d-48ee-a935-6978438cf9ed #m-dd729ba7-Label_28 {
position: absolute;
top: 82px;
left: 345px;
width: 157px;
height: 24px;
background-color: transparent;
background-image: none;
-webkit-transform: rotate(0deg);
-moz-transform: rotate(0deg);
transform: rotate(0deg);
box-shadow: none;
text-shadow: none;
font-size: 12.0pt;
font-family: Roboto-Medium,Arial;
}
#m-dd729ba7-284d-48ee-a935-6978438cf9ed #m-dd729ba7-Label_28 .valign {
vertical-align: middle;
text-align: left;
}
#m-dd729ba7-284d-48ee-a935-6978438cf9ed #m-dd729ba7-Label_28 span {
color: #000000;
text-align: left;
text-decoration: none;
font-family: Roboto-Medium,Arial;
font-size: 12.0pt;
}
#m-dd729ba7-284d-48ee-a935-6978438cf9ed #m-dd729ba7-Label_28 span#rtr-m-dd729ba7-Label_28_0 {
color: #000000;
text-align: left;
text-decoration: none;
font-family: Roboto-Medium,Arial;
font-size: 12.0pt;
line-height: 0px;
}
#m-dd729ba7-284d-48ee-a935-6978438cf9ed #m-dd729ba7-Label_29 {
position: absolute;
top: 66px;
left: 578px;
width: 49px;
height: 20px;
background-color: transparent;
background-image: none;
-webkit-transform: rotate(0deg);
-moz-transform: rotate(0deg);
transform: rotate(0deg);
box-shadow: none;
text-shadow: none;
font-size: 10.0pt;
font-family: Roboto-Medium,Arial;
}
#m-dd729ba7-284d-48ee-a935-6978438cf9ed #m-dd729ba7-Label_29 .valign {
vertical-align: middle;
text-align: left;
}
#m-dd729ba7-284d-48ee-a935-6978438cf9ed #m-dd729ba7-Label_29 span {
color: #45BACC;
text-align: left;
text-decoration: none;
font-family: Roboto-Medium,Arial;
font-size: 10.0pt;
}
#m-dd729ba7-284d-48ee-a935-6978438cf9ed #m-dd729ba7-Label_29 span#rtr-m-dd729ba7-Label_29_0 {
color: #45BACC;
text-align: left;
text-decoration: none;
font-family: Roboto-Medium,Arial;
font-size: 10.0pt;
line-height: 0px;
}
#m-dd729ba7-284d-48ee-a935-6978438cf9ed #m-dd729ba7-Label_30 {
position: absolute;
top: 82px;
left: 577px;
width: 138px;
height: 26px;
background-color: transparent;
background-image: none;
-webkit-transform: rotate(0deg);
-moz-transform: rotate(0deg);
transform: rotate(0deg);
box-shadow: none;
text-shadow: none;
font-size: 12.0pt;
font-family: Roboto-Medium,Arial;
}
#m-dd729ba7-284d-48ee-a935-6978438cf9ed #m-dd729ba7-Label_30 .valign {
vertical-align: middle;
text-align: left;
}
#m-dd729ba7-284d-48ee-a935-6978438cf9ed #m-dd729ba7-Label_30 span {
color: #000000;
text-align: left;
text-decoration: none;
font-family: Roboto-Medium,Arial;
font-size: 12.0pt;
}
#m-dd729ba7-284d-48ee-a935-6978438cf9ed #m-dd729ba7-Label_30 span#rtr-m-dd729ba7-Label_30_0 {
color: #000000;
text-align: left;
text-decoration: none;
font-family: Roboto-Medium,Arial;
font-size: 12.0pt;
line-height: 0px;
}
#m-dd729ba7-284d-48ee-a935-6978438cf9ed #m-dd729ba7-Ellipse_4 .shapert-clipping {
left: 0px;
top: 0px;
width: 48px;
height: 47px;
position: absolute;
overflow: hidden;
}
#m-dd729ba7-284d-48ee-a935-6978438cf9ed #m-dd729ba7-Ellipse_4 .content {
width: 48px;
height: 47px;
}
#m-dd729ba7-284d-48ee-a935-6978438cf9ed #m-dd729ba7-Ellipse_4 {
position: absolute;
top: 61px;
left: 753px;
width: 48px;
height: 47px;
background-color: #CCCDCC;
background-image: none;
-webkit-transform: rotate(0deg);
-moz-transform: rotate(0deg);
transform: rotate(0deg);
box-shadow: none;
text-shadow: none;
font-size: 8.0pt;
font-family: Arial,Arial;
}
#m-dd729ba7-284d-48ee-a935-6978438cf9ed #shapewrapper-m-dd729ba7-Ellipse_4 .valign {
vertical-align: middle;
text-align: left;
}
#m-dd729ba7-284d-48ee-a935-6978438cf9ed #shapewrapper-m-dd729ba7-Ellipse_4 span {
color: #000000;
text-align: left;
text-decoration: none;
font-family: Arial,Arial;
font-size: 8.0pt;
font-style: normal;
font-weight: 400;
}
#m-dd729ba7-284d-48ee-a935-6978438cf9ed #shapewrapper-m-dd729ba7-Ellipse_4 span#rtr-m-dd729ba7-Ellipse_4_0 {
color: #000000;
text-align: left;
text-decoration: none;
font-family: Arial,Arial;
font-size: 8.0pt;
font-style: normal;
font-weight: 400;
line-height: 0px;
}
#m-dd729ba7-284d-48ee-a935-6978438cf9ed #m-dd729ba7-Label_31 {
position: absolute;
top: 68px;
left: 769px;
width: auto;
height: auto;
background-color: transparent;
background-image: none;
-webkit-transform: rotate(0deg);
-moz-transform: rotate(0deg);
transform: rotate(0deg);
box-shadow: none;
text-shadow: none;
font-size: 18.0pt;
font-family: Roboto-Regular,Arial;
}
#m-dd729ba7-284d-48ee-a935-6978438cf9ed #m-dd729ba7-Label_31 .valign {
vertical-align: middle;
text-align: left;
}
#m-dd729ba7-284d-48ee-a935-6978438cf9ed #m-dd729ba7-Label_31 span {
color: #FFFFFF;
text-align: left;
text-decoration: none;
font-family: Roboto-Regular,Arial;
font-size: 18.0pt;
}
#m-dd729ba7-284d-48ee-a935-6978438cf9ed #m-dd729ba7-Label_31 span#rtr-m-dd729ba7-Label_31_0 {
color: #FFFFFF;
text-align: left;
text-decoration: none;
font-family: Roboto-Regular,Arial;
font-size: 18.0pt;
line-height: 0px;
}
#m-dd729ba7-284d-48ee-a935-6978438cf9ed #m-dd729ba7-Label_32 {
position: absolute;
top: 66px;
left: 810px;
width: 49px;
height: 20px;
background-color: transparent;
background-image: none;
-webkit-transform: rotate(0deg);
-moz-transform: rotate(0deg);
transform: rotate(0deg);
box-shadow: none;
text-shadow: none;
font-size: 10.0pt;
font-family: Roboto-Medium,Arial;
}
#m-dd729ba7-284d-48ee-a935-6978438cf9ed #m-dd729ba7-Label_32 .valign {
vertical-align: middle;
text-align: left;
}
#m-dd729ba7-284d-48ee-a935-6978438cf9ed #m-dd729ba7-Label_32 span {
color: #45BACC;
text-align: left;
text-decoration: none;
font-family: Roboto-Medium,Arial;
font-size: 10.0pt;
}
#m-dd729ba7-284d-48ee-a935-6978438cf9ed #m-dd729ba7-Label_32 span#rtr-m-dd729ba7-Label_32_0 {
color: #45BACC;
text-align: left;
text-decoration: none;
font-family: Roboto-Medium,Arial;
font-size: 10.0pt;
line-height: 0px;
}
#m-dd729ba7-284d-48ee-a935-6978438cf9ed #m-dd729ba7-Label_33 {
position: absolute;
top: 82px;
left: 810px;
width: 104px;
height: 26px;
background-color: transparent;
background-image: none;
-webkit-transform: rotate(0deg);
-moz-transform: rotate(0deg);
transform: rotate(0deg);
box-shadow: none;
text-shadow: none;
font-size: 12.0pt;
font-family: Roboto-Medium,Arial;
}
#m-dd729ba7-284d-48ee-a935-6978438cf9ed #m-dd729ba7-Label_33 .valign {
vertical-align: middle;
text-align: left;
}
#m-dd729ba7-284d-48ee-a935-6978438cf9ed #m-dd729ba7-Label_33 span {
color: #000000;
text-align: left;
text-decoration: none;
font-family: Roboto-Medium,Arial;
font-size: 12.0pt;
}
#m-dd729ba7-284d-48ee-a935-6978438cf9ed #m-dd729ba7-Label_33 span#rtr-m-dd729ba7-Label_33_0 {
color: #000000;
text-align: left;
text-decoration: none;
font-family: Roboto-Medium,Arial;
font-size: 12.0pt;
line-height: 0px;
}
#m-dd729ba7-284d-48ee-a935-6978438cf9ed #m-dd729ba7-Hotspot_1 {
position: absolute;
top: 46px;
left: 45px;
width: 219px;
height: 73px;
-webkit-transform: rotate(0deg);
-moz-transform: rotate(0deg);
transform: rotate(0deg);
cursor: pointer;
}
#m-dd729ba7-284d-48ee-a935-6978438cf9ed #m-dd729ba7-Hotspot_2 {
position: absolute;
top: 46px;
left: 283px;
width: 219px;
height: 73px;
-webkit-transform: rotate(0deg);
-moz-transform: rotate(0deg);
transform: rotate(0deg);
cursor: pointer;
}
#m-dd729ba7-284d-48ee-a935-6978438cf9ed #m-dd729ba7-Hotspot_3 {
position: absolute;
top: 46px;
left: 515px;
width: 219px;
height: 73px;
-webkit-transform: rotate(0deg);
-moz-transform: rotate(0deg);
transform: rotate(0deg);
cursor: pointer;
}
#m-dd729ba7-284d-48ee-a935-6978438cf9ed #m-dd729ba7-Hotspot_4 {
position: absolute;
top: 46px;
left: 742px;
width: 219px;
height: 73px;
-webkit-transform: rotate(0deg);
-moz-transform: rotate(0deg);
transform: rotate(0deg);
cursor: pointer;
}
#m-dd729ba7-284d-48ee-a935-6978438cf9ed.master > #loadMark {
width: 1px;
visibility: hidden;
display: none;
}