#m-e7ba14db-e912-4fe9-b55f-f0b9e60a7ae4 #m-e7ba14db-Label_3 {
-ms-filter: ;
filter: ;
margin-left: 0px;
margin-top: 0px;
}
#m-e7ba14db-e912-4fe9-b55f-f0b9e60a7ae4 #m-e7ba14db-Flat-button {
-ms-filter: ;
filter: ;
margin-left: 0px;
margin-top: 0px;
}
#m-e7ba14db-e912-4fe9-b55f-f0b9e60a7ae4 #m-e7ba14db-Input_3 INPUT {
font-family: Arial;
}
#m-e7ba14db-e912-4fe9-b55f-f0b9e60a7ae4 #m-e7ba14db-Label_4 {
-ms-filter: ;
filter: ;
margin-left: 0px;
margin-top: 0px;
}
#m-e7ba14db-e912-4fe9-b55f-f0b9e60a7ae4 #m-e7ba14db-Label_1 {
-ms-filter: ;
filter: ;
margin-left: 0px;
margin-top: 0px;
}
#m-e7ba14db-e912-4fe9-b55f-f0b9e60a7ae4 #m-e7ba14db-Rectangle_2 {
-ms-filter: ;
filter: ;
margin-left: 0px;
margin-top: 0px;
}
#m-e7ba14db-e912-4fe9-b55f-f0b9e60a7ae4 #m-e7ba14db-Button_9 {
-ms-filter: ;
filter: ;
margin-left: 0px;
margin-top: 0px;
}
#m-e7ba14db-e912-4fe9-b55f-f0b9e60a7ae4.master > #loadMark {
width: 1px;
visibility: hidden;
display: none;
}