<!DOCTYPE html>
<html >
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>Enter Details</title>
<link rel="stylesheet" href="css/bootstrap.min.css">
  <link rel="stylesheet" href="css/font.css">
  
  <link rel='stylesheet prefetch' href='css/angular-material.css'>
<link rel='stylesheet prefetch' href='css/docs.css'>
      <link rel="stylesheet" href="css/style2.css">

  
</head>

<body>
  <div class="row">
    <div class="col-sm-12">
  <div ng-controller="AppCtrl as ctrl" class="md-padding selectdemoBasicUsage" ng-cloak="" layout="column" ng-app="MyApp">

  <p><center>
    Please give us a few details.</center>
  </p>

  <md-card>
    <md-card-title>
      <md-card-title-text>
        <span class="md-headline">Delivery Preferences</span>
        <span class="md-subhead">Address</span>
      </md-card-title-text>
    </md-card-title>

    <md-card-content>
      <div layout="row">
        <md-input-container>
          <label>Street Address</label>
          <input>
        </md-input-container>

        <md-input-container>
          <label>Pincode</label>
          <input>
        </md-input-container>

       
      </div>
    </md-card-content>
  </md-card>

  <md-card>
    <md-card-title>
      <md-card-title-text>
        <span class="md-headline">Contract Preferences</span>
        <span class="md-subhead">Provide your best estimate</span>
      </md-card-title-text>
    </md-card-title>

    <md-card-content>
      <div layout="row" layout-align="space-between center">
        <span>Delivery Frequency</span>
        <md-select ng-model="weapon" placeholder="Choose One.." class="md-no-underline">
          <md-option value="axe">Daily</md-option>
          <md-option value="sword">2-3 Days</md-option>
          <md-option value="wand">Weekly</md-option>
          <md-option value="pen">Fortnightly</md-option>
        </md-select>
      </div>

      <div layout="row" layout-align="space-between center">
        <span>What price do you currently buy at?</span>
        <md-select ng-model="armor" placeholder="Choose a Range" class="md-no-underline" required="" md-no-asterisk="false">
          <md-option value="cloth">Rs. 5 - 6/Kg</md-option>
          <md-option value="leather">Rs. 6 - 7/Kg</md-option>
          <md-option value="chain">Rs. 7 - 8/Kg</md-option>
          <md-option value="plate">Lower than Rs. 5/Kg</md-option>
        </md-select>
      </div>

      <div layout="row" layout-align="space-between center">
        <span>What credit period are you comfortable with?</span>
        <md-select ng-model="drink" placeholder="Choose one..." class="md-no-underline">
          <md-option value="water">No Credit</md-option>
          <md-option value="juice">Less Than A Week</md-option>
          <md-option value="milk">One to Three Weeks</md-option>
          <md-option value="wine">30  - 45 Days</md-option>
          <md-option value="mead">45 - 60 Days</md-option>
        </md-select>
      </div>
      <br>
      <h3>SKU Parameter</h3>
      <p>There's 1 SKU-parameter that you can choose for Potatoes: Starch-Fat Ratio.</p>

    <md-slider-container>
      <div flex="10" layout layout-align="center center">
        <span class="md-body-1">Starch</span>
      </div>
      <md-slider ng-model="invert" min="0" max="100" aria-label="regular slider"></md-slider>

      <md-input-container>
        <input flex type="number" ng-model="invert" aria-label="regular-slider">
      </md-input-container>
    </md-slider-container>
    <md-slider-container>
      <div flex="10" layout layout-align="center center">
        <span class="md-body-1">Fat</span>
      </div>
      <md-slider md-invert ng-model="invert" min="0" max="100" aria-label="invertd slider"></md-slider>

      <md-input-container>
        <input flex type="number" ng-model="invert" aria-label="invert-slider">
      </md-input-container>
    </md-slider-container>
    <br>
    <md-input-container>
            <label>Contract Starting Date Estimate</label>
            <md-datepicker ng-model="user.submissionDate"></md-datepicker>
          </md-input-container>

           <md-input-container class="md-block">
          <label>Additional Requirements</label>
          <textarea ng-model="user.biography" md-maxlength="150" rows="5" md-select-on-focus=""></textarea>
        </md-input-container>

  </md-card>
<center>
  <br><a class = "btn btn-success" href = "index4.html" role = "button">Go!</a> <br>
  <center>
</div>
</div>
</div>

<!--
Copyright 2016 Google Inc. All Rights Reserved. 
Use of this source code is governed by an MIT-style license that can be foundin the LICENSE file at http://material.angularjs.org/HEAD/license.
-->
    <script src='js/angular.js'></script>
<script src='js/angular-animate.min.js'></script>
<script src='js/angular-route.min.js'></script>
<script src='js/angular-aria.min.js'></script>
<script src='js/angular-messages.min.js'></script>
<script src='js/svg-assets-cache.js'></script>
<script src='js/angular-material.js'></script>

    <script src="js/index2.js"></script>
    <script src="js/index3.js"></script>
    <script src="js/bootstrap.min.js"></script>

</body>
</html>
