<html>
<body>
<div class="ui-page">
<div id="t-a8aec9a1-253f-439c-9ba8-f308737cccb9" class="template growth-both firer commentable" name="banner extralarge" width="" height="">
<div id="backgroundBox"></div>
<div id="alignmentBox" class="center">
<link type="text/css" rel="stylesheet" href="./resources/templates/a8aec9a1-253f-439c-9ba8-f308737cccb9-1466894348443.css" />
<!--[if IE]><link type="text/css" rel="stylesheet" href="./resources/templates/a8aec9a1-253f-439c-9ba8-f308737cccb9-1466894348443-ie.css" /><![endif]-->
<!--[if lte IE 8]><link type="text/css" rel="stylesheet" href="./resources/templates/a8aec9a1-253f-439c-9ba8-f308737cccb9-1466894348443-ie8.css" /><![endif]-->
<div id="t-Rectangle_2" class="rectangle firer commentable"  >
<div class="clipping">
<div class="content">
<div class="valign">
<span id="rtr-t-Rectangle_2_0"></span>
</div>
</div>
</div>
</div>

<img id="t-Image_1" class="image firer ie-background commentable"    alt="image" src="./images/7ba37e93-8280-43bc-bb92-9ad45ad5eafb.png"/>
<div id="t-Label_8" class="label singleline firer ie-background commentable"  ><div class="content"><div class="valign"><span id="rtr-t-Label_8_0">SINCE 1976, HEALTHCARE SERVICES GROUP</span></div></div></div>
<div id="t-Rich_text_2" class="richtext firer ie-background commentable"  >
<div class="clipping">
<div class="content">
<div class="valign">
<span id="rtr-t-Rich_text_2_0">Our Goal Is To Provide The Best Service In The Industry</span>
</div>
</div>
</div>
</div>
<div id="t-Button_1" class="button singleline firer click mouseenter mouseleave commentable"  ><div class="content"><div class="valign"><span id="rtr-t-Button_1_0">CHOOSE A PLAN</span></div></div></div>

<img id="t-Image_2" class="image firer click ie-background commentable"    alt="image" src="./images/54909aeb-902e-4c95-8d9d-a57362a092b4.png"/>
<div id="t-Group_1" class="group firer ie-background commentable">
<div id="t-Label_3" class="label singleline firer click ie-background commentable"  ><div class="content"><div class="valign"><span id="rtr-t-Label_3_0">ABOUT &nbsp;US</span></div></div></div>
<div id="t-Label_4" class="label singleline firer click ie-background commentable"  ><div class="content"><div class="valign"><span id="rtr-t-Label_4_0">HOME</span></div></div></div>
<div id="t-Label_5" class="label singleline firer click ie-background commentable"  ><div class="content"><div class="valign"><span id="rtr-t-Label_5_0">MISSION &nbsp;+ &nbsp;VALUES</span></div></div></div>
<div id="t-Label_6" class="label singleline firer click ie-background commentable"  ><div class="content"><div class="valign"><span id="rtr-t-Label_6_0">HEALTH &nbsp;PLANS</span></div></div></div>
<div id="t-Label_9" class="label singleline firer click ie-background commentable"  ><div class="content"><div class="valign"><span id="rtr-t-Label_9_0">CONTACT &nbsp;US</span></div></div></div>
<div id="t-Label_10" class="label singleline firer ie-background commentable"  ><div class="content"><div class="valign"><span id="rtr-t-Label_10_0">/</span></div></div></div>
<div id="t-Label_11" class="label singleline firer ie-background commentable"  ><div class="content"><div class="valign"><span id="rtr-t-Label_11_0">/</span></div></div></div>
<div id="t-Label_12" class="label singleline firer ie-background commentable"  ><div class="content"><div class="valign"><span id="rtr-t-Label_12_0">/</span></div></div></div>
<div id="t-Label_13" class="label singleline firer ie-background commentable"  ><div class="content"><div class="valign"><span id="rtr-t-Label_13_0">/</span></div></div></div>
</div>
<div id="t-Master_item_1" class="masterinstance firer ie-background commentable">
<div class="offset">
<div id="m-e7ba14db-e912-4fe9-b55f-f0b9e60a7ae4" class="master growth-both firer ie-background commentable" name="login">
<div id="alignmentBox" class="left">
<link type="text/css" rel="stylesheet" href="./resources/masters/e7ba14db-e912-4fe9-b55f-f0b9e60a7ae4-1466894348443.css" />
<!--[if IE]><link type="text/css" rel="stylesheet" href="./resources/masters/e7ba14db-e912-4fe9-b55f-f0b9e60a7ae4-1466894348443-ie.css" /><![endif]-->
<!--[if lte IE 8]><link type="text/css" rel="stylesheet" href="./resources/masters/e7ba14db-e912-4fe9-b55f-f0b9e60a7ae4-1466894348443-ie8.css" /><![endif]-->
<div id="m-e7ba14db-Dynamic_Panel_1" class="dynamicpanel firer ie-background commentable">
<div id="m-e7ba14db-Panel_1" class="panel default firer ie-background commentable" >
<div id="m-e7ba14db-Input_1" class="text firer keyup focusout focusin commentable" ><div class="content"><div class="valign"><input type="text"  value="Email" maxlength="100"  tabindex="-1" /></div>  </div></div>
<div id="m-e7ba14db-Input_2" class="text firer click commentable" ><div class="content"><div class="valign"><input type="text"  value="Password" maxlength="100"  tabindex="-1" /></div>  </div></div>
<div id="m-e7ba14db-Label_3" class="label singleline firer ie-background commentable"  ><div class="content"><div class="valign"><span id="rtr-m-e7ba14db-Label_3_0">Invalid login/password. Try again!</span></div></div></div>
<div id="m-e7ba14db-Flat-button" class="button singleline firer click mouseenter mouseleave commentable"  ><div class="content"><div class="valign"><span id="rtr-m-e7ba14db-Flat-button_0">SIGN IN</span></div></div></div>
<div id="m-e7ba14db-Input_3" class="password firer focusout commentable" ><div class="content"><div class="valign"><input type="password"  value="" maxlength="100"  tabindex="-1" /></div></div></div>

</div>
<div id="m-e7ba14db-Panel_2" class="panel hidden firer ie-background commentable" >
<div id="m-e7ba14db-Label_4" class="label singleline firer click ie-background commentable"  ><div class="content"><div class="valign"><span id="rtr-m-e7ba14db-Label_4_0">LOGOUT</span></div></div></div>

</div>
</div>
<div id="m-e7ba14db-Label_1" class="label singleline firer pageload ie-background commentable"  ><div class="content"><div class="valign"><span id="rtr-m-e7ba14db-Label_1_0">Label</span></div></div></div>
<div id="m-e7ba14db-Group_1" class="group firer ie-background commentable">
<div id="m-e7ba14db-Rectangle_2" class="pie rectangle firer commentable"  >
<div class="clipping">
<div class="content">
<div class="valign">
<span id="rtr-m-e7ba14db-Rectangle_2_0">Sign in button<br /></span><span id="rtr-m-e7ba14db-Rectangle_2_1"><br />This is the administrator user, he can assign quotes <br />to other users<br /></span><span id="rtr-m-e7ba14db-Rectangle_2_2">Email: admin &nbsp; &nbsp; Pass:medicalcare</span><span id="rtr-m-e7ba14db-Rectangle_2_3"><br /><br />These are normal users, they'll see the quotes <br />assigned by the administrator<br /></span><span id="rtr-m-e7ba14db-Rectangle_2_4">Email: john &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;Pass: john<br />Email: steve &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;Pass: steve<br />Email: richard &nbsp; &nbsp; &nbsp; Pass: richard</span>
</div>
</div>
</div>
</div>
<div id="m-e7ba14db-Button_9" class="button singleline firer click mouseenter mouseleave commentable"  ><div class="content"><div class="valign"><span id="rtr-m-e7ba14db-Button_9_0">OK</span></div></div></div>
</div>

</div>
<div id="loadMark"></div>
</div>
</div>
</div>

</div>
<div id="loadMark"></div>
</div>  
</div>
</body>
</html>